@import "../../../../assets/style/site/core";
.imageCheck{
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    .group {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // background-color: #f8f8f8;
      height: 30px;
      border-radius: 15px;
      margin: 5px;
      padding: 0 15px;
    }
    .active {
      background-color: @primary-color;
      color: #fff;
    }
  }
  .imageCheckActive {
    margin-top: 20px;
  }
  .wrapCheckHead{
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
    .refreshBtn{
      margin-right: 12px;
    }
    .total{
      right: 180px;
      top: 36px;
    }
  }
  .imageCheckTableBox{
    background-color: white;
    .wrapCheckTable{
      position: relative;
      padding: 0 20px 40px;
      .ant-table-body{
        padding-top: 10px;
        .ant-table-thead > tr > th{
          background: #ffffff;
          font-weight: normal;
          border-bottom: 1px solid #d9d9d9;
        }
      }
      .ant-pagination{
        position: absolute;
        top: -44px;
        right: 20px;
      }
      .statusPass, .waitForCheck{
        display: inline-flex;
        align-items: center;
        i{
          display: inline-block;
          margin-right: 8px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
        }
      }
      .statusPass {
        color: @success-color;
        i{
          background-color: @success-color;
        }
      }
      .waitForCheck {
        color: @error-color;
        i{
          background-color: @error-color;
        }
      }
    }
    .operateBtn {
      width: 135px;
      .passBtn {
        margin-right: 12px;
      }
    }
  }
}
.imageIDBox{
  color: @primary-color;
  .address{
    i{
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
