@import "../../../../assets/style/site/core";
.checkPage{
  padding: 25px;
  .ant-tabs-bar{
    .ant-tabs-nav-container {
      .ant-tabs-tab{
        margin-right: 0;
        border-radius: 5px 5px 0 0;
      }
      .ant-tabs-tab-active{
        border-color: @primary-color;
        background: none;
      }
    }
  }
}