#AppDeployServiceModal {
	padding-top: 40px;
	width: 100%;
	height: 100%;
	.inputBox {
		margin-top: 10px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.commonSpan {
		float: left;
		display: block;
		width: 120px;
		height: 40px;
		line-height: 40px;
		text-align: left;
		font-size: 14px;
	}
	.commonTitle {
		padding-left: 30px;
		width: 100%;
		height: 40px;
		line-height: 38px;
		border-bottom: 1px solid #E5E5E5;
		.line {
			margin-top: 8px;
			float: left;
			width: 5px;
			height: 20px;
			border-left: 5px solid #00A1EA;
		}
		.titleSpan {
			float: left;
			padding-left: 10px;
			font-size: 16px;
		}
		.titleIntro {
			margin-left: 20px;
			float: left;
			font-size: 12px;
		}
	}
	.topBox {
		.serviceNameInput {
			margin-top: 4px;
			float: left;
			width: 220px;
		}
		.imageInput {
			margin-top: 4px;
			float: left;
			width: 350px;
		}
		.checkBtn {
			margin-top: 4px;
			margin-left: 10px;
			float: left;
		}
		.imageTag {
			margin-top: 4px;
			float: left;
		}
	}
	.infoBox {
		width: 100%;
		padding-bottom: 20px;
		.operaBox {
			padding-left: 40px;
			.selectCompose {
				margin-top: 10px;
			}
			.composeList {
				float: left;
				width: calc(~"100% - 120px");
			}
			.composeDetail {
				margin-top: 10px;
				margin-left: 20px;
				float: left;
				.ant-btn-primary {
					width: 100px;
					padding: 0 !important;
					.topBox {
						height: 25px;
						line-height: 25px;
						font-size: 16px;
					}
					.bottomBox {
						width: 100%;
						height: 60px;
						padding: 10px;
						text-align: center;
						background-color: #FFFFFF;
						color: #2db7f5;
						border-bottom-left-radius: 6px;
						border-bottom-right-radius: 6px;
					}
				}
				.ant-btn-ghost {
					width: 100px;
					padding: 0 !important;
					.topBox {
						height: 25px;
						line-height: 25px;
						font-size: 16px;
						background-color: #d9d9d9;
						border-top-left-radius: 4px;
						border-top-right-radius: 4px;
					}
					.bottomBox {
						width: 100%;
						height: 60px;
						padding: 10px;
						text-align: center;
						background-color: #FFFFFF;
						border-bottom-left-radius: 6px;
						border-bottom-right-radius: 6px;
					}
				}
				.ant-btn-ghost:hover {
					.topBox {
						background-color: #2db7f5;
						color: #FFFFFF;
						transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
					}
				}
			}
			.composeDetail:first {
				margin-left: 0 !important;
			}
			.stateService {
				.changeBtn {
					margin-left: 20px;
					line-height: 40px;
				}
				.stateSpan {
					margin-left: 15px;
					line-height: 40px;
					font-size: 14px;
				}
				.serviceOpen {
					margin-left: 140px;
					height: 40px;
					line-height: 40px;
					.url {
						font-size: 14px;
					}
					.imageTag {
						margin-left: 10px;
					}
					.readOnlyBtn,
					i {
						margin-left: 15px;
					}
				}
			}
			.containerNum {
				font-size: 14px;
				line-height: 40px;
				.inputNum {
					margin-left: 20px;
				}
			}
		}
	}
	.ant-collapse {
		background-color: inherit !important;
		border: 0px !important;
		.ant-collapse-item{
			border: 0px !important;
		}
		.ant-collapse-header {
			position: relative;
			padding: 0px !important;
			i {
				position: absolute;
				margin-left: 93%;
				font-size: 25px;
			}
			i:before{
				content: "\e603" !important;
			}
		}
	}
	.assitBox{
		.entryInput{
			float: left;
			width: 220px;
		}
	}
}