#ServiceList{
  padding: 40px 40px;
  button{
    height: 35px;
  }
  .operaBox{
    width: 100%;
    button{
      margin-right: 20px;
    }
  }
  .dataBox{
    margin-top: 20px;
    .commonData{
      float: left;
    }
    .selectIconTitle{
      width: 5%;
      text-align: center;
    }
    .name{
      width: 18%;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .image{
      width: 38%;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .resource{
      width: 14%;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .opera{
      width: 25%;
    }
    .titleBox{
      height: 40px;
      line-height: 39px;
      border-bottom: 1px solid #E5E5E5;
    }
    .serviceList{
      .serviceDetail{
        min-height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #E5E5E5;
        .viewBtn{
          margin-right: 10px;
        }
      }
      .serviceDetail:hover{
        background-color: #F2F2F2;
      }
      .selectedService{
        background-color: #effdff;
        .viewBtn{
          color: #FFFFFF;
          border-color: #2db7f5;
          background-color: #2db7f5;
        }
      }
    }
  }
  .modal-price{
    height: 50px;
    line-height: 50px;
    padding:0 30px;overflow: hidden;
    background: #E4F5FD;
    border: 1px solid #7DCFF5;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 40px;
    .price-left{
      width: 60%;float: left;
      .keys{display: inline-block;width: 40%;}
    }
    .unit{color: #21ADEB;}
    .blod{font-size: 22px;}
    .price-unit{padding-left:30px;width:40%;float: left;border-left: 1px dashed #7DCFF5}
  }
  .btnBox{
    margin-top: 50px;
    text-align: center;
    button{
      margin-right: 30px;
      width: 110px;
    }
  }
}
.appAddServiceModal {
  .ant-modal-footer {
    display: none !important;
  }
}
