#ServiceList{
	padding: 40px 40px;
	button{
		height: 35px;
	}
	.operaBox{
		width: 100%;
		button{
			margin-right: 20px;
		}
	}
	.dataBox{
		margin-top: 20px;
		.commonData{
			float: left;
		}
		.selectIconTitle{
			width: 5%;
			text-align: center;
		}
		.name{
			width: 30%;
		}
		.image{
			width: 28%;
		}
		.resource{
			width: 12%;
		}
		.opera{
			width: 25%;
		}
		.titleBox{
			height: 40px;
			line-height: 39px;
			border-bottom: 1px solid #E5E5E5;
		}
		.serviceList{
			.serviceDetail{
				min-height: 50px;
				line-height: 50px;
				border-bottom: 1px solid #E5E5E5;
				.viewBtn{
					margin-right: 10px;
				}
			}
			.serviceDetail:hover{
				background-color: #F2F2F2;
			}
			.selectedService{
				background-color: #effdff;
				.viewBtn{
					color: #FFFFFF;
					border-color: #2db7f5;
					background-color: #2db7f5;
				}
			}
		}
	}
	.btnBox{
		margin-top: 50px;
		text-align: center;
		button{
			margin-right: 30px;
			width: 110px;
		}
	}
}
