#ProgressBox {
  height:100%;
  .boxContainer {
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    .wrapper {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      .green {
        .progress {
          width: 90px;
          height: 90px;
          position: relative;
          border-radius: 50%;
          transition: all 1s ease;
          .inner {
            width: 90px;
            height: 90px;
            position: absolute;
            overflow: hidden;
            z-index: 2;
            border-radius: 50%;
            border: 2px solid #00aaee;
            transition: all 1s ease;
            .water {
              position: absolute;
              width: 200%;
              height: 200%;
              left: -50%;
              border-radius: 40%;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-name: spin;
              z-index: 114;
              background: #00aaee;
              transition: all 1s ease;
              animation-duration: 10s;
            }
            .w2 {
              background: #68cff7;
              left: 20%;
              z-index: 110;
            }
          }
          .percent {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 90px;
            font-size: 22px;
            font-weight: normal;
            color: #000000;
            z-index: 1000;
            transition: all 1s ease;
          }
          .highLightSpan {
            color: #FFFFFF !important;
          }
        }
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}