.readOnlyPrompt {
  .readOnlyCont {
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: rgb(243, 152, 17);
    height: 24px;
    line-height: 24px;
    color: #fff;
    .candlePrompt {
      float: right;
      padding: 0 9px;
      cursor: pointer;
    }
  }
}
