.readOnlyPrompt {
  .readOnlyCont {
    padding: 0 20px;
    background-color: #fcf7d8;
    height: 44px;
    line-height: 44px;
    color: #7f7f7d;
    text-align: center;
    font-size: 14px;
    .candlePrompt {
      float: right;
      i {
        cursor: pointer;
      }
    }
  }
}
