/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2016 TenxCloud. All Rights Reserved.
 *
 * label module
 *
 * v0.1 - 2018-07-11
 * @author rensiwei
 */
 @import "../../../../../../assets/style/site/core";

.LabelModule{
  .total{
    position: absolute;
    top: 12px;
    right: 150px;
  }
  .ant-pagination {
    position: absolute;
    right: 0;
    top: -9px;
  }
  .tenx-icon{
    font-size: 12px;
    margin-right: 8px;
  }
  .marginRight{
     margin-right: 15px;
   }
  .ant-table-thead>tr >th{
      font-weight: normal;
      background: white;
      border-bottom: 1px solid #e9e9e9;
    }
  .tag{
    height: 24px;
    text-align: center;
    color: white;
    min-width: 80px;
    line-height: 24px;
    border-radius: 20px;
    display: inline-block;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }
  .nocolor{
    color: #666;
    border: 1px solid #666;
  }
  .description{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ant-btn-lg{
    padding:5px 10px;
  }
  button{
    margin-right: 10px;
  }
  .topRow {
    .search {
      width: 180px;
    }
    .fa-search{
      margin-left: -20px;
      font-size: 14px;
      position: relative;
      color: #999;
      cursor: pointer;
    }
    .totalPage {
      float: right;
      margin-right: 150px;
      padding-top: 7px;
    }
  }
  .pickerBtn{
    margin-left: 20px;
  }
  .editor{
    box-sizing: border-box;
    background-color: #fcfcfc;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 6px 40px;
    margin: 20px 0;
    font-size: @font-size-base;
    .colorBox{
      height: 20px;
      width: 20px;
      transform: translateY(6px);
      display: inline-block;
      margin-right: 10px;
    }
    .colorInput{
      width: ~'calc(100% - 30px)';
    }
    .btnContainer{
      text-align: center;
      transform: translateY(7px);
    }
    input{
      border: none;
      background: #fcfcfc;
      border-bottom: 1px solid #d9d9d9;
      border-radius: unset;
      outline: none;
    }
    input:focus{
      box-shadow: none !important;
    }
    .ant-row{
      transform: translateY(5px);
    }
  }
}

 .labelmodule_picker{
   .twitter-picker{
     width: 205px !important;
     border: none !important;
     box-shadow: none !important;
   }
   .ant-popover-inner-content {
    padding: 8px 5px !important;
  }
}