#CommonStatus{
  .fa{
    margin-left: 5px;
  }
  .Running{
    color: #65BC2C;
  }
  .Waiting{
    color: #FFA000;
  }
  .Pending{
    color: #5E99E1;
  }
  .Stopped{
    color: #DF582C;
  }
  .Failed{
    color: #DF582C;
  }
  .Initialization{
    color: #5E99E1;
  }
  .Terminating{
    color: #FFA000;
  }
  .Abnormal{
    color: #65BC2C;
  }
  .Normal{
    color: #5cb85c;
  }
  .Warning{
    color: #f85a5a;
  }
}
