//Integration Container
#Integration {
  width: 100%;
  overflow-x: hidden;
  // overflow: auto;
  // min-width: 1350px;
  .IntegrationContent {
    transition: all 0.3s;
    height: auto;
    width: 100%;
  }
}