#load-balancer{
  // padding:20px;
  .handleBox{
    margin-bottom: 20px;
    padding:0 20px;

    .buttonMarign{
      margin-right: 12px;
    }
    .searchDiv{
      display: inline-block;
      position: relative;
    }
    .searchBox{
      width:200px;
    }
    .totleNum{
      float:right;
      padding-top: 8px;
      margin-right:160px;
    }
  }
  .tableBox{
    background: white;
    position: relative;
    border-radius: 6px;
    .ant-pagination-simple{
      position: absolute;
      top:-64px;
      right:0;
    }
    .circleIcon{
      margin-right:8px;
    }
  }
  .configuration{
    color: #58c2f6;
    cursor: pointer;
  }
}