/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of app configuration
 *
 * @author zhangxuan
 * @date 2018-09-07
 */
@import "../../../../../../src/assets/style/site/core";
.middleware-configs-wrapper {
  padding: @padding-medium;
  .middleware-configs {
    .has-error.has-feedback:after {
      display: none;
    }
    .ant-form-item-required {
      &:before {
        display: none;
      }
    }
    .configs-content {
      padding: @padding-medium;
      background: #fff;
    }
    .ant-form-explain {
      word-break: break-all !important;
      height: auto !important;
      white-space: normal !important;
    }
    .ant-form-item-label {
      text-align: left;
      label {
        font-size: 14px;
        padding-left: 25px;
        &:after {
          display: none;
        }
      }
    }
    .formItemLabel {
      font-size: 14px;
      padding-left: 25px;
    }
    .ant-form-item-control {
      .ant-select-lg {
        width: 100%;
      }
      .ant-select-lg .ant-select-selection--single .ant-select-selection__rendered {
        line-height: 30px;
        height: 30px;
      }
    }
    .ant-collapse {
      background-color: inherit !important;
      border: 0 !important;
      .ant-collapse-item {
        border: 0 !important;
      }
      .ant-collapse-header {
        position: relative;
        padding: 0 !important;
        i {
          position: absolute;
          margin-left: 96%;
          margin-left: calc(~"98% - 30px");
          font-size: 20px;
        }
        i:before {
          content: "\e601" !important;
        }
      }
      .ant-collapse-header[aria-expanded="true"] .arrow {
        transform: scale(0.58333333) rotate(90deg) !important;
      }
      .ant-collapse-content {
        clear: both;
        padding: 0;
      }
    }
    .configBoxHeader {
      background-color: #f5f5f5;
      height: 40px;
      line-height: 40px;
      .headerLeft {
        position: relative;
        clear: both;
        .line {
          margin-top: 12px;
          float: left;
          width: 5px;
          height: 16px;
          border-left: 5px solid @primary-color;
          margin-left: 10px;
        }
        .title {
          padding-left: 10px;
          width: 100px;
          font-size: 16px;
        }
      }
      .desc {
        padding-top: 2px;
        font-size: 12px;
      }
    }
    .reset-background-color {
      background-color: #fff;
    }
    .form-field-box {
      padding: @padding-medium @padding-small;
    }
    .headerBox {
      background-color: #f5f5f5;
      .configBoxHeader {
        background-color: transparent;
      }
    }
    .lastFormItem {
      margin-bottom: 0;
    }
    .clearBoth {
      clear: both;
    }
    .footer {
      padding: @padding-small @padding-small;
      border-top: @border-width-base @border-style-base @border-color-base;
      button {
        margin-right: @padding-small;
      }
      .ant-col-offset-3 {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
    .modal-price {
      border-radius: 10px;
      border: 1px solid #21adeb;
      background: #e4f5fd;
      .price-top {
        padding-top: 10px;
        padding-bottom: 15px;
        .keys {
          width: 85%;
          margin: 0 auto;
          line-height: 30px;
        }
      }
      .price-unit {
        height: 80px;
        padding-top: 15px;
        border-top: 1px dashed #21adeb;
        .price-unit-inner {
          width: 85%;
          margin: 0 auto;
        }
        .unit {
          color: #21adeb;
        }
        .blod {
          font-size: 22px;
        }
      }
    }
}
