/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of mysql node
 *
 * @author zhangxuan
 * @date 2018-09-08
 */
@import "../../../../../../src/assets/style/site/core";
.mysql-node-config {
  .storage-select {
    display: inline-block;
  }
  .storage-number {
    display: inline-block;
    width: 100px;
    margin: 0 @padding-base;
  }
}
