#MySpace {
  .svcStateImg {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 10px;
  }
  .stateSvg {
    width: 15px;
    height: 18px;
    margin: 0 5px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  #stateSvg {
    width: 15px;
    height: 18px;
    margin: 0 5px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .cdid {
    .cicdDot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .cicdInf {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      table {
        font-size: 13px;
        width: 100%;
        color: #666;
        tr {
          height: 27px;
          line-height: 27px;
          .cicdNum {
            text-align:'right';
            padding-right: 5px;
          }
        }
      }
    }

  }
  .clusterTab {
    width: 100%;
    border-collapse: collapse;
    tr {
      border: 1px solid #e2e2e2;
      color: #666;
      td {
        line-height: 29px;
        font-size: 13px;
      }
      .trecordNum {
        text-align: 'right';
        padding-right: 10px;
      }
    }
  }
  .log {
    .ant-card-body {
      padding: 0;
    }
    .logItem {
      height: 50px;
      .logTitle {
        height: 30px;
        font-size: 13px;
      }
      .logInf {
        height: 20px;
        line-height: 20px;
        font-size: 12px !important;
        overflow: hidden;
        color: #999;
        .logTime {
          float: right;
        }
      }
    }
  }
  .warn {
    .ant-timeline-item-head-custom {
      margin: 0;
      padding: 0;
    }
    .warnListWrap {
      overflow-y: auto;
      position: relative;
      height: 100%;
      .warnList {
        position: absolute;
        left: 50%;
        top: 22px;
        transform: translateX(-50%);
        .warnItem {
          height: 80px;
          width: 210px;
          background-color: #f5f5f5;
          position: relative;
          top: -18px;
          padding: 12px;
          &::before {
            content: '';
            position: absolute;
            left: -14px;
            top: 15px;
            height: 0;
            width: 0;
            border: 7px solid transparent;
            border-right:7px solid #f5f5f5 ;
          }
          .itemTitle {
            font-size: 14px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .itemInf {
            font-size: 12px;
            height: 20px;
            line-height: 20px;
          }
        }
        .fistWarn {
          background-color: #feeeee;
          color: #f45c5b;
          &::before {
            border-right:7px solid #feeeee;
          }
        }
        .warnDot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #dbdbdb;
          margin: 0 auto;
        }
        .noWarnImg {
          margin-top: 100px;

        }
      }
    }

  }
}