.DeleteModal {
  .ant-modal-content {
    min-width: 600px;
    .number {
      color: red;
      font-size: 16px;
      margin-left: 2px;
      margin-right: 2px;
    }
    .selectedNumber {
      float: left;
      height: 32px;
      line-height: 32px;
      padding-left: 20px;
    }
    .warningRow {
      color: #666;
      background-color: #fffbf5;
      border-color: #ffc000;
      .alertRowIcon {
        color: #ffc000;
        font-size: 24px;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .number {
        font-size: 14px;
      }
    }
    .marginBottom {
      margin-bottom: 15px;
    }
    .reCheck {
      margin-left: 8px;
    }
  }
}
