#Membermanagement {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  .ant-alert {
    color: #1a7db6;
    font-size: 13px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .Btn {
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    span {
      font-weight:400;
    }
  }
  .btn {
    background:#fff;
  }
  .total {
    display: inline-block;
    line-height: 35px;
    float: right;
    margin-right: 160px;
  }
  .total {
    display: inline-block;
    line-height: 35px;
    float: right;
    margin-right: 160px;
  }
  .memberList {
    margin-bottom: 26px;
    .ant-card {
      overflow: inherit;
    }
    .ant-card-body {
      padding: 0;
      .ant-table {
        .setBtn {
          font-weight: normal;
          margin-right: 12px;
          border-radius: 3px;
        }
        .delBtn {
          background-color: #fff;
          border-radius: 3px;
          font-weight: normal;
          &:hover {
            background-color: #f75b59;
            color: #fff;
            border-color: #f75b59;
          }
        }
        .memberName {
          padding-left: 24px;
        }
        .action{min-width: 160px;}
      }
      /* .ant-table-pagination {
        margin: 16px 46px;

      } */
      .ant-table-pagination {
        margin: 16px 46px;
        position: absolute;
        top: -66px;
        right: -40px;
      }
    }
    .memberlist {
      padding: 0px 20px;
      th {
        background:#fff;
        border-bottom:1px solid #e9e9e9;
        span {
          font-weight:400;
        }
      }
    }
  }
}
.NewMemberForm {
  .ant-modal-header {
    padding: 14px 16px 14px 30px;
  }
  .ant-modal-body {
    padding: 30px 0 0 0;
    .ant-form-item {
      height: 36px;
      line-height: 24px;
      margin-bottom: 24px;
      .has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after{
        position: absolute;
        top: 4px !important;
      }
      .is-validating.has-feedback:after {
        position: absolute;
        top: 4px !important;
      }
      .ant-form-item-label {
        padding: 0 0 0 30px;
        text-align: left;
        width: 120px;
        label {
          display: inline-block;
          height: 38px;
          line-height: 38px;
          &::after {
            content: '';
          }
        }
        .ant-form-item-required {
          &::before {
            display: none;
          }
          &::after {
            content: '';
          }
        }
      }
      .ant-form-item-control {
        height: 38px;
        line-height: 38px;
        width: 340px;
      }
      .ant-checkbox-vertical {
        width: 340px;
        margin-left: 110px;
      }
    }
  }
}
.createUserSuccessModal {
  .ant-modal-body {
    font-size: 12px;
    .textAlignCenter {
      text-align: center;
      vertical-align: middle;
    }
    .alertRow {
      font-size: 12px;
    }
    .successTitle {
      padding: 10px;
      font-size: 16px;
      color: #6fbc3f;
    }
    .createUserErrorMsg {
      color: #ffc000;
      font-size: 12px;
    }
  }
}

.deleteMemberModal {
  .warningRow {
    font-size: 12px;
    color: #666;
    background-color: #fffbf5;
    border-color: #ffc000;
    .alertRowIcon {
      color: #ffc000;
      font-size: 24px;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    .alertRowDesc {
      height: 40px;
      line-height: 40px;
    }
  }
  .delErrorMsg {
    background-color: #363636;
    border-radius: 5px;
    color: #fff;
    .delErrorMsgHeader {
      padding: 10px;
      position: relative;
      font-size: 14px;
      border-bottom: 1px solid #4d4d4d;
      height: 40px;
      .delErrorMsgText {
        color: #57c5f7;
        float: left;
      }
      .delErrorMsgIcon {
        float: right;
        cursor: pointer;
      }
    }
    .delErrorMsgBody {
      padding: 10px;
      clear: both;
    }
  }
}