#Membermanagement {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  .alertTip {
    border: 1px dashed #85d7fd;
    border-radius: 6px;
    background: #d9edf6;
    color: #1a7db6;
    font-size: 14px;
    padding: 10px 13px;
    margin-bottom: 20px;
    .lbgroup_icon{
      cursor: pointer;
      color: #2db7f5;
      margin-right: 5px;
    }
  }
  .ant-alert-message {
    font-size: 14px;
  }
  .ant-alert {
    color: #1a7db6;
    font-size: 13px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 13px;
  }
  .Btn {
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    span {
      font-weight:400;
    }
  }
  .btn {
    background:#fff;
  }
  .total {
    display: inline-block;
    line-height: 35px;
    float: right;
    margin-right: 160px;
  }
  .total {
    display: inline-block;
    line-height: 35px;
    float: right;
    margin-right: 160px;
  }
  .memberList {
    margin-bottom: 26px;
    .ant-card {
      overflow: inherit;
    }
    .ant-card-body {
      padding: 0;
      .ant-table {
        .setBtn {
          font-weight: normal;
          margin-right: 12px;
          border-radius: 3px;
        }
        .delBtn {
          background-color: #fff;
          border-radius: 3px;
          font-weight: normal;
          &:hover {
            background-color: #f75b59;
            color: #fff;
            border-color: #f75b59;
          }
        }
        .memberName {
          padding-left: 24px;
        }
        .action{min-width: 160px;}
      }
      .ant-spin-container{
        position: relative;
        .ant-table-pagination {
          position: absolute;
          top: -77px;
          right: -20px;
        }
      }
    }
    .memberlist {
      padding: 12px 24px 40px;;
      th {
        background:#fff;
        border-bottom:1px solid #e9e9e9;
        span {
          font-weight:400;
        }
      }
    }
  }
  .offlineTag {
    background-color: #d9d9d9;
    color: #fff;
  }
}
.NewMemberForm {
  .ant-modal-header {
    padding: 14px 16px 14px 30px;
  }
  .ant-modal-body {
    padding: 30px 0 0 0;
    .ant-form-item {
      height: 36px;
      line-height: 24px;
      margin-bottom: 24px;
      .has-success.has-feedback:after, .has-warning.has-feedback:after, .has-error.has-feedback:after, .is-validating.has-feedback:after{
        position: absolute;
        top: 4px !important;
      }
      .is-validating.has-feedback:after {
        position: absolute;
        top: 4px !important;
      }
      .ant-form-item-label {
        padding: 0 0 0 30px;
        text-align: left;
        width: 120px;
        label {
          display: inline-block;
          height: 38px;
          line-height: 38px;
          &::after {
            content: '';
          }
        }
        .ant-form-item-required {
          &::before {
            display: none;
          }
          &::after {
            content: '';
          }
        }
      }
      .ant-form-item-control {
        height: 38px;
        line-height: 38px;
        width: 340px;
      }
      .ant-checkbox-vertical {
        width: 340px;
        margin-left: 110px;
      }
    }
  }
}
.createUserSuccessModal {
  .ant-modal-body {
    font-size: 12px;
    .textAlignCenter {
      text-align: center;
      vertical-align: middle;
    }
    .alertRow {
      font-size: 12px;
    }
    .successTitle {
      padding: 10px;
      font-size: 16px;
      color: #6fbc3f;
    }
    .createUserErrorMsg {
      color: #ffc000;
      font-size: 12px;
    }
    .createUserSucessMsg {
      color: #6fbc3f;
      font-size: 12px;
    }
  }
}
.deactiveMemberModal {
  .warningRow {
    font-size: 12px;
    color: #666;
    background-color: #fffbf5;
    border-color: #ffc000;
    padding: 5px 15px;
    .alertRowIcon {
      color: #ffc000;
      font-size: 24px;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    .alertRowDesc {
      height: 40px;
      line-height: 40px;
    }
  }
}

.manageRangeWrapper {
  .ant-modal {
    width: 840px !important;
  }
  z-index: 1100;
  .infrastructureManageRange {
    background: #f5f6f8;
    height: 410px;
    padding: 20px;
    position: relative;
    .name {
      background: #2db7f5;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      color: #fff;
      border-radius: 6px;
      padding: 6px;
      &:after {
        content: "";
        display: block;
        width: 76px;
        height: 1px;
        background: #ccccce;
        position: absolute;
        top: 50%;
        margin-top: -0.5px;
        right: -76px;
      }
    }
    .bracket1 {
      position: absolute;
      left: 191px;
      top: 50%;
      margin-top: -151px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 300px;
      z-index: 1010;
      .rangeNames {
        position: absolute;
        height: 400px;
        width: 100px;
        background: #f5f6f8;
        left: 20px;
        top: -50px;
        padding-left: 10px;
        .name-item {
          height: 28px;
          border-radius: 6px;
          border: 1px solid #cccccc;
          padding: 6px;
          line-height: 15px;
        }
        .names{
          position: absolute;
          &:nth-child(1) {
            top:35px
          }
          &:nth-child(2) {
            top:75px
          }
          &:nth-child(3) {
            top:115px;
            width: 200px;
            display: flex;
            align-items: center;
            span {
              margin-left: 5px;
            }
          }
          &:nth-child(4) {
            top:205px;
            &:after {
              content: "";
              display: block;
              width: 80px;
              height: 1px;
              background: #ccccce;
              position: absolute;
              top: 50%;
              margin-top: -0.5px;
              right: -80px;
            }
          }
          &:nth-child(5) {
            top:335px;
            &:after {
              content: "";
              display: block;
              width: 80px;
              height: 1px;
              background: #ccccce;
              position: absolute;
              top: 50%;
              margin-top: -0.5px;
              right: -80px;
            }

          }
        }
      }
    }
    .bracket2 {
      position: absolute;
      left: 362px;
      top: 50%;
      margin-top: -37px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 120px;
      z-index: 1010;
      .subRangeNames {
        width: 355px;
        height: 150px;
        padding-left: 10px;
        background: #f5f6f8;
        position: absolute;
        top:-15px;
        left: 20px;
        .subNames {
          height: 30px;
          line-height: 30px;
          margin-bottom: 9px;
        }
      }
    }
    .bracket3 {
      position: absolute;
      left: 362px;
      top: 350px;
      margin-top: -25px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 50px;
      z-index: 1010;
      .subRangeNames {
        width: 355px;
        height: 70px;
        padding-left: 10px;
        background: #f5f6f8;
        position: absolute;
        top:-10px;
        left: 20px;
        .subNames {
          margin-bottom: 32px;
        }
      }
    }
  }
  .platformManageRange {
    background: #f5f6f8;
    height: 400px;
    padding: 20px;
    position: relative;
    .name {
      background: #2db7f5;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      color: #fff;
      border-radius: 6px;
      padding: 6px;
      &:after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background: #ccccce;
        position: absolute;
        top: 50%;
        margin-top: -0.5px;
        right: -100px;
      }
    }
    .bracket1 {
      position: absolute;
      left: 191px;
      top: 50%;
      margin-top: -101px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 200px;
      z-index: 1010;
      .rangeNames {
        position: absolute;
        height: 300px;
        width: 100px;
        background: #f5f6f8;
        left: 20px;
        top: -50px;
        padding-left: 10px;
        .name-item {
          height: 28px;
          border-radius: 6px;
          border: 1px solid #cccccc;
          padding: 6px;
          line-height: 15px;
        }
        .names{
          position: absolute;
          &:nth-child(1) {
            top:35px;
            &:after {
              content: "";
              display: block;
              width: 80px;
              height: 1px;
              background: #ccccce;
              position: absolute;
              top: 50%;
              margin-top: -0.5px;
              right: -80px;
            }
          }
          &:nth-child(2) {
            top:115px;
            width: 200px;
            display: flex;
            align-items: center;
            span {
              margin-left: 5px;
            }
          }
          &:nth-child(3) {
            top:235px;
            &:after {
              content: "";
              display: block;
              width: 80px;
              height: 1px;
              background: #ccccce;
              position: absolute;
              top: 50%;
              margin-top: -0.5px;
              right: -80px;
            }
          }
        }
      }
    }
    .bracket2 {
      position: absolute;
      left: 362px;
      top: 77px;
      margin-top: -37px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 120px;
      z-index: 1010;
      .subRangeNames {
        width: 355px;
        height: 150px;
        padding-left: 10px;
        background: #f5f6f8;
        position: absolute;
        top:-15px;
        left: 20px;
        .subNames {
          height: 30px;
          line-height: 30px;
          margin-bottom: 9px;
        }
      }
    }
    .bracket3 {
      position: absolute;
      left: 362px;
      top: 225px;
      border: 1px solid #ccccce;
      border-radius: 20px;
      width: 100px;
      height: 150px;
      z-index: 1010;
      .subRangeNames {
        width: 355px;
        height: 160px;
        padding-left: 10px;
        background: #f5f6f8;
        position: absolute;
        top:-10px;
        left: 20px;
        .subNames {
          margin-bottom: 19px;
        }
      }
    }
  }

}
