@import '~assets/style/site/core';
.instanceTopology {
  position: relative;
  .topoTitle {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    .ant-row {
      width: 500px;
      .title {
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        margin: 8px 0;
        padding-left: 8px;
        border-left: 4px solid @primary-color;
      }
    }
  }
}
