/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of Load balance config
 *
 * @author zhangxuan
 * @date 2019-01-02
 */
@import '~assets/style/site/core';
.loadbalance-config {
  .config-header-btns {
    padding: @padding-base 0 0 @padding-medium;
    margin-bottom: @padding-small;
    button {
      margin-right: @padding-small;
    }
  }
}
