.importTraditionEnv {
  .ant-row.nomarginbottom {
    margin-bottom: 0;
  }
  .eyeIcon {
    position: absolute;
    top: 11px;
    right: -25px;
    cursor: pointer;
  }
  .rowHome {
    margin-bottom: 25px;
    .left {
      text-align: right;
    }
    .equre {
      text-align: center;
    }
  }
  .noMarginBottom {
    margin-bottom: 0;
  }
}
