@import "~assets/style/site/core.less";
.importTraditionApp {
  .item_app {
    position: relative;
    border-bottom: 1px dotted #d9d9d9;
    margin-bottom: 20px;
    .ant-input-number {
      width: 100%;
    }
    .hint {
      position: absolute;
      right: -15px;
      top: 0;
    }
    .delBtn {
      position: absolute;
      right: 30%;
      top: 50%;
      font-size: 16px;
      border: 1px dotted #33bff6;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
}
