#base-keypairs {
  padding: 5px 20px 20px;
  .top-row {
    margin-bottom: 20px;
    margin-top: 20px;
    // padding-left: 20px;
    button{margin-right: 8px;}
    .ant-btn-ghost {background: white;}
    .liberates{width: 14px;vertical-align: middle;margin-right: 3px;}
  }
  .ant-card{overflow: initial;}

  .ant-spin-container {position: relative;}
  .ant-table{
    overflow: inherit;
    .ant-table-content {overflow: inherit;}
  }
  .ant-table-pagination {
    position: absolute;
    right: 0px;
    top: -60px;
    li{margin-left: 6px;}
  }
}