#VMList{
  padding: 30px;
  min-height: 1000px;
  table{
    background-color: white;
    margin-top: 20px;
    padding: 20px 20px;
    thead{
      tr{
        th{
          background-color: white;
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }
  }
  .addBtn {
    font-weight: normal;
    background-color: #2db7f5;
    padding: 5px 10px;
    float: left;
    margin-right: 4px;
    margin-bottom: 20px;
  }
  .tabBtn{
    font-weight: normal;
    background-color: #2db7f5;
    float: left;
    margin-right: 10px;
  }
  .delBtn {
    font-weight: normal;
    background-color: #fff;
    border-radius: 3px;
    /*padding: 5px 10px;*/
  }
  .manageBtn{
    font-weight: normal;
    float: left;
    margin-left: 10px;

    background-color: white;
    i{
      margin: 2px;
    }
  }
  .manageBtn:last-of-type{
    margin-right: 10px;
  }
  .total {
    display: inline-block;
    line-height: 35px;
    float: right;
    margin-right: 160px;
  }
  .ant-card {
    overflow: inherit;
  }
  .ant-table-pagination {
    margin: 16px 46px;
    position: absolute;
    top: -66px;
    right: -40px;
  }
  .balanceColor{
    color: #69bd67;
  }
  .IP{
    padding-left: 24px
  }
}