.vmServiceList{
  padding: 25px 20px;
  .serviceListBtnBox{
    &>button{
      margin-right: 10px;
    }
    .refreshBtn,.deleteBtn{
      background-color: white;
    }
    .totalNum{
      margin: 8px 120px 0 0;
    }
  }
  table{
    background-color: white;
    margin-top: 20px;
    thead{
      tr{
        th{
          background-color: white;
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }
  }
  .ant-spin-container{
    position: relative;
    .ant-table-pagination{
      position: absolute;
      top: -45px;
      right: 0;
    }
  }
}