#StateBtnModal {
  .confirm {
    color: #00a0ea;
  }
  .tableWarp {
    height: 131px;
    overflow-y: auto;
    margin-bottom: 16px;
    .modalList {
      width: 100%;
      border-collapse: collapse;

      tr {
        border: 1px solid #e2e2e2;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
    }
  }
  .modalDot {
    display: inline-block;
    height: 16px;
    width: 30px;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    color: #fff;
  }
}