#AlarmGroup{
  width: 100%;
  overflow: hidden;
  .alarmGroupHeader{
    padding:6px 0 20px 0;
    .alarmGroupHeaderButton{
      heigth:36px;
      width:79px;
      font-size: 14px;
      margin-right: 12px;
      .icon{
        margin-right: 6px;
      }
    }
    .alarmGroupHeaderInput{
      float: right;
      width:180px;
    }
  }
  .alarmGroupContent{
    background: white;
    overflow: hidden;
    border-radius: 4px;
    .fontstyle{
      font-size: 14px;
    }
    .more {
      display: inline-block;
      margin-left: 5px;
      width: 15px;
      height: 16px;
      cursor: pointer;
      vertical-align: middle;
      fill: #c7cbce;
    }
    .more.ant-popover-open {
        fill: #49b1e2 ;
    }
  }
}