/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of sysServiceManageDetail
 *
 * @author Songsz
 * @date 2018-12-24
 */
@import '~assets/style/site/core';

.clusterSysServiceManageDetailMonitor {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .monitor-filter-content {
      .ant-popover-inner-content {
        padding: @padding-small 0 0 !important;
      }
    }
  }
}

