#HostDetail {
  padding:20px;
  .HostDetail {
    .top-status {
      height: 145px;
      margin-bottom: 20px;
      overflow: hidden;
      .hostImg {
        position: absolute;
        top: -25px;
        left: -10px;
      }
      .host-status {
        margin-left: 150px;
        li {line-height: 30px;}
      }
    }
  }
  .detailInfo {
    .info-list {line-height: 30px;}
  }
  .title {
    height: 40px;
    .text{
      border-left: 5px #2db7f5 solid;
      padding-left: 10px;
      font-size: 16px;
    }
  }
}