#openstack{
  padding:20px;
  .top-row {
    margin-bottom: 20px;
    // margin-top: 24px;
    // padding-left: 20px;
    button{margin-right: 8px;}
    .ant-btn-ghost {background: white;}
    .resise{
      padding-left: 8px;
      i{
        -webkit-transform: rotate(-45deg) scale(0.8);
        -ms-transform: rotate(-45deg) scale(0.8);
        transform: rotate(-45deg) scale(0.8);
      }

    }
  }
  .host-list {
    position: relative;
    overflow: inherit;
    .ant-card-body {padding:0px;}
  }
  .ant-spin-container {position: relative;}
  .ant-table{
    overflow: inherit;
    .ant-table-content {overflow: inherit;}
  }
  .pageCount {
    position: absolute;
    right: 170px;
    top: -40px;
  }
  .ant-table-pagination {
    position: absolute;
    right: -18px;
    top: -60px;
    li{margin-left: 6px;}
  }
}
.hostModalForm {
  .info-row {
    background: #ecf0f4;
    border-radius: 5px;
    margin-bottom: 20px;
    line-height: 40px;
    padding-left: 20px;
    .front-border {border-left: 4px solid #2db7f5;padding-left: 8px;}
  }
  .appSelectBtn {
    position: absolute;
    right: -80px;
    top: 0px;
  }
}
.create_modal_form{
  .radioInput{width: 60px;margin: 0;}
  .unit{font-size: 18px;margin:0 5px;line-height: 25px;}
  .dnsServer {
    .ant-form-item{margin-bottom: 10px;}
  }
  .otherCidr{
    .ant-form-explain{position: absolute;}
    .ant-radio{float: left;line-height: 36px;}
    .ant-form-item{float: left;}
  }
}