#License {
  font-size: 14px;
  padding: 50px 0;
  padding-left: 10%;
  background-color: #fff;
  .licenseTitle {
    height:50px;
    line-height: 50px;
    font-size: 18px;
  }
  .licenseTable {
    border-collapse:collapse;
    tr {
      height: 50px;
    }
    td {
      border: 1px solid #e2e2e2;
      padding-left: 10px;
      width: 368px;
    }
    .itemContent {
      font-size: 20px;
      font-weight: 700;
      color: #F66;
    }
    .tableTitle {
      width: 170px;
    }
  }
}