#network_isolation{
  padding: 20px;
  .body{
    padding: 0 0 0 30px;
    height: 340px;
    position: relative;
    .sketch_map{
      height: 150px;
      text-align: center;
      position: relative;
      .forbid_arrow,
      .allow_arrow{
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -24px;
      }
      .forbid_arrow{
        color: #f85a59;
        //margin-left: -24px;
      }
      .allow_arrow{
        color: #37ba6a;
        //margin-left: -12px;
      }
    }
    .content{
      padding: 40px;
      width: 450px;
      height: 250px;
      position: absolute;
      top: 60px;
      left:50%;
      margin-left: -225px;
      background: #ffffff;
      border-radius: 4px;
      .pointer{
        color: #00a1e9;
        margin-right: 8px;
      }
    }
  }
  .footer{
    text-align: center;
  }
}

.set_network_isolation{
  .info_box{
    background: #fffbf5;
    border:1px dashed #ffdb9f;
    border-radius: 4px;
    padding: 12px 0 12px 50px;
    position: relative;
    .warning_icon{
      color: #febf00;
      font-size: 20px;
      position: absolute;
      top:20px;
      left: 20px;
    }
  }
}