.securityPage {
  padding: 20px;
  .showTit {
    display: inline-block;
    border: 1px dashed #82d482;
    border-radius: 6px;
    background: #f6ffed;
    padding: 0 8px;

    & > * {
      margin-right: 4px;
      height: 28px;
      line-height: 28px;
    }
    .proOpen, .proClose {
      margin: 0 26px 0 10px;
    }
    .proOpen {
      color: #5cb85c;
    }
    .titEdit {
      color: #2db7f5;
      cursor: pointer;
      & > * {
        padding-right: 5px;
      }
    }
  }
}
