/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of
 *
 * @author Songsz
 * @date 2018-12-12
 */
@import '~assets/style/site/core.less';

.terminalNLog_Log {
  border: black 1px solid;
  background: #2a2a2a;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  .noInstance {
    color: @font-color-3;
    margin: @padding-medium;
  }
}
