.isolateCont {
  margin: 0 0 30px 10px;
  width: 80%;
  border: 1px dashed #2db7f5;
  border-radius: 4px;
  background: #e5f2fa;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  & > * {
    width: 20%;
    min-width: 20%;
    max-width: 40%;
    color: #4d9cdd;
    height: 24px;
    line-height: 24px;
  }
}
