#object_store_detail{
  padding:20px;
  .detail_header{
    height:30px;
    margin-bottom: 20px;
    .info_name_box{
      padding-top: 4px;
      display: inline-block;
      width: 80%;
    }
    .info_name{
      width: 100%;
      margin-left: 20px;
      font-size: 16px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      border-left: 6px solid #2db7f5;
      padding-left:8px;
    }
  }
  .detail_body{
    padding-top: 20px;
    background: #ffffff;
    border-radius: 4px;
  }
  .handle_box{
    padding-left: 20px;
    .buttonMarign{
      margin-right: 12px;
    }
    .buttonIcon{
      margin-right: 5px;
    }
    .searchDiv{
      display: inline-block;
      position: relative;
    }
    .searchBox{
      width:200px;
    }
    .searchIcon{
      position: absolute;
      font-size: 16px !important;
      color: #999;
      top: 7px;
      right:7px;
    }
    .totleNum{
      float:right;
      padding-top: 8px;
      margin-right:160px;
    }
  }
  .table_box{
    background: #ffffff;
    width:100%;
    padding:12px 28px 50px;
    position: relative;
    .ant-table{
      width: 100%;
    }
    .ant-pagination-simple{
      position: absolute;
      top:-44px;
      right:10px;
    }
    .loadBalancerName{
      cursor: pointer;
      color: #58c2f6;
    }
    .stopStatus{
      color: #ef4c4d;
    }
    .runStatus{
      color: #2dbb67;
    }
    .circleIcon{
      margin-right:8px;
    }
    .configuration{
      color: #58c2f6;
      cursor: pointer;
    }
    .ant-table-thead{
      th{
        background: #ffffff;
        font-weight: normal;
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }
}

.upload_object{
  .ant-form-item-label{
    text-align: left;
    .star{
      color: red;
    }
  }
  label:after{
    display: none;
  }
  .ant-form-item-required:before{
    display: none;
  }
  .select_file{
    position: relative;
    .select_button{
      position: absolute;
      top:0;
      right: -76px
    }
  }
}