#cleaning_record{
  .header{
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    .title{
      display: inline-block;
      border-left:6px solid #2db7f5;
      height:16px;
      line-height: 16px;
      font-size: 16px;
      padding-left: 10px;
      margin-left: 21px;
    }
  }
  .body{
    .filter_box{
      .filter_formItem{
        width: 148px;
        float: left;
        margin-right: 12px;
      }
      .filter_item{
        width: 100%;
      }
      .button_style{
        float: left;
        margin:0 12px 24px 0;
      }
      .totle_num{
        float: right;
        height: 32px;
        line-height: 32px;
        margin-right: 20px;
        margin-bottom: 25px;
      }
      .ant-pagination{
        float: right;
      }
    }
    .table_box{
      padding: 20px 25px 40px;
      background: #ffffff;
      position: relative;
      .ant-table-thead{
        th{
          background: #ffffff;
          border-bottom: 1px solid #e3e7ea;
          font-weight: normal;
        }
      }
      .icon_circle{
        margin-right: 8px;
      }
      .success_icon{
        color: green;
      }
      .failed_icon{
        color: red;
      }
      .running_icon{
        color: #0b9eeb;
      }
      .timeout_icon{
        color: #fab163;
      }
      .nodeItem{
        width: 400px;
      }
    }
  }
}