#cleaning_tool{
  .tool_header{
    font-size: 16px;
    border-left: 6px solid #2db7f5;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .tool_tabs{
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
    .ant-tabs-nav-container{
      padding-top: 20px;
      padding-left: 20px;
    }
    .ant-tabs-content{
      padding: 0 20px;
    }
    .img_box{
      width: 210px;
      height:180px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 80px;
        height: 80px;
      }
      .cleaning{
        -webkit-animation: cleaner .5s infinite alternate;
        -o-animation: cleaner .5s infinite alternate;
        animation: cleaner .5s infinite alternate;
      }
      @keyframes cleaner{
        from{
          -webkit-transform: rotate(-25deg);
          -moz-transform: rotate(-25deg);
          -ms-transform: rotate(-25deg);
          -o-transform: rotate(-25deg);
          transform: rotate(-25deg);
          -webkit-transform-origin: 80% 10% 0;
          -moz-transform-origin: 80% 10% 0;
          -ms-transform-origin: 80% 10% 0;
          -o-transform-origin: 80% 10% 0;
          transform-origin: 80% 10% 0;
        }
        to{
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -ms-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          transform: rotate(10deg);
          -webkit-transform-origin: 80% 10% 0;
          -moz-transform-origin: 80% 10% 0;
          -ms-transform-origin: 80% 10% 0;
          -o-transform-origin: 80% 10% 0;
          transform-origin: 80% 10% 0;
        }
      }
    }
    .done_box{
      .tips{
        padding:25px 0 20px 0;
        .number{
          color: #0b9eeb;
          font-size: 18px;
        }
        .log{
          color: #0b9eeb;
        }
      }

    }
    .handle_box{
      float: left;
      width: calc(~"100% - 210px");
      height: 100%;
      margin-top: 20px;
      .tips{
        margin-bottom: 10px;
      }
      .ant-btn-group{
        >button{
          height: 38px;
        }
        .until_done{
          width: 120px;
          border-radius: 8px 0 0 8px;
        }
        .duration{
          width: 175px;
        }
        .forbiden_use{
          width: 120px;
          border-radius: 0 8px 8px 0;
        }
      }
      .time_select{
        width: 250px;
      }
      .select_box{
        width: 100%;
      }
    }
    .checkBox{
      clear: both;
      margin-bottom: 10px;
    }
    .slected_tips{
      margin-bottom: 15px;
    }
  }
  .tool_echarts{
    height:330px;
    width:100%;
    margin-top: 20px;
    .right_box_col{
      padding-left: 20px;
    }
    .left_box,
    .right_box{
      background: #ffffff;
      overflow: hidden;
      .header{
        height:50px;
        line-height: 50px;
        padding-left: 17px;
        font-size: 14px;
        border-bottom: 1px solid #e7ecf2;
      }
    }
    .right_box{
      .logs_list{
        height: 230px;
        padding: 20px;
        .ant-row{
          
        }
        .time_item{
          text-align: right;
        }
      }
      .log_record{
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        border-top: 1px solid #e7ecf2;
        .go_record{
          cursor: pointer;
          color: #00A0EA;
          font-size: 14px;
        }
      }
    }
  }
}

.cleanTool_systemLog{
  .icon_margin{
    margin-right: 8px;
    color: #00a0e9;
  }
}