{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "iOS >= 9",
            "safari >= 7",
            "IE 11"
          ]
        },
        "debug": false,
        "useBuiltIns": "entry",
        "modules": false
      }
    ],
    "@babel/react",
    "@babel/stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  },
  "plugins": [
    "@babel/transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib"
      }
    ]
  ]
}