*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules*
dist
logs
.vscode/
*.log
configs/index.js
static/js/common.js
static/js/main.js
static/js/*.chunk.js
static/js/chunk.*
static/locales/frontend/*.js
static/js/common.js.map
static/js/main.js.map
static/js/*.chunk.js.map
static/locales/frontend/*.js.map
static/style/main.css
static/bundles/
static/ai/
static/devops/
static/app-stack/
configs/index.js
manifest.json
static/webpack_dll/
static/devops
static/monitor
static/ai
stats.json
index.html
static/blob/*
!static/blob/
!static/blob/dump.txt
./configs
backend
package-lock.json
.history/
yarn.lock
