*.css
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
dist
logs
.vscode/
*.log
static/js/common.js
static/js/main.js
static/js/*.chunk.js
static/locales/frontend/*.js
static/style/main.css
manifest.json
static/webpack_dll/
