<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/public/main.css" />
  <link rel="stylesheet" type="text/css" href="/js/lib/fontAwesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/img/sider/svg/svg-symbols.css" />
  <!-- Polyfills -->
  <!--[if lt IE 10]>
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js"></script>
    <![endif]-->
  <script>
      if (!window.Intl) {
        document.writeln('<script src="/js/lib/intl/1.0.1/intl.js">' + '<' + '/script>');
        document.writeln('<script src="/js/lib/intl/1.0.1/locale-data/<%= intl_locale %>.js">' + '<' + '/script>');
      }
    </script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <script src="/js/svg.js"></script>
  <div id="root">
    <%- body %>
  </div>
  <script src="/public/common.js"></script>
  <script src="/public/<%= intl_locale %>.js"></script>
  <script src="/public/main.js"></script>

  <script>
  window.intercomSettings = {
    app_id: "r0pab293",
    language_override: "zh-CN"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/r0pab293';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>

</html>