.upgradeModalBox {
  width: 620px;
  .ant-modal-close {
    display: none;
  }
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-body {
    padding: 0 !important;
  }
  .titleBox {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #4cb3f6;
  }
  .infoBox {
    padding: 30px 20px;
    .leftBox,
    .rightBox {
      float: left;
      width: calc(~"50% - 10px");
      .littleTitle {
        margin-bottom: 10px;
        padding-left: 26px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        color: #FFFFFF;
        span {
          font-size: 16px;
        }
      }
      .littleInfo {
        position: relative;
        padding-left: 10px;
        width: 100%;
        min-height: 30px;
        line-height: 30px;
        .littleIcon {
          margin-right: 10px;
          margin-bottom: 3px;
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #DADADA;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
        }
        .infoSpan {
          font-size: 14px;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
        }
        .commonImg {
          position: absolute;
          top: 5px;
          right: 0px;
        }
      }
    }
    .leftBox {
      margin-right: 20px;
      .littleTitle {
        background-color: #45cfae;
      }
      .activeInfo {
        color: #45cfae !important;
        .littleIcon {
          background-color: #45cfae;
        }
      }
      .littleInfo:hover {
        color: #45cfae;
        .littleIcon {
          background-color: #45cfae;
        }
      }
    }
    .rightBox {
      .littleTitle {
        background-color: #4cb3f6;
      }
      .activeInfo {
        color: #4cb3f6 !important;
        background-color: #eaf8fe;
        .littleIcon {
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          background-color: #4cb3f6;
        }
      }
        .littleInfo:hover {
          color: #4cb3f6;
          .littleIcon {
            background-color: #4cb3f6;
          }
        }
    }
  }
  
  .btnBox {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    button {
      margin-right: 10px;
    }
    .bgBox {
      opacity: 0.7;
      position: absolute;
      margin-left: -750px;
      top: 0px;
      left: 50%;
      width: 1500px;
      height: 1500px;
      border-radius: 750px;
      background-color: #effafc;
    }
  }
}