#Informations {
  .Essentialinformation {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #efefef;
    padding-left: 20px;
  }
  .informationleft {
    float:left;
    width:50%;
    border-right:1px solid #efefef;
    margin:10px 0px 20px;
  }
  .ant-btn {
    font-weight: normal;
  }
  .Item {
    line-height: 50px;
    font-size: 12px;
    border-bottom: 0px;
    padding-left: 24px;
    .input_container{
      padding-right: 8px;
    }
    #UserInfReset {
      margin-top: 12px;
      .ant-form {
        width: 240px;
        .ant-form-explain {
          height: auto;
          white-space: normal;
          word-break: break-all;
        }
      }
      .passInt {
        display: inline-block;
        width: 240px;
        height: 35px;
        margin-right: 16px;
      }
      i {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 250px;
        &:hover {
          color: #00a1e9;
        }
      }
      .passIcon {
        color: #00a1e9;
      }
    }
    .comment {
      &-input {
        margin-top: 20px;
        width: 100%;
        >textarea {
          width: 100%;
        }
      }
      &-btns {
        width: 240px;
        text-align: center;
        button + button {
          margin-left: 10px;
        }
      }
      &-edit-btn {
        margin-top: 15px;
      }
    }
  }
}
