.UserProjectsAndTeams {
  .ant-tabs-nav-container, .ant-tabs-tab-inner {
    height: 40px;
    // line-height: 40px;
  }
  .ant-table-thead > tr > th {
    background: #fff;
  }
  .projects {
    padding: 0 20px 20px 20px;
    .projectsTitle {
      padding-bottom: 20px;
      & > * {
        margin-right: 20px;
      }
    }
    .total {
      display: inline-block;
      line-height: 35px;
      float: right;
      margin-right: 140px;
    }
    .projectsContent {
      padding-bottom: 20px;
      .action {
        button {
          margin-right: 20px;
        }
      }
    }
  }
  .ant-table-pagination {
    margin: 16px 46px;
    position: absolute;
    top: -10px;
    right: -40px;
  }
  .teams {
    padding: 0 20px 20px 20px;
    .teamsTitle {
      padding-bottom: 20px;
      & > * {
        margin-right: 20px;
      }
      .fa-search {
        margin-left: -20px;
        font-size: 14px;
        position: relative;
        color: #999;
        cursor: pointer;
      }
      .searchInput {
        input {
          width: 200px;
        }
      }
    }
    .total {
      display: inline-block;
      line-height: 35px;
      float: right;
      margin-right: 140px;
    }
    .teamsContent {
      padding-bottom: 20px;
      .action {
        button {
          margin-right: 20px;
        }
      }
    }
  }
}
.removeMemberModal {
  .ant-modal-content {
    width: 600px;
    .warningRow {
      font-size: 12px;
      color: #666;
      background-color: #fffbf5;
      border-color: #ffc000;
      .alertRowIcon {
        color: #ffc000;
        font-size: 24px;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .alertRowDesc {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}
.addMemberModal {
  .ant-modal-content {
    width: 630px;
  }
}
