@import "./site/core";
// [KK-859] 解决Select等弹出层不随页面滚动问题, Cause: 引入的normalize.css将body高度设置为了100%
html,
body {
  height: auto !important;
  padding-right: 0 !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
  background-color: #ecf0f4 !important;
  font-size: 12px;
  min-width: 1024px;
}
.tenx-layout {
  height: 100%;
  width: 100%;
  #topError {
    z-index: 200;
    position: fixed;
    top:0;
    width: 100%;
    background: #FF4266;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
}
.toptips.tenx-layout {
  position: absolute;
  .tenx-layout-header{top:50px}
}
.toptips.tenx-layout .tenx-layout-sider #sider{top:50px;height: calc(~"100% - 50px")}
.toptips.tenx-layout .tenx-layout-content{padding-top: 105px;}
//header
.tenx-layout-header {
  transition: all 0.3s;
  z-index: 100;
  position: fixed;
  padding-left: 60px;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px #ddd;
}
.tenx-layout-header-bigger {
  padding-left: 200px !important;
}
.tenx-layout-wrapper {
  padding: 0;
  height: 55px !important;
}
//sider
.tenx-layout-sider {
  transition: all 0.3s;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 60px;
  left: 0;
  min-height: 100%;
}
.tenx-layout-sider-bigger {
  width: 200px !important;
  #sider {
    width: 200px !important;
  }
}
.tenx-layout-content {
  z-index: 200;
  transition: all 0.3s;
  padding-top: 55px;
  margin-left: 60px;
  display: block;
  overflow-x: auto;
  width: calc(~"100% - 60px");
}
.tenx-layout-content-bigger {
  margin-left: 200px;
  width: calc(~"100% - 200px");
  .CommonSecondMenu {
    transform: translateX(-140px) !important;
  }
  .CommonSecondContent {
    margin-left: 0 !important;
    width: 100% !important;
  }
  .siderBtnBox {
    display: none;
  }
}
.tenx-layout-bjreadcrumb {
  margin: 7px 0 -17px 24px;
}
.tenx-layout-container {
  background: #fff;
  margin: 24px 0 0 24px;
  position: relative;
  overflow: hidden;
}
.tenx-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.error-pages {
  background: #F5F5F5;
  font-size: 100px;
  height: 400px;
  .error-pages .new-error {
    line-height: 320px;
    height: 230px;
    text-align: center;
    letter-spacing: 3px;
    color: #666;
  }
  .error-pages .redirect {
    text-align: center;
    font-size: 18px;
    line-height: normal;
    color: #666;
    font-variant: 700;
    font-family: "Microsoft YaHei","Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  }
}
.ant-btn {
  font-weight: normal !important;
}
.ant-btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ant-btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ant-modal .ant-modal-body{padding-left:30px;padding-right: 30px;}
.margin {
  margin: 0 5px;
}
//modal cover
.ant-modal-wrap {
  width: 100%;
  overflow-x: hidden !important;
}
.ant-modal-title {
  // font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "宋体";
  font-weight: normal !important;
}
//modal 垂直居中
.vertical-center-modal {
  display: flex;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  .ant-modal {
    top: 0;
  }
}
.ant-dropdown-menu-item>span {
  // display: block;
  padding: 7px 15px;
  margin: -7px -15px;
}
//loading box
.loadingBox {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.loading {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 14px;
}
.noDataStyle {
  width: 100%;
  height: 300px;
  line-height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.imageNoData {
  &:extend(.noDataStyle);
  background-image: url(../img/no_data/no_image.png);
}
.monitorNoData {
  &:extend(.noDataStyle);
  background-image: url(../img/no_data/no_monitor.png);
}
.noChartData {
  width: 100%;
  height: 200px;
  background-image: url(../img/no_data/no_chart.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.noTemplateData {
  &:extend(.noDataStyle);
  background-image: url(../img/no_data/no_template.png);
}
// text overflow
.textoverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 2px;
}
// text center
.text-center {
  text-align: center;
}
// text right
.text-right {
  text-align: right;
}
//终端弹出框
.TerminalLayoutModal {
  transition: all;
  margin: 0 !important;
  padding-bottom: 0 !important;
  top: auto !important;
  bottom: 0 !important;
  width: 100% !important;
  min-width: 1024px;
  height: 500px !important;
  .ant-modal-header,
  .ant-modal-footer,
  .ant-modal-close {
    display: none !important;
  }
  .ant-modal-content {
    height: 100%;
    border-radius: 0 !important;
  }
  .ant-modal-body {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100%;
  }
}
//侧滑栏弹出框
.rightSliderModal,
.AppServiceDetail {
  position: relative !important;
  margin-right: 0 !important;
  padding-bottom: 0 !important;
  top: 0 !important;
  width: 70% !important;
  min-width: 768px !important;
  height: 100% !important;
  overflow-y: auto;
  .ant-modal-header,
  .ant-modal-footer,
  .ant-modal-close {
    display: none !important;
  }
  .ant-modal-content {
    height: 100%;
    background-color: #f8f8f8; // edit by baiyu
    border-radius: 0 !important;
  }
  .ant-modal-body {
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    min-width: 768px !important;
    height: 100% !important;
  }
}
.paginationBox {
  margin-top: 25px;
  text-align: center;
}
.inlineBlock {
  display: inline-block;
}
#NotFoundErrorPageBox {
  position: fixed;
  width: calc(~"100% - 200px");
  height: calc(~"100% - 50px");
  left: 200px;
  top: 50px;
  .NotFoundErrorPage {
    position: absolute;
    left: -2px;
    width: calc(~"100% + 4px");
    height: calc(~"100% + 2px");
  }
}
.ant-modal-header {
  background-color: #333333 !important;
  color: #fff !important;
}
.ant-table-column-sorter {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 15px;
  vertical-align: middle;
  text-align: center;
}
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  line-height: 4px;
  height: 6px;
  display: block;
  width: 12px;
  cursor: pointer;
}
 :root .ant-table-column-sorter .anticon-caret-up,
:root .ant-table-column-sorter .anticon-caret-down {
  font-size: 12px;
  filter:none;
}
.ant-table-column-sorter-up.on .anticon-caret-up,
.ant-table-column-sorter-down.on .anticon-caret-up,
.ant-table-column-sorter-up.on .anticon-caret-down,
.ant-table-column-sorter-down.on .anticon-caret-down {
  color: @primary-color;
}
.ant-table-column-sorter .anticon-caret-up,
.ant-table-column-sorter .anticon-caret-down {
  display: inline-block;
  font-size: 12px;
  font-size: 6px \9;
  -ms-transform: scale(0.5) rotate(0deg);
  transform: scale(0.5) rotate(0deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod=\"auto expand\",M11=1,M12=0,M21=0,M22=1)";
  zoom: 1;
  line-height: 6px;
  height: 6px;
  color: #aaa;
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  text-rendering: optimizeLegibility;
}
// format error form input
.ant-input:hover {
  border-color: @primary-color !important;
}
.ant-input:focus {
  border-color: @primary-color !important;
  box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2) !important;
}
.has-error .ant-input:not([disabled]):hover {
  border-color: #ff4f51 !important;
  box-shadow: 0 0 0 2px #fed4d5 !important;
}
.has-error .ant-input,
.has-error .ant-input:hover,
.has-error .ant-input:focus {
  border-color: #ff4f51 !important;
  box-shadow: 0 0 0 2px #fed4d5 !important;
}
.has-error.has-feedback:after {
  color: #ff4f4f !important;
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  padding: 0 5px !important;
  word-break: keep-all;
  white-space: nowrap;
  // width: fit-content;
  height: 18px;
  line-height: 18px !important;
  background-color: #FFFFFF !important;
  border-radius: 4px;
  color:  #fe4e50 !important;
}
.has-error .ant-form-explain:before {
  margin-right: 5px;
  font-family: anticon!important;
  content: "\E635";
}
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.has-error.has-feedback:after,
.is-validating.has-feedback:after {
  font-size: 18px !important;
}
.ant-tooltip-inner {
  word-break: break-all;
}
pre{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}
.modalColor {color: #00a0ea}
.ant-modal-body {
  .ant-form-item-with-help{
    .ant-form-explain {
      background-color: white !important;
      border-radius: 4px;
      color: #fe4e50 !important;
      padding: 0 5px;
      white-space: pre;
      word-break: break-all;
    }
    .ant-form-explain:before {
      margin-right: 5px;
      font-family: anticon;
      content: "\E635";
    }
  }
}
.not-allowed {cursor: not-allowed}

.ant-pagination-simple .ant-pagination-simple-pager input {
  padding: 5px 3px !important;
}
.alertRow {
    margin-bottom: 20px;
    padding: 14px 24px 14px 15px;
    line-height: 20px;
    color: #1a7db6;
    font-size: 12px;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd;
    border-radius: 6px;
}
.alertIconRow {
  margin-bottom: 20px;
  padding: 14px 24px 14px 15px;
  line-height: 20px;
  color: #1a7db6;
  font-size: 12px;
  background-color: #d9edf6;
  border: 1px dashed #85d7fd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  .alertIcon {
    margin-right: 12px;
    font-size: 20px;
    color: #1a7db6 !important;
  }
}
.warningRow {
  font-size: 12px;
  color: #666;
  background-color: #fffbf5;
  border-color: #ffc000;
  padding: 5px 20px;
  .alertRowIcon {
    color: #ffc000;
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .alertRowDesc {
    height: 40px;
    line-height: 40px;
  }
}
.deleteRow {
  margin-bottom: 20px;
  padding: 14px 24px;
  line-height: 20px;
  color: #7f7f7d;
  font-size: 12px;
  background-color: #fffbf5;
  border: 1px dashed #fedc9f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  .fa-exclamation-triangle{
    margin-right: 12px;
    font-size: 20px;
    color: #ffc001 !important;
  }
}
.strategyTable {
    padding: 0 20px;
    padding-bottom: 40px;
    .ant-table-thead > tr > th {
      background: white;
      font-weight: 500;
      border-bottom: 1px solid #d9d9d9;
    }
}
.ant-switch.ant-switch-checked {
  border-color: #5DB45D;
  background-color: #62B661;
}
//  confirm modal text color
.confirmText {
  color: #00a0ea;
}
// status text color
.running {color: #33b867;}
.stop {color: #f23e3f;}
.padding {color: #FAB35B;}
.unknown {color: #636363;}

.ant-select-selection__rendered{
  .ant-select-selection-selected-value{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.ant-select-dropdown-menu-item {
  text-overflow: ellipsis;
  padding:7px 10px;
}
.hidden{
  display: none !important;
}
.pointer{
  cursor: pointer;
}
.themeColor {
  color: #46b2fa;
}
.successColor {
  color: @success-color;
}
.warnColor {
  color: @warning-color;
}
.failedColor {
  color: @error-color;
}
.disabledColor {
  color: rgba(0, 0, 0, 0.25)
}
.hintColor {
  color:  @font-color-4;
}
.noWrap {
  white-space: nowrap;
}
.back {
  display: inline-block;
  float: left;
  height: 30px;
  .backjia {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid  @primary-color ;
    font-size: 0;
    line-height: 0;
  }
  .btn-back {
    display: inline-block;
    background:  @primary-color;
    color: white;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    width: 43px;
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
}
.verticalCenter{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.resourcePermissionModal, .resourcequotaModal {
  &.ant-modal-wrap {
    z-index: 9999;
  }
  .ant-modal-content {
    width: 500px;
    .ant-modal-body > div {
      padding: 20px 0;
      i {
        color: #fa0;
        font-size: 24px;
        margin-right: 16px;
      }
      .alert_text {
        color: #666;
        font-weight: 700;
        font-size: 14px;
        vertical-align: top;
        padding-right: 10px;
        margin-top: -30px;
      }
      a {
        margin: 0 5px;
        vertical-align: top;
      }
      div {
        color: #999;
        margin: 10px 0 0 40px;
      }
    }
  }
}

.reset_antd_table_header{
  position: relative;
  .ant-table-body{
    .ant-table-thead > tr > th{
      background: #ffffff;
      font-weight: normal;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}
// 模拟tabs样式
.tabs_header_style{
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  .tabs_item_style{
    float: left;
    display: inline-block;
    height:40px;
    line-height: 40px;
    width: 124px;
    text-align: center;
    background: #ffffff;
    border:1px solid #d9dadc;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
  .tabs_item_selected_style{
    color:  @primary-color ;
    border-color: @primary-color ;
    border-bottom-color: #ecf0f4;
    background: #eceff4;
  }
  .tabs_item_selected_bg_white_style {
    color: @primary-color ;
    border-color:  @primary-color ;
    border-bottom: none;
  }
  .tabs_item_style:hover{
    color:  @primary-color ;
    border-color:  @primary-color ;
    border-bottom-color: #ecf0f4;
    background: #eceff4;
  }
}

button.ant-btn-ghost {
  background-color: #fff;
}

i.anticon.anticon-arrows-alt:before {
  content: "\E629" !important;
}

// for #CRYSTAL-5933
.ant-spin-container {
  transition: unset;
}

.layout-content {
  padding: 20px;
  min-height: 520px;
  height: 100%;
  &-btns {
    padding-bottom: @padding-medium;
    & > *:not(:last-child) {
      margin-right: 10px;
    }
    .page-box {
      float: right;
      padding-top: 5px;
      .total {
        margin-right: 18px;
        line-height: 24px;
      }
      .ant-pagination-simple {
        float: right;
      }
    }
  }
}
.first-title {
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  border-left: 5px solid @primary-color;
  padding-left: 8px;
  margin-bottom: 20px;
}
.second-title {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  border-left: 3px solid @primary-color;
  padding-left: @padding-base;
  margin-bottom: @padding-small;
  color: @primary-color;
}
:global {
  .layout-content {
    &-btns {
      width: 100%;
      padding-bottom: @padding-medium;
      & > *:not(:last-child) {
        margin-right: @padding-small;
      }
      .search-style {
        width: 180px;
      }
      .ant-pagination {
        float: right;
        height: 32px;
      }
      .ant-pagination-simple-pager {
        line-height: 100%;
      }
    }
    &-body {
      clear: both;
      min-height: 200px;
    }
  }
}

// 闪动效果
.shinning {
  border-color: @primary-color;
  box-shadow: 0 0 5px @primary-color;
  animation: fade 2000ms infinite;
  @keyframes fade {
    0% {
      border-color: #d9d9d9;
      box-shadow: 0 0 0 #ffffff;
    }
    50% {
      border-color: @primary-color;
      box-shadow: 0 0 10px @primary-color;
    }
    100% {
      border-color: #d9d9d9;
      box-shadow: 0 0 0 #ffffff;
    }
  }
}
// search input icon
.fa.btn-search {
  font-size: 16px;
  color: #999;
  position: relative;
  left: -20px;
  cursor: pointer;
}
