.markdown {
  p, pre{margin-bottom: 10px;line-height: 25px}
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  pre{
    background: #f5f5f5;padding:9.5px;border-radius: 4px;font-size: 14px;display: block;word-break: break-all;word-wrap: break-word;
    // background-color: #f8f8f8;
    overflow: auto;
  }
  pre code {
    background-color: inherit;
    border: none;
    padding: 0;
  }
  code {
    background-color: #fee9cc;
    border-radius: 3px;
    padding: 0 0.2em;
  }
  a {
    text-decoration: underline;
  }
  ul,ol {
    padding-left: 20px;
  }
  li {
    margin: 0.2em 0 0 0em;
    padding: 0px;
  }
  em {
    color: #b05000;
  }
  table th,table td {
    vertical-align: top;
    border-top: 1px solid #ccc;
    padding: 5px;
  }
}