@import "../../../../../src/assets/style/site/core.less";
.DeployList {
  .ant-table-thead {
    > tr {
      > th {
        background-color: white !important;
        border-bottom: 1px solid @border-color-split;
        font-size: 12px;
        color: #666;
        font-weight: normal;
      }
    }
  }
}
