#TenxFlowDetailSetting{
  height: 400px;
  p{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #999;
  }
  .deleteBtn{
    background-color: #f96b6a !important;
    border: 1px solid #e2201e !important;
    color: #FFFFFF !important;
  }
}
