#TenxFlowDetailYaml {
  .ant-alert {
    margin-bottom: 20px !important;
    padding: 14px 24px !important;
    line-height: 20px;
    color: #1a7db6;
    font-size: 14px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
  }
  .ant-card-body{
    padding: 0px !important;
  }
  textarea{
    background-color: #333333;
  }
}