.editContent-Scheduler {
  margin-top: 30px;
  .scheduler-type {
    height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .affinity-type {
    .img-title {
      font-weight: 1000;
      color: #2db7f5;
      margin-right: 5px;
    }
  }
}
