@import '../../../../../../src/assets/style/site/core';
.defaultRow {
  padding: 0 15px;
}
.defalutBorder {
  border-bottom: @border-width-base @border-style-base @border-color-base;
}
.templateInfo {
  background-color: white;
  .tempInfoHeader {
    &:extend(.defalutBorder);
    height: 58px;
    line-height: 58px;
    font-size: @font-size-medium;
    padding-left: 28px;
  }
  .tempInfoBody {
    padding: 20px;
    &:extend(.defalutBorder);
    .serviceBox {
      .serviceHeader {
        &:extend(.defaultRow);
        padding-bottom: 15px;
        &:extend(.defalutBorder);
      }
      .serviceRow {
        &:extend(.defaultRow);
        margin-top: 20px;
      }
    }
    .resourcePrice{
      margin: 15px 15px 0;
      font-size: 14px;
      border-radius: 6px;
      background-color: #e4f5fd;
      border: 1px solid #85d7fd;
      padding-top: 10px;
      padding-bottom: 10px;
      .resource {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #85d7fd;
        span {
          font-size: 16px;
          color: @primary-color;
        }
      }
      .price {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        .hourPrice {
          font-size: 18px;
          color: @primary-color;
        }
        font {
          font-size: 12px;
        }
        .monthPrice {
          font-size: 12px;
          color: @primary-color;
        }
      }
    }
  }
  .tempInfoFooter {
    &:extend(.defaultRow);
    height: 65px;
    button:first-of-type {
      margin-right: 10px;
    }
  }
}