#TeamDetail {
  .back {
    display: inline-block;
    width: 54px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #00a0ea;
    border-radius: 15px 0 0 15px;
  }
}