.discoverPage {
  padding: 20px;
  .discoverTab {
    & > * {
      margin-right: 8px;
    }
  }
  .ant-pagination-simple-pager {
    line-height: 2;
  }
}
.addDnsModal {
  .ant-form-explain {
    width: 280px;
  }
}
.yamlModal {
  .ant-modal-body {
    padding-bottom: 0;
  }
  .CodeMirror-gutter-wrapper {
    left: -29px !important;
  }
  .changePrompt {
    height: 32px;
    line-height: 32px;
    color: #f63;
  }
}
