.discoverPage {
  padding: 20px;
  .discoverTab {
    & > * {
      margin-right: 8px;
    }
  }
}
.ant-form-explain {
  width: 280px;
}
.ant-pagination-simple-pager {
  line-height: 2;
}
.CodeMirror-gutter-wrapper {
  left: -30px !important;
}
