/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of sysServiceManage
 *
 * @author Songsz
 * @date 2018-12-20
 */
@import '~assets/style/site/core';
.clusterSysServiceManage {
  min-height: 400px;
  .actions {
    .alarmBtn {
      margin-right: @padding-small;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: @padding-base;
    min-height: 200px;
  }
}
