@import '~assets/style/site/core';

.systemNoticeDetail {
  .line1 {
    padding-top: 6px;
    padding-bottom: 30px;
    .left {
      float: left;
      font-size: 13px;
      margin-right: 45px;
    }
  }
  .notice {
    .title {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .content {
      font-size: 12px;
    }
  }
  .removeBtn {
    padding: 20px 0;
    .ant-btn {
      color: #fff;
      background-color: #f96464;
      border-color: #f96464;
    }
    .ant-btn:focus, .ant-btn:hover {
      color: #fff;
      background-color: #f98b8b;
      border-color: #f98b8b;
    }
  }
}
