@import '~assets/style/site/core';

.systemNoticeDetail {
  .line1 {
    padding-top: 6px;
    padding-bottom: 20px;
    .left {
      float: left;
      font-size: 12px;
      margin-right: 45px;
    }
  }
  .notice {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    padding: 0 25px 20px 25px;
    .title {
      font-size: 14px;
      padding: 10px 0;
    }
    .content {
      font-size: 12px;
      color: #999;
      word-break: break-all;
    }
  }
  .removeBtn {
    padding: 20px 0;
    .ant-btn {
      color: #fff;
      background-color: #f96464;
      border-color: #f96464;
    }
    .ant-btn:focus, .ant-btn:hover {
      color: #fff;
      background-color: #f98b8b;
      border-color: #f98b8b;
    }
  }
}
