/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of sysServiceManageDetail
 *
 * @author Songsz
 * @date 2018-12-24
 */
@import '~assets/style/site/core';

.clusterSysServiceManageDetail {
  padding: 30px 20px;
  .rtnBtn {
    margin-left: @padding-base;
  }
  .baseInfo {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .leftIcon {
      color: @primary-color;
    }
    .right {
      margin-left: @padding-small;
      .name {
        font-weight: bold;
        font-size: 16px;
      }
      .status {
        margin-top: @padding-base;
      }
      .statusSuccess {
        color: @success-color;
      }
      .statusError {
        color: @error-color;
      }
      .detail {
        margin-top: @padding-base;
      }
    }
  }
}

