/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of sysServiceManageDetailLog
 *
 * @author Songsz
 * @date 2019-01-04
 */
@import '~assets/style/site/core';

.clusterSysServiceManageInstance {
  padding-top: @padding-small;
  padding-bottom: @padding-medium;
  .ant-table-thead > tr > th {
    background-color: white;
    border-bottom: #eee 1px solid;
  }
}
