/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */
/**
 * style of sysServiceManageDetailLog
 *
 * @author Songsz
 * @date 2019-01-04
 */
@import '~assets/style/site/core';

.clusterSysServiceManageDetailLog {
  .name {
    color: #ffc20e;
  }
  .date {
    color: #ff0;
  }
  .content {
    color: #37fc34;
  }
  .noLog {
    margin-left: @padding-large;
  }
  .leftHeader {
    width: 90%;
  }
  .titleBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    line-height: 40px;
    color: #5cb85c;
    background-color: #333;
    .fa-right {
      //float: right;
      margin-right: 20px;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer;
      li {
        margin-top: 8px;
        background: transparent;
      }
    }
    .refreshIcon {
      font-size: 18px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
