/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of MiddlewareCenter second sider
 *
 * @author zhangxuan
 * @date 2018-09-07
 */
#MiddlewareCenter {
  width: 100%;
  overflow-x: hidden;
  .middlewareMenu {
    transition: all 0.3s;
    position: fixed;
    width: 140px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    &:hover {
      box-shadow: 0 0 7px #999;
    }
  }
  .hiddenMenu {
    transform: translateX(-140px) !important;
    .btnBack {
      border-top: 7px solid transparent;
      border-left: 15px solid #e7eaea;
      border-bottom: 7px solid transparent;
      border-right: 0 !important;
    }
  }
  .middlewareContent {
    transition: all 0.3s;
    height: auto;
    width: 100%;
    // padding-top: 20px;
    // padding-left: 20px;
    // padding-right: 20px;
  }
  .hiddenContent {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
