#elasticIP {
  padding: 5px 20px 20px;
  .top-row {
    padding:20px;
    // margin-bottom: 20px;
    // margin-top: 24px;
    // padding-left: 20px;
    button{margin-right: 8px;}
    .ant-btn-ghost {background: white;}
    .liberates{width: 14px;vertical-align: middle;margin-right: 3px;}
  }
  .ip-list {
    position: relative;
    overflow: inherit;
  }
  .ant-spin-container {position: relative;}
  .ant-table{
    overflow: inherit;
    .ant-table-content {overflow: inherit;}
  }
  .ant-table-pagination {
    position: absolute;
    right: 10px;
    top: -60px;
    li{margin-left: 6px;}
  }
}