.deployEnvModal{
  width: 520px;
  .tips {
    margin-bottom: 20px;
    display: inline-block;
    padding: 0 15px;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #1a7db6;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd;
    border-radius: 4px;
  }
  .ant-form-inline .ant-form-item {
    margin-right: 0;
  }
}