.PublicCompose {
  padding-top: 20px;
  padding-bottom: 50px;
  .loadingBox{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  #PublicCompose {
    .ant-dropdown {
      top: 250px !important;
    }
    .operaBox {
      padding: 24px;
      position: relative;
      .addBtn {
        margin-left: 20px;
        padding: 5px 15px !important;
      }
      .searchBox {
        float: right;
        width: 170px;
        height: 32px;
      }
      .fa-search {
        position: absolute;
        right: 34px;
        top: 31px;
        font-size: 18px;
        color: #999999;
      }
    }
    .PublicComposeList{
      table{
        background: #ffffff;
        .name {
          padding-left: 44px;
        }
        .type,
        .image,
        .des,
        .time,
        .opera{
          padding-left: 15px;
        }
        .ant-table-thead > tr > th{
          background: #ffffff;
          font-weight: normal;
          border-bottom: 1px solid #F2F2F2;
        }
      }
    }
  }
}