/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of detail footer
 *
 * @author zhangxuan
 * @date 2018-08-02
 */
@import "~assets/style/site/core";
.configFooter {
  border-top: @border-width-base @border-style-base @border-color-base;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: white;
  button:first-of-type {
    margin-right: 12px;
  }
}
