@import "../../../../assets/style/site/core";

.loadBalance {
  &Table {
    background-color: white;
    padding: 10px 24px 40px;
  }
  .loadbalanceResourceBanner {
    border: 1px dashed #2db7f5;
    border-radius: 4px;
    background-color: #e5f2fa;;
    margin-bottom: @padding-medium;
    padding-bottom: 10px;
    .ResourceBanner {
      margin-bottom: 0px;
      border: none;
      height: 25px;
    }
  }
}