@import "../../../../assets/style/site/core";

.loadBalanceConfig {
  padding: 30px 20px;
  .configHeader {
    .headerTitle {
      height: 16px;
      font-size: @font-size-medium;
      border-left: 6px solid @primary-color;
      padding-left: 10px;
      margin-left: 20px;
      line-height: 16px;
    }
  }
}
