@import "../../../../assets/style/site/core";
.loadBalancePage {
  margin: 24px;
  .ant-form-item-label {
    label {
      &:after {
        content: ''
      }
    }
  }
  .gobackHeader {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .headerTitle {
      height: 16px;
      font-size: @font-size-medium;
      border-left: 6px solid @primary-color;
      padding-left: 10px;
      margin-left: 20px;
      line-height: 16px;
    }
  }
  .configRow {
    margin-bottom: 24px;
    &>div:first-of-type {
      text-align: right;
      padding-right: 10px;
    }
    .configBox {
      display: flex;
      align-items: center;
      .configList {
        margin-right: 20px;
        &:first-child {
          width: 100px;
          .bottomBox {
            padding: 15px 0;
          }
        }
        &:last-child {
          width: 200px;
          cursor: pointer;
          .bottomBox {
            padding: 5px 5px;
            text-align: left;
            .ant-input-number {width: 95%;}
            .ant-form-item {
              margin-bottom: 0;
            }
          }
        }
      }
      .ant-btn-primary {
        border: @border-width-base @border-style-base @primary-color;
        border-radius: @border-radius-base;
        padding: 0 ;
        overflow: hidden;
        position: relative;
        .topBox {
          height: 25px;
          line-height: 25px;
          font-size: 16px;
          text-align: center;
        }
        .bottomBox {
          width: 100%;
          height: 70px;
          text-align: center;
          background-color: #FFFFFF;
          color: #2db7f5;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        .triangle {
          display: block;
          width: 0;
          height: 0;
          border-bottom: 0 solid transparent;
          border-top: 20px solid transparent;
          border-right: 22px solid  @primary-color;
          font-size: 0;
          line-height: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        .anticon-check {
          display: inline-block;
          font-size: 8px;
          position: absolute;
          right: 0;
          bottom: -1px;
          z-index: 2;
          color: #fff;
        }
      }
      .ant-btn-ghost {
        border: @border-width-base @border-style-base @border-color-base;
        border-radius: @border-radius-base;
        padding: 0 ;
        .topBox {
          height: 25px;
          line-height: 25px;
          font-size: 16px;
          text-align: center;
          background-color: #d9d9d9;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .bottomBox {
          width: 100%;
          height: 70px;
          text-align: center;
          background-color: #FFFFFF;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        .triangle,.anticon-check{
          display: none;
        }
      }
      .ant-btn-ghost:hover {
        .topBox {
          background-color: @primary-color ;
          color: #FFFFFF;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
      }
    }
  }
  .ant-form-explain {
    height: auto;
    white-space: normal !important;
  }
}
