#AppSider{
  padding-top: 40px;
  width: 140px;
  font-size: 14px;
  ul{
    background-color: rgba(0,0,0,0);
    border: 0px;
    li{
      border: 0px;
      width: 140px;
      a{
        color: #333333;
  			font-size: 14px;
      }
    }
  }
  .ant-menu-item-selected{
    border-right: 2px solid #2db7f5;
    background-color: #eaf8fe;
    a{
     	color: #2db7f5;
    }
  }
  .ant-menu-item-selected:hover{
  	width: 140px !important;
  }
  .ant-menu-item-active{
  	width: 139px;
  }
}
