#share_memory{
  .data_container{
    .handle_box{
      margin-bottom: 20px;
      .button_margin{
        margin-right: 12px;
      }
      .button_icon{
        margin-right: 8px;
      }
      .search_box{
        display: inline-block;
        width:180px;
        position: relative;
      }
      .search_icon{
        position: absolute;
        font-size: 16px;
        cursor: pointer;
        top: 7px;
        right: 8px;
      }
      .search_icon:hover{
        color: #0b9eeb;
      }
      .totle_num{
        float: right;
        margin-right: 160px;
        display: inline-block;
        height: 33px;
        line-height: 33px;
      }
    }
    .table_container{
      padding: 25px;
      background: #ffffff;
      border-radius: 4px;
      position: relative;
      .ant-table-thead > tr > th{
        font-weight: normal;
        background: #ffffff;
        border-bottom: 1px solid #e3e7ea;
      }
      .ant-spin-container{
        position: relative;
      }
      .ant-pagination-simple{
        position: absolute;
        right: -24px;
        top: -89px;
      }
      .icon-marginRight{
        margin-right: 8px;
      }
      .penging{
        color: #0eb4ff;
      }
      .used{
        color: #f85a5a;
      }
      .no_used{
        color: #5cb85c
      }
      .unknown{
        color: #666666;
      }
    }
  }
}

.delete_share_memory_modal{
  .warning_tips{
    color: #00a0ea;
  }
  .question_icon{
    margin-right: 8px;
  }
}