/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of right cloud
 *
 * @author zhangxuan
 * @date 2018-11-20
 */
@import "~assets/style/site/core";
.right-cloud {
  background-color: @backgroud-color-body;
  .layout-content-body {
    background-color: white;
    padding: @padding-small @padding-medium;
  }
}
