@import '../../../../assets/style/site/core.less';

.storage {
  padding: @padding-small;
  padding-left: @padding-large;
  background: #ffffff;
  .extendBtn {
    margin-top: @padding-small;
  }
  .graph {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    margin-top: @padding-large;
    position: relative;
    .cluster {
      .clusterName {
        border: 1px solid @primary-color;
        text-align: center;
        color: @primary-color;
        height: 32px;
        line-height: 34px;
        border-top-left-radius: @border-radius-base;
        border-top-right-radius: @border-radius-base;
      }
      .graphCluster {
        position: relative;
        width: 180px;
        height: 130px;
        border: 1px dashed @primary-color;
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;
        border-top: none;
        font-size: 0;
        img {
          padding: @padding-base;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border: 1px solid @primary-color;
          border-radius: @border-radius-base;
        }
      }
    }
    .line {
      width: 198px;
      height: 1px;
      background: @primary-color;
      position: absolute;
      top:97px;
      left: 131px;
      z-index: 10;
      &:before {
        width: 4px;
      }
    }
    .storage {
      height: 194px;
      width: 180px;
      margin-left: 100px;
      position: relative;
      img {
        padding: @padding-base;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid @success-color;
        border-radius: @border-radius-base;
      }
    }
  }
}
