/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of Cluster config
 *
 * @author zhangxuan
 * @date 2018-11-28
 */
@import "~assets/style/site/core";
.cluster-config {
  .network-plan-box {
    & > span {
      &:first-of-type {
        margin-right: 85px;
      }
    }
    .ant-form-item {
      display: inline-block;
      vertical-align: top;
      &:first-of-type {
        margin-right: @padding-medium;
      }
    }
  }
  span.hintColor {
    margin-left: @padding-medium;
  }
}
