/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of right cloud hosts
 *
 * @author zhangxuan
 * @date 2018-12-03
 */
@import "~assets/style/site/core";
.right-cloud-hosts {
  .master-error {
    margin-top: @padding-small;
  }
  .host-header {
    background-color: @backgroud-color;
    border: @border-width-base @border-style-base @border-color-base;
    padding: @padding-base @padding-small;
  }
  .cluster-host-list {
    background-color: white;
    border: @border-width-base @border-style-base @border-color-base;
    border-top: none;
    padding: @padding-base @padding-small;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
