@import '../../../../../src/assets/style/site/core.less';
.configManagement {
  padding: 4px @padding-small @padding-small @padding-small;
  background: #fff;
  border-radius: @border-radius-base;
  .tips {
    width: 100%;
    padding: @padding-base;
    margin-left: -@padding-base;
    margin-bottom: @padding-medium;
    margin-top: 16px;
    border: 1px dashed #2db7f5;
    background: #e5f2fa;
    color: #2db7f5;
    font-size: 12px;
    border-radius: @border-radius-base;
  }
  .title {
    position: relative;
    font-size: @font-size-medium;
    &:before {
      content: '';
      display: block;
      height: 20px;
      width: 5px;
      background: @primary-color;
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
  .content {
    .ant-form-item {
      margin-bottom: @padding-base !important;
      margin-left: -10px;
      .ant-form-item-control >span {
        display: inline-block;
        width: 50px;
        text-align: right;
        margin-right: @padding-small;
      }
    }
    .ant-form-item-required {
      &:before {
        display: none;
      }
    }
    .btnGroup {
      vertical-align: top;
      margin-bottom: @padding-base;
      display: inline-block;
      width: 80%;
      button {
        margin-right: @padding-base;
      }
      .inputWrapper {
        margin-top: @padding-small;
        width: 100%;
      }
      .tip {
        font-size: 12px;
        color: @font-color-4;
        margin-left: @padding-base;
      }
    }
  }
}
