@import "../../../../../src/assets/style/site/core.less";
#DatabaseEvent {
  width: 100%;
  max-height: 550px;
  overflow-y: auto;
  color: #666;
  border: none;
  .ant-card-body {
    padding: 20px 20px 20px 0 !important;
  }
  .eventDetail {
    position: relative;
    width: 100%;
    min-height: 60px;
    .success {
      color: @success-color;
    }
    .fail {
      color: @error-color;
    }
    .warning {
      color: @warning-color;
    }
    .pending {
      color: @primary-color;
    }
    .iconBox {
      position: absolute;
      float: left;
      width: 60px;
      height: 100%;
      text-align: center;
      .line {
        margin-left: 29px;
        width: 1px;
        height: 100%;
        border-right: 2px solid #e5e5e5;
      }
      .icon {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20px;
        height: 20px;
        font-size: 20px;
        background-color: #fff;
      }
    }
    .infoBox {
      position: relative;
      margin-top: 5px;
      margin-left: 60px;
      float: left;
      width: calc(~"100% - 60px");
      min-height: 50px;
      line-height: 20px;
      background-color: #f8f8f8;
      font-size: 14px;
      cursor: default;
      .status {
        // position: absolute;
        line-height: 50px;
        float: left;
        width: 165px;
        // height: 100%;
        .commonSpan {
          // position: absolute;
          margin: auto;
          padding: 0 10px;
          // top: 0;
          // bottom: 0;
          // left: 0;
          // right: 0;
          width: 100%;
          // height: 20px;
        }
      }
      .message {
        position: relative;
        // margin-left: 155px;
        padding: 15px 10px;
        float: left;
        width: calc(~"100% - 275px");
        word-break: break-word;
      }
      .createTime {
        position: absolute;
        padding: 15px 10px;
        right: 20px;
        width: 100px;
        height: 100%;
        .commonSpan {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          min-width: 100px;
          max-width: 150px;
          min-height: 20px;
        }
      }
    }
  }
  .containerDetail {
    margin-top: 10px;
  }
}
