/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * ApplyLimit.less page
 *
 * @author zhangtao
 * @date Thursday June 14th 2018
 */
@import "../../../../../src/assets/style/site/core.less";
.ApplyLimitPage {
  background-color: transparent !important;
  .applyLimitWrap {
    margin: @padding-medium @padding-medium 0 @padding-medium;
  }
  .ant-table {
    &-thead {
      tr {
        th {
          background-color: white;
          border-bottom: 1px solid @border-color-base;
        }
      }
    }
  }
  .ProgressWrap {
    padding: 10px;
  }
  .content-btns {
    button:nth-child(1) {
      margin-right: @padding-small;
    }
  }
}

