/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * ApplyLimit.less page
 *
 * @author zhangtao
 * @date Thursday June 14th 2018
 */
@import "../../../../../src/assets/style/site/core.less";
.ApplyLimitPage {
  background-color: transparent !important;
  .applyLimitWrap {
    margin: @padding-medium @padding-medium 0 @padding-medium;
  }
  .ant-table {
    &-thead {
      tr {
        th {
          background-color: white;
          border-bottom: 1px solid @border-color-base;
        }
      }
    }
  }
  .ProgressWrap {
    padding: 10px;
  }
  .content-btns {
    button:nth-child(1) {
      margin-right: @padding-small;
    }
  }
  @iconHeight: 18px;
  .iconallAgree {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allAgree.svg') no-repeat;
    }
  }
  .iconPartAgree {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/partAgree.svg') no-repeat;
    }
  }
  .iconWaitApproval {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/waitApproval.svg') no-repeat;
    }
  }
  .iconallRefuse {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background-color: #cdcdcd;
      border-radius: @iconHeight / 2;
      // background: transparent url('../../../../assets/img/TenantManage/waitApproval.svg') no-repeat;
    }
  }
}

