/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * ApplyLimit.less page
 *
 * @author zhangtao
 * @date Thursday June 14th 2018
 */
@import "../../../../../src/assets/style/site/core.less";
.ApplyLimitPage {
  background-color: transparent !important;
  .applyLimitWrap {
    margin: @padding-medium @padding-medium 0 @padding-medium;
  }
  .ant-table {
    &-thead {
      tr {
        th {
          background-color: white;
          border-bottom: 1px solid @border-color-base;
        }
      }
    }
  }
  .ProgressWrap {
    padding: 10px;
  }
  .content-btns {
    button:nth-child(1) {
      margin-right: @padding-small;
    }
  }
  @iconHeight: 18px;
  .iconallAgree {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allAgree.svg') no-repeat;
    }
  }
  .iconPartAgree {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/partAgree.svg') no-repeat;
    }
  }
  .iconWaitApproval {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/waitApprovalye.svg') no-repeat;
    }
  }
  .iconallRefuse {
    display: flex;
    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allRefuse.svg') no-repeat;
    }
  }
  .secondHeader {
    position: relative;
    .paginationWrap {
      margin: 0;
      position: absolute;
      right: 0;
      display: inline-block;
      width: 200px;
      .paginationtotal {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: @font-size-base;
      }
    }
  }
}

