.replications-endpoints {
  .ant-table-body .ant-table-thead > tr > th {
    background: #ffffff;
    font-weight: normal;
    border-bottom: 1px solid #d9d9d9;
  }
  .actions {
    & > *:not(:last-child) {
      margin-right: 12px;
    }
    & > button + button {
      background-color: #fff;
    }
  }
  .row-actions {
    & > *:not(:last-child) {
      margin-right: 12px;
    }
    & > button + button {
      background-color: #fff;
    }
  }
}