.replications-upsert-modal {
  .ant-modal-content {
    .ant-form-item-label label:after {
      visibility: hidden;
    }
    .ant-modal-footer {
      .footer-left {
        text-align: left;
        & > span {
          margin-left: 10px;
        }
      }
    }
  }
}
