#ContainerList {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  .clearDiv {
    clear: both;
  }
  //顶部工具栏样式
  .operationBox {
    width: 100%;
    .leftBox {
      float: left;
      button {
        margin-right: 10px;
        padding: 4px 10px;
        height: 35px;
        line-height: 27px;
        i {
          margin-right: 5px;
          font-size: 12px;
        }
      }
      .ant-btn-ghost {
        background-color: #FFFFFF;
      }
    }
    .rightBox {
      position: relative;
      float: left;
      .littleLeft {
        z-index: 10;
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 15px;
        color: #949494;
        cursor: pointer;
      }
      .littleRight {
        float: left;
        input {
          height: 35px;
          line-height: 35px;
          font-size: 14px;
          color: #333333;
//        background-color: #f8f8f8;
        }
      }
    }
    .pageBox {
      float: right;
      height: 35px;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 35px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  //数据框
  .containerBox {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    .selectIconTitle {
      width: 5%;
      overflow: hidden;
      text-align: center;
    }
    .containerName,
    .containerStatus,
    .serviceName,
    .imageName {
      width: 12.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
    }
    .visitIp {
      width: 15%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .createTime,
    .actionBox {
      width: 15%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .containerTitle {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #d9d9d9;
      .commonTitle {
        float: left;
        padding-left: 10px;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .dataBox {
      padding-bottom: 40px;
      width: 100%;
      height: auto;
      .commonData {
        float: left;
        padding-left: 10px;
        i {
          cursor: pointer;
        }
      }
      .containerDetail {
        transition: all 0.3s;
        width: 100%;
        line-height: 50px;
        border-bottom: 1px solid #d9d9d9;
        // font-size: 1.2em;
        clear:both;
        zoom: 1;
        .containerStatus {
          i {
            margin-right: 5px;
          }
          .normal {
            color: #5cb85c;
          }
          .error {
            color: #f85a5a;
          }
        }
        .visitIp {
          line-height: 30px;
        }
        .actionBox {
          padding-top: 8px;
          button {
            height: 35px;
            line-height: 27px;
          }
          .ant-btn-group {
            float: left;
          }
          .viewBtn {
            padding-left: 32px;
            use {
              fill: #666666;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
          .viewBtn:hover {
            use {
              fill: #57c5f7;
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
          .moreBtn {
            width: 28px;
          }
          i {
            line-height: 18px;
          }
          svg {
            width: 15px;
            height: 13px;
            position: absolute;
            top: 10px;
            left: 12px;
          }
        }
      }
      .containerDetail:hover {
        background-color: #F2F2F2;
      }
      .selectedContainer {
        background-color: #effdff;
        .viewBtn {
          color: #FFFFFF;
          border-color: #2db7f5;
          background-color: #2db7f5;
        use {
          fill: #FFFFFF !important;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition-property: all;
              transition-duration: 0.3s;
              transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        }
      }
    }
  }
}