.autoScaleModal{
  .strategyLabel{
    position: relative;
    &:after{
      content: ":";
      margin: 0 8px 0 2px;
      position: relative;
      top: -0.5px;
    }
  }
  .strategyBox{
    &>div{
      &:after{
        display: none;
      }
    }
  }
  .ant-form-explain{
    white-space: normal !important;
    height: auto !important;
  }
}