#quickCreateApp {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  .ant-card-head-title {
    font-weight: initial;
  }
  .leftCard {
    .steps {
      padding-left: 30%;
      padding-right: 30%;
      margin-top: 15px;
      .ant-steps-title {
        font-weight: inherit;
      }
    }
  }
  .rightCard {
    .title {
      position: relative;
      clear: both;
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}