#quickCreateApp {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  .ant-card-head-title {
    font-weight: initial;
  }
  .leftCard {
    .steps {
      padding-left: 30%;
      padding-right: 30%;
      margin-top: 15px;
      .ant-steps-title {
        font-weight: inherit;
      }
    }
    .footerSteps {
      margin-top: 32px;
      text-align: center;
      position: relative;
      overflow: hidden;
      .configureSteps {
        position: relative;
        clear: both;
        .left {
          float: left;
        }
        .right {
          float: right;
          button + button {
            margin-left: 20px;
          }
        }
      }
    }
  }
  .rightCard {
    .title {
      position: relative;
      clear: both;
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
    .noService {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .serviceItem {
      padding-top: 5px;
      padding-bottom: 5px;
      .btns {
        text-align: right;
        button {
          margin-left: 10px;
        }
      }
    }
  }
}