#TreeForMember{
  .leftBox,
  .rightBox{
    height:295px;
    border:1px solid #d9d9d9;
    border-radius: 4px;
    .header{
      height:39px;
      line-height:38px;
      padding:0 15px;
      border-bottom: 1px solid #D9D9D9;
      .numberBox{
        float: right;
      }
      .number{
        color: #6fc7f9;
      }
    }
    .body{
      height: 176px;
      overflow-y: scroll;
      .noPermission{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 115px;
      }

    }
  }
  .treeTitle{
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .middleBox{
    height:295px;
    text-align: center;
    padding-top: 115px;
    button{
      display: block;
      margin: 0 auto;
    }
    .add{
      margin-top: 8px;
    }
  }
}