#storage_home{
  padding:20px;
  overflow:hidden;
  .tabs_header_style{
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    .tabs_item_style{
      float: left;
      display: inline-block;
      height:40px;
      line-height: 40px;
      width: 124px;
      text-align: center;
      background: #ffffff;
      border:1px solid #d9dadc;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
    }
    .tabs_item_selected_style{
      color: #2db7f5;
      border-color: #2db7f5;
      border-bottom-color: #ecf0f4;
      background: #eceff4;
    }
    .tabs_item_style:hover{
      color: #2db7f5;
      border-color: #2db7f5;
      border-bottom-color: #ecf0f4;
      background: #eceff4;
    }
  }
  .children_box{
    margin-top: 20px;
  }
}