#mount_service_list{
  min-height: 300px;
  .no_data{
    padding-left: 15px;
    //height: 300px;
  }
  .search_box{
    display: inline-block;
    width:180px;
    position: relative;
    .search_icon{
      position: absolute;
      font-size: 16px;
      cursor: pointer;
      top: 7px;
      right: 8px;
    }
  }
  .service_list{
    padding-top: 20px;
    .list_style{
      height: 62px;
      line-height: 62px;
      border:1px solid #d9d9d9;
      border-radius: 4px;
      margin-bottom: 20px;
    }
    .service_name{
      height: 60px;
      line-height: 60px;
      position: relative;
    }
    .img_box{
      width: 90px;
      height: 60px;
      display: inline-block;
      padding:0;
      position: relative;
      >img {
        display: inline-block;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 30px;
      }
    }
    .text{
      position: absolute;
      top: 0;
      left: 90px;
    }
    .point_style{
      color: #24a7eb;
    }
  }
}