#StorageDetail{
  padding: 20px;
  margin-bottom: 20px;
  .topRow{
    margin-bottom: 20px;
    padding-top: 20px;
    height: 50px;
    .title{
      float: left;
      margin-top: 6px;
      height: 18px;
      line-height: 18px;
      border-left: 5px solid #24a7eb;
      font-size: 16px;
      padding-left: 8px;
      margin-left: 20px;
    }
  }
  .imgBox{
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #C2C2C2;
    img{
      width: 118px;
      height: 118px;
      border-radius: 10px;
      padding: 20px;
    }
  }
  .infoBox{
    float: left;
    width: calc(~"100% - 120px");
    padding-left: 20px;
    color: #666666;
    .appTitle{
      font-size: 16px;
      color: #333333;
    }
    .info{
      line-height: 35px;
      .status{
        span{
          color: #5cb85c;
        }
        i{
          margin:0px 5px;
        }
      }
      .use {
              .ant-progress {
                width: 240px;
              }
      }
    }
  }
  .bottomCard{
    margin-top: 20px;
    .ant-menu-item{
      padding: 0px 30px;
      font-size: 14px;
      color: #333333;
    }
  }
}
