//  border color
@borderColor: #e4e4e4;
#StorageList {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 60px;
  .clearDiv {
    clear: both;
  }
  //顶部工具栏样式
  .operationBox {
    width: 100%;
    .leftBox {
      float: left;
      button {
        margin-right: 10px;
        padding: 4px 10px;
        height: 35px;
        line-height: 27px;
        i {
          margin-right: 5px;
          font-size: 12px;
        }
      }
      .stopBtn {
        background: #FFFFFF !important;
      }
    }
    .rightBox {
      position: relative;
      float: left;
      .littleLeft {
        z-index: 10;
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 15px;
        color: #949494;
      }
      .littleRight {
        float: left;
        input {
          height: 35px;
          line-height: 35px;
          font-size: 14px;
          color: #333333; //        background-color: #f8f8f8;
        }
      }
    }
  }
  .storageBox {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    .appDetail {
      line-height: 50px;
      min-height: 50px;
      clear: both;
      border-bottom: 1px solid #d9d9d9;
    }
    .appTitle {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #d9d9d9;
    }
    .commonTitle {
      float: left;
      padding-left: 10px;
      i {
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .selectIconTitle {
      width: 5%;
      overflow: hidden;
      text-align: center;
    }
    .name {
      width: 10%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status {
      width: 10%;
      .fa {
        margin: 0 5px;
      }
      .normal {
        color: #5cb85c;
      }
      .error {
        color: #f85a5a;
      }
    }
    .formet {
      width: 8%;
    }
    .forin {
      width: 19%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .appname {
      width: 10%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .size {
      width: 8%;
    }
    .createTime {
      width: 15%;
    }
    .actionBox {
      width: 15%;
    }
    .actionBtn {
      float: left;
      width: 15%;
      padding-left: 10px;
      button {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        padding: 5px 10px;
        float: left;
      }
    }
    .dataBox {
      width: 100%;
      .commonData {
        float: left;
        padding-left: 10px;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
      .createTime {
        .spanBlock {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .text-center {
    text-align: center;
  }
  #StorageList .appBox .dataBox .appDetail {
    clear: both;
  }
  .action-btns {
    button {
      margin-right: 8px;
      padding: 6px 10px;
    }
    i {
      font-size: 1.4em;
      vertical-align: middle;
    }
  }
  .status-box {
    padding-left: 30px;
    margin-top: 10px;
    width: 100%;
    .status-list {
      position: relative;
      border-left: 2px solid @borderColor;
      padding: 0 30px;
      height: 120px;
      top: 20px;
      .status-content {
        background: #f8f8f8;
        padding: 25px;
        height: 100px;
        .status-row {
          clear: both;
          zoom: 1;
          width: 100%;
          height: 30px;
        }
      }
      .status-icon {
        position: absolute;
        left: -15px;
        top: 30px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        border-radius: 50%;
      }
      .status-icon.success {
        background-color: #2eba64;
        color: white;
      }
      .status-icon.primary {
        background: #00a0ea;
        color: white;
      }
    }
    .fullProgress {
      .ant-progress-inner {
        border: 1px solid @borderColor;
      }
      .ant-progress-status-success .ant-progress-bg {
        background: #2eba64;
      }
      .ant-progress-status-active .ant-progress-bg {
        background: #00a0ea;
      }
    }
  }
  .uploadModal {
    border: 5px dashed @borderColor;
    padding: 50px;
    text-align: center;
    margin: 20px;
    p {
      margin-top: 20px;
    }
  }
  .uploadModal + .uploadhint {
    padding-left: 20px;
    li {
      height: 25px;
    }
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}