.storageList{
  .appTitle,.dataBox{
    .name{width: 10%}
    .status{width: 10%}
    .formet{width: 10%}
    .forin{width: 10%}
    .appName{width: 10%}
    .size{width: 10%}
    .createTime{width: 10%}
    .actionBox{width: 10%}
  }
}
.operationBox {
  width: 100%;
  .leftBtn {
    float: left;
    .stopBtn{background: white;}
    button {
      margin-right: 10px;
      padding: 4px 10px;
      height: 35px;
      line-height: 27px;
      i {
        margin-right: 5px;
        font-size: 12px;
      }
    }
  }
}
.text-center{text-align: center}