.storageList .appTitle .name,
.storageList .dataBox .name {
  width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.storageList .appTitle .status,
.storageList .dataBox .status {
  width: 10%;
}
.storageList .appTitle .status .fa,
.storageList .dataBox .status .fa {
  margin: 0 5px;
}
.storageList .appTitle .status .normal,
.storageList .dataBox .status .normal {
  color: #5cb85c;
}
.storageList .appTitle .status .error,
.storageList .dataBox .status .error {
  color: #f85a5a;
}
.storageList .appTitle .formet,
.storageList .dataBox .formet {
  width: 10%;
}
.storageList .appTitle .forin,
.storageList .dataBox .forin {
  width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.storageList .appTitle .appname,
.storageList .dataBox .appname {
  width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.storageList .appTitle .size,
.storageList .dataBox .size {
  width: 10%;
}
.storageList .appTitle .createTime,
.storageList .dataBox .createTime {
  width: 10%;
}
.storageList .appTitle .actionBox,
.storageList .dataBox .actionBox {
  width: 10%;
}
.storageList .appTitle .actionBtn,
.storageList .dataBox .actionBtn {
  float: left;
  padding-left: 10px;
}
.operationBox {
  width: 100%;
}
.operationBox .leftBtn {
  float: left;
}
.operationBox .leftBtn .stopBtn {
  background: white;
}
.operationBox .leftBtn button {
  margin-right: 10px;
  padding: 4px 10px;
  height: 35px;
  line-height: 27px;
}
.text-center {
  text-align: center;
}
#AppList .appBox .dataBox .appDetail {
  clear: both;
}
.action-btns button {
  margin-right: 8px;
  padding: 6px 10px;
}
.action-btns i {
  font-size: 1.4em;
  vertical-align: middle;
}
.status-box {
  padding-left: 30px;
  margin-top: 10px;
  width: 100%;
}
.status-box .status-list {
  position: relative;
  border-left: 2px solid #e4e4e4;
  padding: 0 30px;
  height: 120px;
  top: 20px;
}
.status-box .status-list .status-content {
  background: #f8f8f8;
  padding: 25px;
  height: 100px;
}
.status-box .status-list .status-content .status-row {
  clear: both;
  zoom: 1;
  width: 100%;
  height: 30px;
}
.status-box .status-list .status-icon {
  position: absolute;
  left: -15px;
  top: 30px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
}
.status-box .status-list .status-icon.success {
  background-color: #2eba64;
  color: white;
}
.status-box .status-list .status-icon.primary {
  background: #00a0ea;
  color: white;
}
.status-box .fullProgress .ant-progress-inner {
  border: 1px solid #e4e4e4;
}
.status-box .fullProgress .ant-progress-status-success .ant-progress-bg {
  background: #2eba64;
}
.status-box .fullProgress .ant-progress-status-active .ant-progress-bg {
  background: #00a0ea;
}
.uploadModal {
  border: 5px dashed #e4e4e4;
  padding: 50px;
  text-align: center;
  margin: 20px;
}
.uploadModal p {
  margin-top: 20px;
}
.uploadModal + .uploadhint {
  padding-left: 20px;
}
.uploadModal + .uploadhint li {
  height: 25px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
