#AppStore {
	padding: 40px;
	.operaBox {
		height: 70px;
		line-height: 70px;
		border-bottom: 1px solid #E5E5E5;
		span {
			float: left;
			font-size: 14px;
		}
		input {
			margin-top: 20px;
			margin-left: 30px;
			float: left;
			width: 170px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.line {
			margin-top: 25px;
			float: left;
			width: 18px;
			height: 20px;
			border-left: 3px solid #00A1EA;
		}
		button {
			height: 32px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.AppList {
		padding: 20px 40px;
		width: 100%;
		max-height: 600px;
		overflow-y: auto;
		border-bottom: 1px solid #E5E5E5;
		.AppDetail {
			padding: 10px;
			position: relative;
			float: left;
			width: 120px;
			height: 150px;
			cursor: pointer;
			.imgBox {
				position: static;
				width: 100px;
				height: 100px;
				.ant-card-body {
					width: 100px;
					height: 100px;
				}
				img {
					position: absolute;
					top: 12px;
					left: 12px;
					width: 96px;
					height: 96px;
					border-radius: 6px;
				}
				.selectIcon {
					display: none;
					position: absolute;
					bottom: 47px;
					right: 19px;
					color: #00A1EA;
					font-size: 15px;
				}
			}
			span {
				display: block;
				width: 100%;
				height: 30px;
				line-height: 30px;
				text-align: center;
			}
		}
		.selectedApp {
			.imgBox {
				border: 2px solid #00A1EA;
				box-shadow: 3px #999999;
				.selectIcon {
					display: block;
				}
			}
		}
	}
	.btnBox{
		margin-top: 50px;
		text-align: center;
		button{
			margin-right: 30px;
			width: 110px;
		}
	}
}