// 基础扫描
#BaseScan {
  overflow: hidden;
  .basicscantitle{
    margin-top:40px;
    line-height: 24px;
  }
  .basicscanmain{
    overflow: hidden;
    .basicscanmaintitle{
      heihgt:57px;
      line-height: 57px;
      .basicscanmaintitleitem{
        font-size: 16px;
        border-left: 5px solid #2db7f6;
        padding-left: 8px;
      }
    }
    .basicscanmaintable{
      width:100%;
      table{
        table-layout:fixed;
        tr{
          padding:0;
          background: #eef2f5;
          td{
            padding-top: 0;
            padding-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .ant-table-row-expand-icon-cell{
            width:26px;
          }
        }
      }
      .ant-table-expanded-row{
        background: #ffffff;
      }
      .basicscanColumns{
        font-size: 16px;
        height:22px;
        line-height: 22px;
      }
    }
  }
}