#MirrorSafetyBug{
  // Echarts
  .safetybugEcharts{
    width:100%;
    height:220px;
    position: relative;
    .safetybugEchartslegend{
      position: absolute;
      top:13px;
      left:41%;
      color: #606060;
      .safetybugEchartslegendtitle{
        height:70px;
        line-height: 70px;
        font-size: 18px;
      }
      .safetybugEchartslegendcontent{
        height:24px;
        line-height: 24px;
        font-size: 14px;
        .safetybugEchartslegendcontentleft{
          width:165px;
        }
        .safetybugEchartslegendcontentright{
          width:55px;
          text-align: right;
        }
        .rightmargin{
          margin-left: 3px;
        }
        .iconmargin{
          margin:0 8px 0 4px;
        }
        .highcolor{
          color:#fa4f55;
        }
        .middlecolor{
          color: #f7a45e;
        }
        .lowcolor{
          color: #fbc82f;
        }
        .ignorecolor{
          color:#c7eafe;
        }
      }
    }
  }
  // 镜像漏洞
  .safetybugmirror{
    overflow: hidden;
    border-top: 1px solid #e9e8ed;
    .safetybugmirrortitle{
      height: 68px;
      padding:18px 3px 0 3px;
      .safetybugmirrortitleleft{
        float:left;
        height: 18px;
        line-height: 18px;
        font-size: 18px;
        text-indent: 13px;
        border-left: 5px solid #2bb5f4;
      }
      .safetybugmirrortitleright{
        float: right;
        width:357px;
      }
    }
    //  table
    .safetybugtable{
      clear: both;
      .ant-table-expanded-row{
        background: white;
      }
      .softwarepicturelright{
        color:#2cb8f5;
        margin-left: 6px;
      }
      .safetybugtablepoint{
        display:inline-block ;
        color: #ffffff;
        background: black;
        width:60px;
        height:20px;
        text-align: center;
        line-height:20px;
        border-radius: 4px;
        border-right:4px solid #4fb94b;
        margin-right: 8px;
      }
      .safetybugtableitem{
        display: inline-block;
        vertical-align: bottom;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .tablesub{
        width:75%;
        .ant-table-thead{
          border:none;
        }
        .tablesubtitle{
          height:22px;
          line-height:22px;
          font-size: 14px;
          margin-bottom: 13px;
        }
        .tablesubbody{
          .column-visite{
            font-size: 12px;
          }
        }
        .tablesubtitlefooter{
          height: 24px;
          line-height: 24px;
          font-size: 14px;
          margin:6px 0 3px 0;
        }
        //.tablesubtitlefooteritem{
        //  overflow: hidden;
        //  text-overflow: ellipsis;
        //  white-space: nowrap;
        //}
      }
    }
  }
}