#mirrorsafety{
  background: #ffffff;
  border: 1px solid #e8e6e7;
  border-radius: 1px;
  overflow: hidden;
  padding: 10px 30px 70px 30px;
  .safetyselect{
    height: 76px;
    position: relative;
    .safetyselectson{
      min-width:300px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin:-13px 0 0 -150px;
    }
  }

  .safetytabcontainer{
    overflow: hidden;
    .safetytab{
      width: 480px;
      margin: 0 auto;
      overflow: hidden;
      .safetytabpane{
        float: left;
        display: block;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        width: 120px;
        border: 1px solid #c7c7c7;
        border-left: none;
        cursor: pointer;
        .safetytabIcon{
          margin:0 8px 0 14px;
        }
      }
      // 左右两侧圆角
      .safetytabpaneradius1{
        border-left:1px solid #c7c7c7;
        border-radius:3px 0 0 3px;
      }
      .safetytabpaneradius2{
        border-radius:0 3px 3px 0;
      }
      .safetytabpaneselected{
        background: #2db7f5;
        color:#ffffff;
        border: 1px solid #2db7f5;
      }                       
    }
  }
  .mirror{
    display: none;
  }
  .safetybugdis{
    display: none;
  }
  .softwarebugdis{
    display: none;
  }
  .basicscandis{
    display: none;
  }
  // 镜像分层
  .safetycontent{
    overflow: hidden;
    width: 100%;
    height:100%;
    padding-top: 40px;
    position: relative;
    .safetycontentitem{
      line-height: 20px;
      vertical-align: top;
    }
    // steps
    .safetycontentmian{
      width:100%;
      overflow: hidden;
      position: relative;
      padding-left: 104px;
      .ant-steps-tail{
        height:126%;
        i:after{
          height:150%;
        }
      }
      .safetycontentmianitem{
        padding-top: 20px;
      }
      .ant-steps-title{
        margin: 0;
        width:auto;
      }
      .ant-steps-main{
        overflow: initial;
        padding-bottom: 0;
        margin-top: 0;
        .ant-steps-description{
          padding-bottom: 0;
        }
      }
      .safetytabitem{
        position: relative;
        margin-left: 42px;
        border-bottom: 1px solid #e2e2e2;
        padding:3px 2px 20px 0;
        .safetytabitemleft{
          width: 104px;
          height:30px;
          position: absolute;
          top:0;
          left: -148px;
          font-size: 12px;
          padding-right: 5px;
          line-height: 27px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .safetytabitemtitle{
          float: left;
          display: block;
          text-align: right;
          padding-right: 5px;
          width:70px;
          height:100%;
          line-height: 20px;
          background: black;
          color: white;
          border-radius:3px;
          border-right: 4px solid #2db7f5;
        }
        .safetytabitemdescription{
          font-size: 15px;
          margin:-3px 0 0 75px;
          line-height: 26px;
          color:black;
          word-break: break-all;
        }
      }
    }    
  }

  // 漏洞扫描
  .safetybug{
    // Echarts
    .safetybugEcharts{
      width:100%;
      height:220px;
      position: relative;
      .safetybugEchartslegend{
        position: absolute;
        top:13px;
        left:41%;
        color: #606060;
        .safetybugEchartslegendtitle{
          height:70px;
          line-height: 70px;
          font-size: 18px;
        }
        .safetybugEchartslegendcontent{
          height:24px;
          line-height: 24px;
          font-size: 14px;
          .safetybugEchartslegendcontentleft{
            width:165px;
          }
          .safetybugEchartslegendcontentright{
            width:55px;
            text-align: right;
          }
          .rightmargin{
            margin-left: 3px;
          }
          .iconmargin{
            margin:0 8px 0 4px;
          }
          .highcolor{
            color:#fa4f55;
          }
          .middlecolor{
            color: #f7a45e;
          }
          .lowcolor{
            color: #fbc82f;
          }
          .ignorecolor{
            color:#c7eafe;
          }
        }
      }
    }
    // 镜像漏洞
    .safetybugmirror{
      overflow: hidden;
      border-top: 1px solid #e9e8ed;
      .safetybugmirrortitle{
        height: 68px;
        padding:18px 3px 0 3px;
        .safetybugmirrortitleleft{
          float:left;
          height: 18px;
          line-height: 18px;
          font-size: 18px;
          text-indent: 13px;
          border-left: 5px solid #2bb5f4;
        }
        .safetybugmirrortitleright{
          float: right;
          width:357px;
        }
      }
      //  table
      .safetybugtable{
        clear: both;
        .ant-table-expanded-row{
          background: white;
        }
        .softwarepicturelright{
          color:#2cb8f5;
          margin-left: 6px;
        }
        .safetybugtablepoint{
          display:inline-block ;
          color: #ffffff;
          background: black;
          width:60px;
          height:20px;
          text-align: center;
          line-height:20px;
          border-radius: 4px;
          border-right:4px solid #4fb94b;
          margin-right: 8px;
        }
        .safetybugtableitem{
          display: inline-block;
          vertical-align: bottom;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .tablesub{
          width:75%;
          .ant-table-thead{
            border:none;
          }
          .tablesubtitle{
            height:22px;
            line-height:22px;
            font-size: 14px;
            margin-bottom: 13px;
          }
          .tablesubbody{
            .column-visite{
              font-size: 12px;
            }
          }
          .tablesubtitlefooter{
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            margin:6px 0 3px 0;
          }
          //.tablesubtitlefooteritem{
          //  overflow: hidden;
          //  text-overflow: ellipsis;
          //  white-space: nowrap;
          //}
        }
      }
    }
  }

  // 软件包
  .softwarePackage {
    width: 100%;
    overflow: hidden;
    .softwarePackageEcharts {
      height: 220px;
      width:100%;
      margin: 0 auto;
      position: relative;
      // 组件样式
      .softwarePackageLegend{
        position: absolute;
        height:220px;
        top:0;
        left:41%;
        padding: 20px 0 0 40px;
        .softwarePackageLegendheader{
          height:43px;
          line-height: 18px;
          padding-top: 0;
          font-size: 18px;
        }
        .softwarePackageLegendmain1{
          width:25px;
          height: 24px;
        }
        .softwarePackageLegendmain2{
          width: 70px;
          text-align:right;
          padding-right: 18px;
        }
      }
    }
    // 表格
    .softwarePackageTable {
      border-top: 1px solid #e5eaf0;
      .softwarePackageTableTitle {
        height: 70px;
        padding-top: 20px;
        .softwarePackageTableTitleleft {
          float: left;
          height: 16px;
          margin-top: 7px;
          text-indent: 8px;
          border-left: 5px solid #2db7f6;
        }
        .softwarePackageTableTitleright {
          float: right;
        }
      }
      .softwarePackageTableContent {
        width:100%;
        clear: both;
        table{
          table-layout: fixed;
          word-break: break-all;
          td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .softwarepicturelleft{
          display: inline-block;
          width:60px;
          text-align: center;
          height:20px;
          line-height: 20px;
          background: black;
          color: white;
          border-right:4px solid #5ab95b;
          border-radius: 3px;
          margin:0 8px 0 3px;
          margin-left: 1px;
        }
        .softwarepicturelright{
          color:#2cb8f5;
          margin-left: 3px;
        }
      }
    }
  }

  // 基础扫描
  .basicscan{
    overflow: hidden;
    .basicscantitle{
      margin-top:40px;
      line-height: 24px;
    }
    .basicscanmain{
      overflow: hidden;
      .basicscanmaintitle{
        heihgt:57px;
        line-height: 57px;
        .basicscanmaintitleitem{
          font-size: 16px;
          border-left: 5px solid #2db7f6;
          padding-left: 8px;
        }
      }
      .basicscanmaintable{
        width:100%;
        table{
          table-layout:fixed;
          tr{
            padding:0;
            background: #eef2f5;
            td{
              padding-top: 0;
              padding-bottom: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .ant-table-row-expand-icon-cell{
              width:26px;
            }
          }
        }
        .ant-table-expanded-row{
          background: #ffffff;
        }
        .basicscanColumns{
          font-size: 16px;
          height:22px;
          line-height: 22px;
        }
      }
    }
  }
}