#overall{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 999;
  bottom: 0;
}
.ceph{
  width:100%;
  transition: all 0.3s;
  #iframe{
    height: 100%;
    position: absolute;
  }
  .pushUrl{
     margin-top: 50px;
     text-align: center;
    .ant-input-wrapper{

      display: inline-block;width: 420px;
      #url{width: 400px;}
    }
  }
}