#IntegrationDetail {
  position: relative;
  padding-top: 10px;
  .backBtn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .ant-tabs-bar {
    margin-bottom: 0 !important;
  }
  .dcSelector {
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 140px;
  }
}