.openstack-wrapper {
  /* .ant-col-6 label {
    position: absolute;
    left: -5px;
    text-align: right;
    display: inline-block;
    width: 100%;
  } */
  .footer {
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}