#VmList {
  padding-top: 20px;
  .operaBox {
    padding-left: 30px;
    button {
      float: left;
    }
    .refreshBtn {
      margin-left: 10px;
    }
  }
  .titleBox {
    margin-top: 10px;
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E5E5E5;
    .commonTitle {
      padding-left: 10px;
      float: left;
      width: 10%;
      height: 40px;
      line-height: 40px;
    }
    .pod,
    .startTime {
      width: 12.5%;
    }
    .ip {
      padding-left: 30px;
      width: 20%;
    }
    .cpu,
    .memory,
    .disk {
      width: 6%;
    }
    .opera {
      width: 17%;
    }
  }
  .podDetail {
    transition: all 0.3s;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E5E5E5;
    .commonTitle {
      padding-left: 10px;
      float: left;
      width: 10%;
      height: 60px;
      line-height: 60px;
      .commonSpan {
        display: block;
        width: 100%;
        word-break: break-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .topSpan,
        .bottomSpan {
          display: block;
          height: 20px;
          line-height: 20px;
        }
        .topSpan {
          margin-top: 10px;
        }
        .bottomSpan {
          color: #999999;
        }
        .poweron {
          .fa {
            margin-right: 7px;
          }
          color: #5CB85C;
        }
        .poweroff {
          .fa {
            margin-right: 7px;
          }
          color: #F85A5A;
        }
      }
    }
    .pod,
    .startTime {
      width: 12.5%;
    }
    .ip {
      padding-left: 30px;
      width: 20%;
    }
    .cpu,
    .memory,
    .disk {
      width: 6%;
    }
    .opera {
      width: 17%;
      .terminalBtn {
        margin-right: 10px;
      }
      svg {
        position: absolute;
        top: 8px;
        left: 12px;
        width: 15px;
        height: 13px;
        use {
          fill: #ffffff;
        }
      }
    }
    &:hover {
      background-color: #F2F2F2;
    }
  }
}