#VSphereDetail {
  padding: 20px;
  .leftBox {
    float: left;
    width: 65%;
    height: 260px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    .titleBox {
      padding-left: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      border-bottom: 1px solid #E5E5E5;
    }
    .littleLeft {
      float: left;
      width: 35%;
    }
    .littelMiddle {
      float: left;
      width: 35%;
    }
    .littelRight {
      padding: 0 10px;
      float: left;
      width: 30%;
      p {
        margin-top: 17px;
        margin-bottom: 47px;
        font-size: 14px;
        text-align: center;
      }
      .colorBox {
        margin-right: 10px;
        float: left;
        width: 14px;
        height: 14px;
        border-radius: 3px;
      }
      .rightSpan {
        float: right;
      }
      .podNum {
        margin-bottom: 15px;
        line-height: 14px;
        .colorBox {
          background-color: #46b2fa;
        }
      }
      .healthPod {
        margin-bottom: 15px;
        line-height: 14px;
        .colorBox {
          background-color: #2abe84;
        }
      }
      .unstartPod {
        line-height: 14px;
        .colorBox {
          background-color: #a2d8fc;
        }
      }
    }
  }
  .rightBox {
    margin-left: 20px;
    float: left;
    width: calc(~"35% - 20px");
    height: 260px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    .titleBox {
      padding-left: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      border-bottom: 1px solid #E5E5E5;
    }
    .littleLeft {
      padding-top: 60px;
      padding-left: 10px;
      float: left;
      width: 140px;
      #ProgressBox {
        width: 100%;
        .boxContainer {
          top: 0;
          transform: translate(0, 0);
        }
      }
    }
    .littelRight {
      padding-top: 60px;
      padding-right: 20px;
      float: left;
      width: calc(~"100% - 140px");
      height: 220px;
      .commonBox {
        margin-bottom: 10px;
        .leftSpan {
          float: left;
        }
        .rightSpan {
          float: right;
        }
      }
    }
  }
  .bottomBox {
    margin-top: 20px;
    width: 100%;
    height: 240px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    .commonBox {
      position: relative;
      padding-top: 170px;
      float: left;
      width: 20%;
      height: 240px;
      border-right: 1px solid #E5E5E5;
    }
    img{
      position: absolute;
      margin-left: -50px;
      left: 50%;
      top: 50px;
    }
    p {
      padding: 0px 10px;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
    }
  }
  .tagBox {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999999;
    .fa{
      margin-right: 10px;
    }
  }
}