@import '~assets/style/site/core';

.deployAI {
  &-env-text {
    margin-bottom: @padding-small;
  }
  .desc-text {
    margin-top: @padding-base;
    color: @font-color-4;
  }
  &-bind-modelsets {
    margin-top: @padding-small;
    &-label {
      height: 32px;
      line-height: 32px;
    }
  }
}
