.FlowContainer {
  margin-top: 24px;
  .FlowTitle {
    font-size: 14px;
    padding-left: 25px;
  }
  .inOutInfo {
    height: 32px;
    line-height: 32px;
  }
  .SliderRow {
    margin-top: 12px;
  }
  .InputWrap {
    margin-top: 8px;
  }
  .containerN {
    padding-left: 4px;
  }
  .InfoIcon {
    padding-left: 4px;
  }
}
