.TenxStatus{
  line-height: 25px;
  .Pending, .Starting, .Deploying {
    color: dodgerblue;
    position: relative;
    top: 5px;
    .ant-progress-bg {
      border-radius: 100px;
      background-color: #2db7f5;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
      position: relative;
    }
  }
  .Running, .Restarting, .Redeploying, .Rebuilding, .Succeeded {
    color: green;
    position: relative;
    top: 5px;
    .ant-progress-bg {
      border-radius: 100px;
      background-color: green;
      background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
      //transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
      //transition: width .6s ease;
      position: relative;
    }
  }
  .Unknown {
    color: grey;
    position: relative;
    top: 5px;
  }
  .Terminating {
    color: orange;
    position: relative;
    top: 5px;
    .ant-progress-bg {
      border-radius: 100px;
      background-color: orange;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
      position: relative;
    }
  }
  .Stopping, .Stopped {
    color: red;
    position: relative;
    top: 5px;
    .ant-progress-bg {
      border-radius: 100px;
      background-color: red;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
      position: relative;
    }
  }
  .Scaling {
    color: purple;
    position: relative;
    top: 5px;
    .ant-progress-bg {
      border-radius: 100px;
      background-color: purple;
      transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
      position: relative;
    }
  }
  .text {
    color: grey;
    position: relative;
    top: -2px;
  }
  .ant-progress-line {
    position: relative;
    top: -7px;
  }
}