#API {
  .title {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    border-left: 5px solid #46b2fa;
    padding-left: 9px;
    margin: 0 0 20px 0;
  }
  .API-body {
    font-size: 14px;
    .APIInfo {
      width:600px;
      height:30px;
      line-height:30px;
      margin-bottom:10px
    }
    .APITable {
      border-collapse:collapse;
      tr {
        height: 37px;
      }
      td {
        border: 1px solid #e2e2e2;
        padding-left: 10px;
        width: 368px;
        .tokenInt {
          display: inline-block;
          width: 92%;
          border: none;
          background-color: #fff;
        }
        .hidToken {
          color: #00a0ea;
        }
      }
      .tableTitle {
        width: 120px;
      }
    }
  }
}