#API {
  font-size: 14px;
  padding: 50px 0;
  padding-left: 10%;
  background-color: #fff;
  .APITitle {
    height:50px;
    line-height: 50px;
    font-size: 18px;
  }
  .APIInfo {
    width:600px;
    height:30px;
    line-height:30px;
    margin-bottom:10px
  }
  .APITable {
    border-collapse:collapse;
    tr {
      height: 37px;
    }
    td {
      border: 1px solid #e2e2e2;
      padding-left: 10px;
      width: 368px;
      .tokenInt {
        display: inline-block;
        width: 92%;
        border: none;
        background-color: #fff;
      }
      .hidToken {
        color: #00a0ea;
      }
    }
    .tableTitle {
      width: 120px;
    }
  }
}