@borderColor: #E2E2E2;
.appStoreDetail{
    background: #F8F8F8;
    height: 100%;
  .topTitle{
    height: 60px;line-height: 60px;
    padding:0 30px;
    background: white;
    border-bottom: 1px solid @borderColor;
    .rightColse{float: right;font-size: 18px;}
  }
  .wrapContent{
    padding:30px;
  }
  .boxDeploy{
    background: white;
    border:1px solid @borderColor;
    height: 140px;
    padding:30px;
    clear: both;
    .detailImage{
      height: 100%;
      float: left;
    }
    .detailType{
      float: left;
      margin-left: 30px;
      li{
        line-height: 25px;
      }
    }
    .right-btn{
      float: right;
      margin-top: 20px;
    }
  }

  .boxContent{
    .infoList{
      background: white;
      padding:30px;
      border:1px solid @borderColor;
    }
  }
}