.DelTeamModal {
  .ant-alert {
    background-color: #fffbf5;
    border: 1px dashed #fedb9f;
  }
  .delTip {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 8px 0 0 16px;
    border-bottom: 1px dashed #fedb9f;
  }
  .tip {
    font-size: 14px;
    .tipIcon {
      text-align: center;
      height:30px;
      line-height: 30px;
    }
    .tipText {
      line-height: 30px;
    }

  }
  .confirm {
    padding: 8px 8px 8px 16px;
    font-size: 14px;
    color: #119fdf;
    .confirmIcon {
      text-align: center;
    }
    .confirmInt {
      width: 140px;
    }
  }
}