#NotFoundErrorPageBox {
  padding-top: 50px;
  // width: 100%;
  text-align: center;
  .codeTitle {
    color: #46b2fa;
    font-size: 83px;
    line-height: 83px;
    font-weight: 400;
  }
  p{
    font-size: 18px;
    color: rgb(20,127,243);
  }
  .backBtn{
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    border-radius: 19px;
    background-color: rgb(45,183,245);
  }
}