#account_ldap{
  overflow: hidden;
  .lastDetails,
  .basicSetup,
  .handle{
    overflow: hidden;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 20px;
    .title{
      height: 41px;
      line-height: 40px;
      border-bottom:1px solid #e2e2e2;
      padding-left: 24px;
      font-size: 16px;
      font {
        color: red;
        font-size: 14px;
      }
    }
    .ant-col-4{
      max-width: 130px;
    }
    .ant-form-item{
      max-width: 600px;
    }
  }
  .lastDetails{
    padding-bottom: 15px;
    .imgcomtainer{
      height:160px;
      padding:20px 0;
      img{
        display: inline-block;
      }
      .ant-col-6{
        max-width: 200px;
      }
      .leftcoltips,
      .rightcoltips{
        font-size: 14px;
        color:#2db7f5;
      }
      .leftcol{
        text-align: right;
        .leftcoltips{
          padding-right:18px;
        }
      }
      .centercol{
        text-align: center;
        padding-top: 35px;
      }
      .rightcol{
        text-align: left;
        .rightcoltips{
          padding-left: 18px;
        }
      }
    }
    .container{
      padding:0 40px 40px 40px;
    }
  }

  .item{
    padding:20px 0;
    font-size: 14px;
    .item_content{
      .number{
        font-size:20px;
        color: #9bd5fb;
        padding:0 3px;
      }
    }
  }
  .itemfirst{
    height:30px;
    line-height:30px;
  }

  .basicSetup{
    .container{
      font-size: 14px;
      .star{
        color:red;
        padding-left: 3px;
      }
      .ant-form-item{
        margin-bottom: 0;
      }
      .rowPadding{
        padding:0 40px;
        border-bottom:1px solid #e2e2e2;
        .item_input{
          height:56px;
          line-height: 31px;
        }
      }
      .type{
        .itemtype{
          height: 70px;
          line-height:70px;
        }
      }
      .host_port{
        padding: 20px 40px 0px 40px;
        .item_content{
          //padding-top: 12px;
        }
      }
      .synchronous{
        padding:20px 40px;
        .firstrow{
          height:36px;
          line-height:36px;
        }
        .seconderow{
          padding-top:10px;
          padding-bottom:10px;
        }
        .thirdrow{
          height:46px;
          line-height:46px;
          .leftradio{
            margin-right: 55px;
          }
        }
      }
      .userinfo{
        padding-top:20px;
        border-bottom:none;
      }
      .buttonrow{
        padding-bottom:40px;
        .leftbutton{
          margin-right: 12px;
        }
      }
    }
  }

  .handle{
    .container{
      padding:30px 40px ;
      .tips{
        height:41px;
        line-height:41px;
        display: inline-block;
        background: #fffbf5;
        border:1px dashed #fed897;
        border-radius: 4px;
        padding:0 16px;
        .icon{
          font-size: 20px;
          margin-right: 12px;
          color:#ffbe03;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .remove{
        padding-top:20px;
        .removeButton{
          background: #f96b6a;
          color: #ffffff;
        }
      }
    }
  }
}

.LiftIntegrationModal{
  .title{
    padding-bottom: 20px;
    font-size: 14px;
  }
  .tips{
    background: #fffbf5;
    border:1px dashed #fed897;
    padding:16px;
    border-radius: 4px;
    color:red;
    height:70px;
    font-size: 14px;
    .iconcontainer{
      float:left;
      padding-top: 8px;
      .icon{
        font-size:22px;
      }
    }
    .item{
      padding-left: 12px;
      width:calc(~"100% - 30px");
      float: left;
    }
  }
}