@import "../../../../../src/assets/style/site/core.less";
.aotuScalerModal {
  .ant-modal-header {
    background-color: #333 !important;
    color: #fff !important;
  }
  .topIconContainer {
    padding: 30px 20px;
    // border-bottom: 1px dashed #ccc;
    .iconCon {
      box-sizing: border-box;
      width: 90px;
      float: left;
      height: 80px;
      position: relative;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin: 0 10px;
      cursor: pointer;
      .icon {
        position: absolute;
        top: 0;
        height: ~"calc(100% - 28px)";
        width: 100%;
        background-position: center center;
        background-size: auto auto;
        background-repeat: no-repeat;
      }
      .name {
        position: absolute;
        bottom: 0;
        padding: 5px 0;
        text-align: center;
        color: #666;
        width: 90px;
      }
    }
    .iconvmware .icon {
      background-image: url('../../../../assets/img/clusterAutoScaler/vmware.png');
    }
    .iconazure .icon {
      background-image: url('../../../../assets/img/clusterAutoScaler/azure.png');
    }
    .iconaws .icon {
      background-image: url('../../../../assets/img/clusterAutoScaler/aws.png');
    }
    .iconali .icon {
      background-image: url('../../../../assets/img/clusterAutoScaler/ali.png');
    }
    .iconConDis {
      opacity: 0.5;
      background-color: #d9d9d9;
    }
    .iconCon:hover {
      cursor: pointer;
      border: 2px solid @primary-color;
      color: @primary-color;
      use {
        fill: @primary-color !important;
      }
      .name {
        bottom: -1px;
        width: 88px;
        color: @primary-color;
        /* 解决box-sizing hover 出现border时错位问题 */
      }
    }
    .iconopenstack .icon {
      text-align: center;
      padding-top: 9px;
      i {
        font-size: 30px;
      }
    }
    .selectedBox.iconopenstack, .iconopenstack.iconCon:hover {
      .icon {
        padding-top: 8px;
      }
    }
    .selectedBox {
      border: 2px solid @primary-color;
      color: @primary-color;
      use {
        fill: @primary-color !important;
      }
      .commonSelectedImg {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 22px;
        height: 22px;
      }
      .fa-check {
        display: block;
        position: absolute;
        bottom: 1px;
        right: 1px;
        color: #fff;
      }
      .name {
        bottom: -1px;
        width: 88px;
        color: #00a1ea;
        /* 解决box-sizing hover 出现border时错位问题 */
      }
    }
    .commonSelectedImg,
    .fa-check {
      display: none;
    }
  }
  .bottom-line {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
    background-size: 10px 1px;
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
  }
  .descContainer {
    text-align: center;
    color: #999;
    padding: 16px 0 24px 0;
  }
  .btnConatainer {
    text-align: center;
    padding: 40px 0 24px 0;
  }
  .stepContainer {
    padding: 10px 50px;
    // border-bottom: 1px dashed #ccc;
    margin-top: 5px;
    position: relative;
    .bottom-line {
      transform: translateY(-15px);
    }
  }
  .vmTemplateDetail {
    .path {
      padding-right: 10px;
      width: 100%;
      /* font-size: 14px; */
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      word-break: break-all;
      white-space: nowrap;
    }
    .lowcase {
      color: #999;
    }
  }

  .formContainer {
    // padding-top: 30px;
    .panel {
      .unitWapper {
        position: relative;
        label::after {
          content: "" !important;
        }
      }
      // border-bottom: 1px dashed #ccc;
      margin-bottom: 10px;
      .rowtext {
        color: #f5cc4e;
      }
      .ant-row {
        .unit {
          display: inline-block;
          position: absolute;
          margin-left: 5px;
        }
        .unit.count {
          top: 40px;
          left: 130px;
        }
        .unit.count.countright {
          left: 302px;
        }
        .hint {
          display: inline-block;
          float: right;
          height: 32px;
          line-height: 32px;
        }
        .min, .max {
          .name {
            width: 100%;
          }
          .mmItem .item {
            width: 100px;
          }
          float: left;
        }
        .ant-form-item {
          margin-bottom: 15px;
        }
      }
      .row {
        margin: 15px 0;
        .right, .left {
          float: left;
        }
        .left {
          width: 100px;
          text-align: right;
          height: 30px;
          line-height: 30px;
          padding-right: 10px;
        }
        .right {
          width: ~"calc(100% - 100px)";
          padding-right: 20px;
          line-height: 30px;
          .unit {
            display: inline-block;
            margin-left: 10px;
          }
          .hint {
            display: inline-block;
            float: right;
            height: 28px;
            line-height: 28px;
          }
          .min, .max {
            width: 50%;
            .name {
              width: 100%;
            }
            .mmItem .item {
              width: 150px;
            }
            float: left;
          }
        }
        .clearBoth {
          clear: both;
        }
      }
      .noMB {
        margin-bottom: 0 !important;
      }
    }
    .panel.noBottom {
      border-bottom: none !important;
      margin-bottom: 0 !important;
    }
  }
  .panel {
    padding-top: 20px;
  }
  .step1 {
    .formItemWidth {
      width: 100%;
    }
  }
  .step2 {
    .iconLabel {
      .anticon {
        vertical-align: inherit !important;
      }
    }
  }
  .step1.hide, .step2.hide, .step0.hide {
    display: none;
  }
  .iconEye {
    position: absolute;
    right: -20px;
    top: 10px;
    text-align: center;
    cursor: pointer;
  }
  .optionValueNull {
    color: #e8e9e8 !important;
  }
  .jiedianContainer {
    .ant-input-number {
      width: 100% !important;
    }
    .ant-col-24 {
      width: 100%;
      text-align: left;
    }
    .ant-row {
      width: 50%;
      float: left;
    }
    .rowtext {
      margin-bottom: 15px;
      width: 100%;
    }
  }
 }
