@import "../../../../../../src/assets/style/site/core.less";
.DeployDetailWrapper {
  .returnTitle {
    margin-bottom: 10px;
    .titleSpan {
      padding-left: 10px;
      margin-left: @padding-medium;
      display: inline-block;
      height: 16px;
      line-height: 20px;
      font-size: 14px;
      border-left: 5px solid @primary-color;
      color: #333;
    }
  }
}

.BaseInfoCard {
  p {
    line-height: 40px;
    height: 40px;
  }
  .ant-card-head-title {
    font-weight: 400;
  }
  .modal-price {
    border-radius: 10px;
    border: 1px solid #21adeb;
    background: #e4f5fd;
    .price-top {
      padding-top: 10px;
      padding-bottom: 15px;
      .keys {
        width: 85%;
        margin: 0 auto;
        line-height: 30px;
      }
    }
    .price-unit {
      height: 80px;
      border-top: 1px dashed #21adeb;
      .price-unit-inner {
        width: 85%;
        margin: 0 auto;
      }
      .unit {
        color: #21adeb;
      }
      .blod {
        font-size: 22px;
      }
    }
  }
}
.deleteBpm {
    padding: 14px 24px;
    line-height: 20px;
    color: #7f7f7d;
    font-size: 12px;
    background-color: #fffbf5;
    border: 1px dashed #fedc9f;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    i {
      font-size: 18px;
      color: @warning-color;
    }
}
.DeployDetailTable {
  .ant-card-body {
    padding-top: 13px !important;
  }
}
