@import "../../../../../../src/assets/style/site/core.less";
.DeployDetailWrapper {
  .returnTitle {
    margin-bottom: 10px;
    .titleSpan {
      padding-left: 10px;
      margin-left: @padding-medium;
      display: inline-block;
      height: 16px;
      line-height: 20px;
      font-size: 14px;
      border-left: 5px solid #00a1ea;
      color: #333;
    }
  }
}

.BaseInfoCard {
  p {
    line-height: 40px;
    height: 40px;
  }
  .ant-card-head-title {
    font-weight: 400;
  }
}

