//sider
#sider {
  position: inherit;
  width: 60px;
  height: 100%;
  background-color: #2b333d;
  transition: all 0.3s;
  //公用li样式
  .miniSider {
    //通用图标样式
    .commonImg {
      margin-top: 14px;
      margin-left: 17px;
      height: 22px;
      width: 22px;
    }
    .logoItem {
      margin-bottom: 20px;
      background-color: #333c47;
    }
    li {
      padding: 0 !important;
      float: left;
      width: 100%;
      height: 50px;
      cursor: pointer;
      transition: all 0.3s;
      use {
        transition: all 0.3s;
        fill: #a8aeb7 !important;
      }
    }
    li:hover {
      background-color: #333c47;
      use {
        fill: #d6dbea !important;
      }
    }
  }
  //被选中态
  .selectedLi {
    background-color: #333c47;
    border-right: 3px solid #00afdd;
    use {
      fill: #2db7f5 !important;
    }
  }
  .selectedLi:hover {
    background-color: #333c47;
    border-right: 3px solid #00afdd;
    use {
      fill: #2db7f5 !important;
    }
  }
  //a标签通用样式
  a {
    display: block;
    width: 60px;
    height: 50px;
  }
  .toolTip {
    background-color: rgba(0,0,0,0.8);
  }
  //顶部栏样式
  .siderTop {
    .logo {
      width: 28px;
      margin: 9px 0 0 15px;
    }
    li:first-child {
      height: 55px;
    }
    li:first-child:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }
  //底部栏样式
  .siderBottom {
    margin-top: 0px;
    border-top: 1px solid #343434;
    border-bottom: 0x solid #343434;
  }
  &:hover {
    box-shadow: 0 0 5px #000000;
  }
  .ant-badge-dot {
    top: 6px;
    width: 12px;
    height: 12px;
    background: #00A1EA;
  }
  .changeSiderUl {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    li {
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #a4a8a9;
      background-color: #333c47;
      cursor: pointer;
      i {
        margin-right: 8px;
      }
    }
  }
  .siderBiggerBox {
    height: calc(~"100% - 50px");
  }
  .siderBigger {
    height: 100%;
    //通用图标样式
    .commonImg {
      float: left;
      margin-top: 12px;
      margin-right: 15px;
      height: 18px;
      width: 18px;
      use {
        transition: all 0.3s;
        fill: #a8aeb7 !important;
      }
    }
    .home,
    .add,
    .system,
    .message {
      margin-left: 20px;
    }
    .commonSiderSpan {
      float: left;
    }
    .sideCircle {
      width: 3px;
      height: 3px;
      margin-top: -3px;
      background: #C4C4C4;
      vertical-align: middle;
      margin-right: 15px;
      display: inline-block;
    }
    .sideCircle:hover {
      background-color: #2db7f5;
    }
    .sline {
      clear: both;
      height: 10px;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background-color: #333c47;
    }
    .ant-menu-root {
      height: calc(~"100% - 70px");
      overflow-y: auto;
      overflow-x: hidden;
    }
    .ant-menu-submenu-title {
      padding-left: 20px !important;
      height: 45px !important;
      line-height: 45px !important;
      &:hover {
        a {
          color: #FFFFFF !important;
        }
        use {
          fill: #FFFFFF !important;
        }
      }
    }
    .ant-menu-item {
      transition: all 0.3s;
      padding: 0 !important;
      height: 45px !important;
      line-height: 45px !important;
      margin-top: 5px;
      color: #c4c4c4;
      a {
        width: 100%;
        color: #C4C4C4;
      }
      &:hover {
        a {
          color: #FFFFFF !important;
        }
        .sideCircle {
          background-color: #FFFFFF;
        }
        use {
          fill: #FFFFFF !important;
        }
      }
    }
    .ant-menu-submenu {
      .ant-menu-item {
        padding-left: 30px !important;
        height: 40px !important;
        line-height: 40px !important;
        a {
          padding-left: 0 !important;
          width: 100%;
          height: 40px;
        }
      }
    }
    .ant-menu-submenu-selected {
      use {
        fill: #FFFFFF !important;
      }
    }
    .ant-menu-item-selected {
      color: #FFFFFF;
      a {
        color: #FFFFFF;
      }
      .sideCircle {
        background-color: #FFFFFF;
      }
      use {
        fill: #FFFFFF !important;
      }
      &:hover {
        color: #FFFFFF;
        a {
          color: #FFFFFF;
        }
        .sideCircle {
          background-color: #FFFFFF;
        }
        use {
          fill: #FFFFFF !important;
        }
      }
    }
    .logBox {
      padding-bottom: 5px;
      width: 100%;
      height: 55px;
      line-height: 55px;
      text-align: center;
      background-color: #333c47;
      a {
        width: 100% !important;
        text-align: left;
        padding: 10px 0 0 20px;
      }
      img {
        height: 32px;
      }
    }
  }
}
//通知中心样式
.noticeModel {
  margin: -10px -22px;
}