@import '../../../../../../../src/assets/style/site/core';
.templateConfigs {
  .ant-form-item-label {
    text-align: left;
    label {
      font-size: @font-size-medium;
      &:after {
        content: '';
      }
    }
  }
}