
#AppServiceList {
  width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  .operationBox {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    .leftBox {
      float: left;
      button {
        margin-right: 10px;
        padding: 5px 10px;
        i {
          margin-right: 5px;
        }
      }
    }
    .rightBox {
      position: relative;
      float: left;
      .littleLeft {
        z-index: 10;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 15px;
        color: #949494;
        cursor: pointer;
      }
      .littleRight {
        float: left;
        input {
          font-size: 14px;
          color: #333333; //        background-color: #f8f8f8;
        }
      }
    }
    .pageBox {
      float: right;
      height: 35px;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 35px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  .appBox {
    .appTitle {
      margin-top: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #E5E5E5;
      .commonTitle {
        float: left;
        padding-left: 5px;
      }
      .selectIconTitle {
        width: 5%;
        text-align: center;
      }
      .name {
        width: 13.6%;
      }
      .createTime {
        width: 11%;
      }
      .service {
        width: 19.1%;
      }
      .appname {
        width: 9%
      }
      .status {
        width: 11%;
      }
      .image {
        width: 15.5%;
      }
      .actionBox {
        width: 12.6%;
      }
    }
    .dataBox {
      padding-bottom: 20px;
      .commonData {
        float: left;
        padding-left: 5px;
        .viewBtn {
          color: #2db7f5;
          cursor: pointer;
        }
      }
      .selectIconTitle {
        width: 5%;
        text-align: center;
      }
      .name {
        width: 13.6%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .createTime {
        width: 11%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .service {
        width: 19.1%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .status {
        width: 11%;
      }
      .appname {
        width: 9%;
      }
      .image {
        width: 15.5%;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .actionBox {
        width: 12.6%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .instanceDetail {
        transition: all 0.3s;
        line-height: 60px;
        border-bottom: 1px solid #E5E5E5;
        &:hover {
          background-color: #F2F2F2;
        }
      }
      .selectedInstance {
        background-color: #effdff;
      }
      .TenxStatus{
        width: 90%;
      }
    }
  }

}
