#AppCreate{
	padding: 20px 20px;
	.AppCreate{
		width: 100%;
		height: auto;
		.ant-card-body{
			padding: 0px !important;
		}
		.leftBox{
			float: left;
			width: 200px;
		}
		.rightBox{
			float: left;
			width: calc(~"100% - 200px");
			border-left: 1px solid #E5E5E5;
		}
	}
}
