#AppDetail{
	padding-top: 40px;
	padding-left: 24px;
	padding-right: 60px;
	.imgBox{
		float: left;
		width: 120px;
		height: 120px;
		border: 1px solid #EFEFEF;
		border-radius: 10px;
		box-shadow: 0px 0px 15px #C2C2C2;
		img{
			width: 118px;
			height: 118px;
			border-radius: 10px;
		}
	}
	.infoBox{
		float: left;
		width: calc(~"100% - 120px");
		padding-left: 20px;
		color: #666666;
		.appTitle{
			font-size: 16px;
			color: #333333;
		}
		.leftInfo{
			float: left;
			width: 33%;
			line-height: 35px;
			.status{
				span{
					
				}
				i{
					margin:0px 5px;
				}
			}
		}
		.middleInfo{
			width: 33%;
			float: left;
			line-height: 35px;
		}
		.rightInfo{
			width: 33%;
			float: left;
		}
	}
	.bottomCard{
		margin-top: 20px;
		.ant-menu-item{
			padding: 0px 30px;
			font-size: 14px;
			color: #333333;
		}
	}
}
