#AppGraph{
  font-size: 14px;
  padding: 10px 15px;
  button{
    height: 35px;
    width: 150px;
    background-color: #FFF;
    text-align: left;
    i{
      float: right;
      line-height: 17px;
    }
  }
  .bottomBox{
    span{
      float: left;
    }
    .introBox{
      float: left;
      width: 80%;
      height: 500px;
      padding: 10px 15px;
      overflow-y: scroll;
      color: #37fc34;
      border-radius: 5px;
    }
  }
}
