#AppList {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 60px;
  border-left: 1px solid #e4e4e4;
}
#AppList .clearDiv {
  clear: both;
}
#AppList .operationBox {
  width: 100%;
}
#AppList .operationBox .leftBox {
  float: left;
}
#AppList .operationBox .leftBox button {
  margin-right: 10px;
  padding: 4px 10px;
  height: 35px;
  line-height: 27px;
  background-color: #FFFFFF;
}
#AppList .operationBox .leftBox button i {
  margin-right: 5px;
  font-size: 12px;
}
#AppList .operationBox .rightBox {
  float: right;
}
#AppList .operationBox .rightBox .littleLeft {
  float: left;
  padding-left: 3px;
  padding-right: 7px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #949494;
  border-bottom: 1px solid #d9d9d9;
}
#AppList .operationBox .rightBox .littleRight {
  float: left;
}
#AppList .operationBox .rightBox .littleRight input {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  background-color: #EFEFEF;
}
#AppList .appBox {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
}
#AppList .appBox .selectIconTitle {
  width: 5%;
  overflow: hidden;
  text-align: center;
}
#AppList .appBox .appName,
#AppList .appBox .appStatus,
#AppList .appBox .serviceNum,
#AppList .appBox .containerNum {
  width: 12.5%;
}
#AppList .appBox .visitIp,
#AppList .appBox .createTime,
#AppList .appBox .actionBox {
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#AppList .appBox .appTitle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d9d9d9;
}
#AppList .appBox .appTitle .commonTitle {
  float: left;
  padding-left: 10px;
}
#AppList .appBox .appTitle .commonTitle i {
  margin-left: 5px;
  cursor: pointer;
}
#AppList .appBox .dataBox {
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  line-height: 50px;
}
#AppList .appBox .dataBox .commonData {
  float: left;
  padding-left: 10px;
}
#AppList .appBox .dataBox .commonData i {
  margin-left: 5px;
  cursor: pointer;
}
#AppList .appBox .dataBox .appDetail {
  width: 100%;
  height: 51px;
  border-bottom: 1px solid #d9d9d9;
}
#AppList .appBox .dataBox .appDetail .ant-dropdown-link {
  width: 110px;
  height: 35px;
  text-align: left;
}
#AppList .appBox .dataBox .appDetail .appStatus i {
  margin-right: 5px;
}
#AppList .appBox .dataBox .appDetail .appStatus .normal {
  color: #5cb85c;
}
#AppList .appBox .dataBox .appDetail .appStatus .error {
  color: #f85a5a;
}
#AppList .appBox .dataBox .appDetail .actionBox button {
  width: 100% !important;
  max-width: 110px !important;
}
#AppList .appBox .dataBox .appDetail .actionBox i {
  float: right;
  line-height: 18px;
}
