@import "../../../assets/style/site/core.less";
#AppList {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  .clearDiv {
    clear: both;
  }
  @media screen and (min-width:1210px){
    .operationBoxa {
      display:block;
    }
    .operationBoxb {
      display:none;
    }
    .operationBoxc {
      display:none;
    }
  }
  @media screen and (max-width:1210px){
      .operationBoxa {
        display:none;
      }
      .operationBoxb {
        display:block;
      }
      .operationBoxc {
        display:none;
      }
    }
  @media screen and (max-width:1120px){
    .operationBoxa {
      display:none;
    }
    .operationBoxb {
      display:none;
    }
    .operationBoxc {
      display:block;
    }
  }
  //顶部工具栏样式
  .operationBox {
    width: 100%;
    .leftBox {
      float: left;
      button:not(:first-of-type){
        background-color: white !important;
      }
      button {
        margin-right: 10px;
        i {
          margin-right: 5px;
        }
      }
      .ant-btn-ghost:hover, .ant-btn-ghost:focus {
        .rocket {
          fill: @primary-color;
        }
      }
      .rocket{
        height: 21px;
        width: 21px;
        fill: #747474;
        display: inline-block;
        vertical-align: middle;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
      }
      .dropDowna {
        margin-right:10px;
        .ant-btn {
          padding: 4px 15px 5px 15px;
          font-size: 14px;
          background-color: white !important;
          margin-right:0px;
        }
      }
      .Arrow {
        margin-right:0px;
        margin-left:5px;
      }
    }
    .rightBox {
      position: relative;
      float: left;
      .littleLeft {
        z-index: 10;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 15px;
        color: #949494;
        cursor: pointer;
      }
      .littleRight {
        float: left;
      }
    }
    .pageBox {
      float: right;
      height: 32px;
      margin-right: 8px;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 32px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  //数据框
  .appBox {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    .selectIconTitle {
      width: 5%;
      overflow: hidden;
      text-align: center;
    }
    .appStatus,
    .serviceNum {
      width: 12%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .containerNum{width: 8%;}
    .alarm {
      width: 8%;
      .managemoniter {
        width: 18px;height: 18px;
        fill: #C7CBCE;
        margin-right: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        vertical-align: middle;
        &:hover {
          fill:  @primary-color;
        }
      }
      i {
        font-size: 16px;
        cursor: pointer;
        color: #C7CBCE;
        line-height: 2;
        transition: all 0.2s ease-in-out;
        vertical-align: middle;
        &:hover {
          color: #10B5FF;
          transform: rotate(40deg);
        }
      }
    }
    .normal {
      color: #5cb85c;
    }

    .appName {
      width: 15%;
      .cssTooltip {
        display: inline-block;
        max-width: 100%;
      }
      .indexOf{
        background:  @primary-color;
        color: white;
        text-transform: uppercase;
        width:18px;height: 18px;
        display: inline-block;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        margin-right: 5px;
      }
      .icon_container {
        height: 30px;
        line-height: 26px;

        .icon-standrand {
          display: inline-block;
          height:16px;
          width:16px;
          line-height: 16px;
          text-align: center;
          border-radius: 8px;
          color: #ffffff;
          margin-right: 4px;
          vertical-align: middle;
          background: #56bc56;
        }
      }
    }
    .actionBox {
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .visitIp {
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .createTime {
      width: 14%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .appTitle {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #d9d9d9;
      overflow: hidden;
      .commonTitle {
        float: left;
        // padding-left: 10px;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .dataBox {
      padding-bottom: 20px;
      width: 100%;
      height: auto;
      line-height: 60px;
      .commonData {
        float: left;
        // padding-left: 10px;
      }
      .appDetailSelected {
        background-color: #effdff;
        .TipAppDomain{
          .more {
            use {
              fill: #c7c7c7;
            }
          }
        }
      }
      .appDetail {
        .appListDomain {
          height: 60px;
          line-height: 60px;
          display: flex;
          .ant-tooltip-inner {
            width: 100% !important;
            min-width: 190px;
            max-width: none;
          }
          .ant-popover-arrow {
            border-right-color: #36baf5 !important;
          }
          .ant-popover-inner {
            border: 1px solid #36baf5;
            min-width: inherit;
          }
        }
        transition: all 0.3s;
        width: 100%;
        min-height: 51px;
        border-bottom: 1px solid #d9d9d9;
        .ant-dropdown-link {
          width: 110px;
          height: 35px;
          text-align: left;
        }
        .appStatus {
          i {
            margin-right: 5px;
          }
        }
        .actionBox {
          button {
            height:30px;
          }
          i {
            float: right;
            line-height: 18px;
          }
        }
        &:hover {
          background-color: #eaf8fe;
          .TipAppDomain{
            .more {
              use {
                fill: #c7c7c7;
              }
            }
          }
        }
      }
    }
  }
}
.Moreoperations {
  span {
    font-size: 14px;
  }
}
