#AppList {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  .clearDiv {
    clear: both;
  }
  //顶部工具栏样式
  .operationBox {
    width: 100%;
    .leftBox {
      float: left;
      button {
        margin-right: 10px;
        padding: 5px 10px;
        i {
          margin-right: 5px;
        }
      }

    }
    .rightBox {
      position: relative;
      float: left;
      .littleLeft {
        z-index: 10;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 15px;
        color: #949494;
        cursor: pointer;
      }
      .littleRight {
        float: left;
        input {
          font-size: 14px;
          color: #333333; //        background-color: #f8f8f8;
        }
      }
    }
    .pageBox {
      float: right;
      height: 35px;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 35px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  //数据框
  .appBox {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    min-height: 1000px;
    .selectIconTitle {
      width: 5%;
      overflow: hidden;
      text-align: center;
    }
    .appStatus,
    .serviceNum,
    .containerNum {
      width: 12.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .appName {
      width: 16.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .actionBox {
      width: 17%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .visitIp,
    .createTime {
      width: 18%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .appTitle {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #d9d9d9;
      .commonTitle {
        float: left;
        padding-left: 10px;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    .dataBox {
      padding-bottom: 20px;
      width: 100%;
      height: auto;
      line-height: 60px;
      .commonData {
        float: left;
        padding-left: 10px;
      }
      .appDetailSelected {
        background-color: #effdff;
        .TipAppDomain{
          .more {
            use {
              fill: #c7c7c7;
            }
          }
        }
      }
      .appDetail {
        transition: all 0.3s;
        width: 100%;
        min-height: 51px;
        border-bottom: 1px solid #d9d9d9;
        .ant-dropdown-link {
          width: 110px;
          height: 35px;
          text-align: left;
        }
        .appStatus {
          i {
            margin-right: 5px;
          }
          .normal {
            color: #5cb85c;
          }
          .error {
            color: #f85a5a;
          }
        }
        .actionBox {
          button {
            height:30px;
          }
          i {
            float: right;
            line-height: 18px;
          }
        }
        &:hover {
          background-color: #F2F2F2;
          .TipAppDomain{
            .more {
              use {
                fill: #c7c7c7;
              }
            }
          }
        }
      }
    }
  }
}
