#AppServiceList {
  padding-top: 10px;
  width: 100%;
  .operaBox {
    min-height: 35px;
    button {
      margin-right: 10px;
      i {
        margin-right: 8px;
      }
      .fa-caret-down {
        margin-left: 8px;
        margin-right: 0;
      }
    }
    .rightBox {
      float: right;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 35px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  .appTitle {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E5E5E5;
    .commonTitle {
      float: left;
      padding-left: 5px;
    }
    .selectIconTitle {
      width: 5%;
      text-align: center;
    }
    .name,
    .service,
    .createTime {
      width: 16.6%;
    }
    .status {
      width: 10%;
    }
    .image,
    .actionBox {
      width: 17.5%;
    }
  }
  .dataBox {
    .commonData {
      float: left;
      padding-left: 5px;
      .viewBtn {
        color: #2db7f5;
        cursor: pointer;
      }
    }
    .selectIconTitle {
      width: 5%;
      text-align: center;
    }
    .name,
    .service,
    .createTime {
      width: 16.6%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status {
      width: 10%;
    }
    .image,
    .actionBox {
      width: 17.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .instanceDetail {
      transition: all 0.3s;
      line-height: 60px;
      border-bottom: 1px solid #E5E5E5;
      &:hover {
        background-color: #F2F2F2;
        .TipSvcDomain{
          .more {
            use {
              fill: #c7c7c7;
            }
          }
        }
      }
    }
    .selectedInstance {
      background-color: #effdff;
      .TipSvcDomain{
        .more {
          use {
            fill: #c7c7c7;
          }
        }
      }
    }
  }
}
#StartServiceModal {
  .confirm {
    color: #00a0ea;
  }
  .tableWarp {
    height: 131px;
    overflow-y: auto;
    margin-bottom: 16px;
    .modalList {
      width: 100%;
      border-collapse: collapse;

      tr {
        border: 1px solid #e2e2e2;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
    }
  }
  .modalDot {
    display: inline-block;
    height: 16px;
    width: 30px;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    color: #fff;
  }
}