#AppServiceList{
  padding-top: 10px;
  width: 100%;
  button {
    margin-right: 10px;
    padding: 4px 10px;
    height: 35px;
    line-height: 25px;
    background-color: #FFFFFF;
    i {
      margin-right: 8px;
      font-size: 12px;
    }
    .fa-caret-down{
      margin-left: 8px;
      margin-right: 0px;

    }
  }
  .appTitle{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E5E5E5;
    .commonTitle{
      float: left;
      padding-left: 5px;
    }
    .selectIconTitle{
      width: 5%;
      text-align: center;
    }
    .name,
    .service,
    .createTime{
      width: 16.6%;
    }
    .status{
      width: 10%;
    }
    .image,
    .actionBox{
      width: 17.5%;
    }
  }
  .dataBox{
    .commonData{
      float:left;
      padding-left: 5px;
      .viewBtn{
        color: #2db7f5;
        cursor: pointer;
      }
    }
    .selectIconTitle{
      width: 5%;
      text-align: center;
    }
    .name,
    .service,
    .createTime{
      width: 16.6%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status{
      width: 10%;
    }
    .image,
    .actionBox{
      width: 17.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .instanceDetail{
      height: 51px;
      line-height: 50px;
      border-bottom: 1px solid #E5E5E5;
      button{
        color: #fff !important;
        background-color: #2db7f5 !important;
        border-color: #2db7f5 !important;
      }
      &:hover{
        background-color: #F2F2F2;
      }
    }
    .selectedInstance{
      background-color: #effdff;
    }
  }
}
.modal {
  .ant-modal-header {
    background: #333333;
    color: #fff;
  }
}