@import "../../../assets/style/site/core.less";
#AppServiceList {
  padding-top: 10px;
  width: 100%;
  .operationBox {
    .rightBox {
      .littleRight {
        .ant-input-group {
          width: 260px;
          .ant-input-group-addon {
            background: #fff;
            // outline: none;
            font-size: 16px;
            .ant-select-selection--single {
              border: none;
            }
          }
          .selectInp {
            width:180px;
            height: 33px;
          }
        }
      }
    }
  }
  .operaBox {
    min-height: 35px;
    button {
      margin-right: 10px;
      i {
        margin-right: 8px;
      }
      .fa-caret-down {
        margin-left: 8px;
        margin-right: 0;
      }
    }
    button:not(:first-of-type) {
      background-color: white;
    }
    .rightBox {
      float: right;
      .totalPage {
        float: left;
        margin-right: 8px;
        line-height: 35px;
      }
      .paginationBox {
        float: left;
        margin-top: 0 !important;
        padding-top: 5px;
      }
    }
  }
  .appTitle {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #E5E5E5;
    .commonTitle {
      float: left;
      // padding-left: 5px;
    }
    .selectIconTitle {
      width: 5%;
      text-align: center;
    }
    .name,
    .service,
    .createTime {
      width: 16.6%;
    }
    .status {
      width: 10%;
    }
    .image,
    .actionBox {
      width: 17.5%;
    }
  }
  .dataBox {
    .appSvcListDomain {
      display: flex;
      height: 60px;
      line-height: 60px;
      .ant-tooltip-inner {
        width: 100% !important;
        min-width: 190px;
        max-width: none;
      }
      .ant-popover-arrow {
        border-right-color: #36baf5 !important;
      }
      .ant-popover-inner {
        border: 1px solid #36baf5;
        min-width: inherit;
      }
    }
    .commonData {
      float: left;
      .viewBtn {
        color: #2db7f5;
        cursor: pointer;
        height: 30px;
        line-height: 40px;
      }
      .icon_container{
        height: 30px;
        line-height: 26px;
      }
      .standrand{
        display: inline-block;
        height:16px;
        width:16px;
        line-height: 16px;
        text-align: center;
        border-radius: 8px;
        color: #ffffff;
        margin-right: 4px;
      }
      .netcolor{
        vertical-align: middle;
        background: #cacaca;
      }
      .privateColor{
        background: #56bc56;
      }
      .publicColor{
        background:  @primary-color;
      }
      .volumeColor{
        background: @primary-color;
      }
      .osColor{
        display: inline-block;
        height:16px;
        width:16px;
        line-height: 16px;
        text-align: center;
        border-radius: 8px;
        margin-right: 4px;
        background:  @primary-color;
        vertical-align: middle;
        i {
          margin: 0 !important;
          vertical-align: unset !important;
          svg {
            height: 12px;
            width: 12px;
            path {
              fill: white !important;
            }
          }
        }
      }
    }
    .selectIconTitle {
      width: 5%;
      text-align: center;
    }
    .name {
      .cssTooltip {
        display: inline-block;
        max-width: 100%;
      }
    }
    .name,
    .service,
    .createTime {
      width: 16.6%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status {
      width: 10%;
    }
    .image,
    .actionBox {
      width: 17.5%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .instanceDetail {
      transition: all 0.3s;
      line-height: 60px;
      border-bottom: 1px solid #E5E5E5;
      &:hover {
        background-color: #eaf8fe;
        .TipSvcDomain{
          .more {
            use {
              fill: #c7c7c7;
            }
          }
        }
      }
    }
    .selectedInstance {
      background-color: #effdff;
      .TipSvcDomain{
        .more {
          use {
            fill: #c7c7c7;
          }
        }
      }
    }
  }
}
#StartServiceModal {
  .confirm {
    color: #00a0ea;
  }
  .tableWarp {
    height: 131px;
    overflow-y: auto;
    margin-bottom: 16px;
    .modalList {
      width: 100%;
      border-collapse: collapse;

      tr {
        border: 1px solid #e2e2e2;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
    }
  }
  .modalDot {
    display: inline-block;
    height: 16px;
    width: 30px;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    color: #fff;
  }
}

#appservicelistDropdownMenu{
  .ant-dropdown-menu{
    @media(max-width:1200px){
      left:-112px;
    }
  }
}