#ProgressBox {
  .wrapper {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }

  .green {
    margin-top: 15px;
  }

  .green .progress,
  .red .progress,
  .orange .progress {
    position: relative;
    border-radius: 50%;
  }

  .green .progress,
  .red .progress,
  .orange .progress {
    width: 160px;
    height: 160px;
  }

  .green .progress,
  .red .progress,
  .orange .progress {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .green .progress .inner,
  .red .progress .inner,
  .orange .progress .inner {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    border-radius: 50%;
  }

  .green .progress .inner,
  .red .progress .inner,
  .orange .progress .inner {
    width: 150px;
    height: 150px;
  }

  .green .progress .inner,
  .red .progress .inner,
  .orange .progress .inner {
    border: 2px solid #00aaee;
  }

  .green .progress .inner,
  .red .progress .inner,
  .orange .progress .inner {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .green .progress .inner .water,
  .red .progress .inner .water,
  .orange .progress .inner .water {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    border-radius: 40%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    animation-name: spin;
    z-index: 114;
  }

  .green .progress .inner .water.w2 {
    left: 20%;
    z-index: 110;
  }

  .green .progress .inner .water {
    top: 75%;
  }

  .green .progress .inner .water {
    background: #00aaee;
  }

  .green .progress .inner .water.w2 {
    background: #B4E6FB;
  }

  .green .progress .inner .water,
  .red .progress .inner .water,
  .orange .progress .inner .water {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .green .progress .inner .water,
  .red .progress .inner .water,
  .orange .progress .inner .water {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
  }

  .green .progress .inner .glare,
  .red .progress .inner .glare,
  .orange .progress .inner .glare {
    position: absolute;
    top: -120%;
    left: -120%;
    z-index: 5;
    width: 200%;
    height: 200%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
  }

  .green .progress .inner .glare,
  .red .progress .inner .glare,
  .orange .progress .inner .glare {
    background-color: rgba(255, 255, 255, 0.15);
  }

  .green .progress .inner .glare,
  .red .progress .inner .glare,
  .orange .progress .inner .glare {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .green .progress .inner .percent,
  .red .progress .inner .percent,
  .orange .progress .inner .percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
  }

  .green .progress .inner .percent,
  .red .progress .inner .percent,
  .orange .progress .inner .percent {
    line-height: 150px;
    font-size: 30px;
    font-weight: normal;
  }

  .green .progress .inner .symbol {
    color: inherit;
    font-size: 20px;
    font-weight: normal;
  }

  .green .progress .inner .txt {
    color: #999;
    font-size: 12px;
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
  }

  .green .progress .inner .up {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 60px;
    z-index: 123;
    font-size: 15px;
  }

  .green .progress .inner .up-arrow {
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin-left: 3px;
    vertical-align: top;
    margin-top: 3px;
  }

  .green .progress .inner .percent {
    color: #00aaee;
  }

  .green .progress .inner .percent {
    /*text-shadow: 0 0 10px #029502;*/
  }

  .green .progress .inner .percent,
  .red .progress .inner .percent,
  .orange .progress .inner .percent {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  #copyright {
    margin-top: 25px;
    background-color: transparent;
    font-size: 14px;
    color: #b3b3b3;
    text-align: center;
  }



  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .result{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .apply {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }

  .apply .icon-apply {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 3px;
  }
  .loan{
    position: relative;
    width: 100%;
    background-color:#f5f5f5 ;
  }
  .loan .hot{
    font-size: 12px;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
  }
  .loan .recommand-list li{
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;

  }
  .loan .recommand-list li .tab-img{
    display: table-cell;
    width:90px;
    vertical-align: top;
  }
  .loan .recommand-list li .tab-content{
    display: table-cell;
    vertical-align: top;
    padding-top:10px;
  }
  .loan .recommand-list li .dai {
    display: block;
    width: 90px;
    height: 90px;
    zoom: 0.8;
    margin:0 auto;
  }

  .loan .recommand-list li .haodai{
    background-position: -0px -0px;

  }

  .loan .recommand-list li .rong360 {
    background-position: -90px -0px;
  }

  .loan .recommand-list li .wallet {
    background-position: -180px -0px;
  }
  .loan .recommand-list li .tab-content .name{
    font-size: 15px;
    margin-right: 5px;
    height: 20px;
    line-height: 20px;
  }
  .loan .recommand-list li .tab-content .amount{
    color:#E20002;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
  }
  .loan .recommand-list li .tab-content .describe{
    color:#999;
    font-size: 12px;
    line-height: 20px;
  }
}