#Information {
  .ant-btn {
    font-weight: normal;
  }
  .Item {
    line-height: 50px;
    font-size: 12px;
    border-bottom: 1px solid #efefef;
    padding-left: 24px;
    #UserInfReset {
      margin-top: 12px;
      .ant-form {
        width: 240px;
      }
      .passInt {
        display: inline-block;
        width: 240px;
        height: 35px;
        margin-right: 16px;
      }
      i {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 250px;
        &:hover {
          color: #00a1e9;
        }
      }
      .passIcon {
        color: #00a1e9;
      }
    }
  }
}
