#securityGroup {
  padding-top: 38px;
  .securityLine {
    padding-bottom: 20px;
    .lineRight {
      & > * {
        margin-right: 12px;
        i {
          margin-right: 8px;
        }
      }
    }
  }
  .antdItem {
    margin-bottom: 0;
  }
}
