#securityGroupModule {
  padding-top: 38px;
  .securityLine {
    padding-bottom: 20px;
    .lineRight {
      & > * {
        margin-right: 12px;
        i {
          margin-right: 8px;
        }
      }
      .linkBtn {
        border-radius: 6px;
        background: #2db7f5;
        color: #fff;
        display: inline-block;
        padding: 4px 15px 5px 15px;
        font-size: 14px;
        line-height: 1.5;
        &:hover {
          background: #57c5f7;
        }
      }
    }
  }
  .antdItem {
    margin-bottom: 0;
  }
}
