@import '~assets/style/site/core';

.workOrderWrapper {
  .systemNoticeContainer, .myOrderContainer {
    .ant-card-body {
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
    }
  }
  padding: 20px;
  .ant-tabs-nav-scroll {
    transform: translateX(calc(~"50% - 150px"));
  }
  .ant-table {
    font-size: 13px;
  }
}
