#MemberTransfer {
  .listTitle {
    position: absolute;
    top: 132px;
    left: 47px;
    width: 230px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    z-index: 10;
    background-color: #fff;
  }
  .ant-transfer {
    left: 30px;
    .ant-transfer-list-body {
      ul {
        padding-top: 30px;
        label {
          position: relative;
          top: -14px;
        }
        li {
          height: 36px;
          line-height: 36px;
          padding:0 0 0 16px;
          overflow: hidden;
          
        }
        li>span {
          width: 100%;
          height: 36px;
          line-height: 36px;
          display: inline-block;
        }
      }
    }
  }
}