#LoginBg {
  background: url("../../../assets/img/login-bg3.jpg") 50% 50% / cover no-repeat fixed;
  -webkit-background-size:contain;
  background-size:100% 100%;
  background-color: #000;
}
#LoginBgStd {
  background: url("../../../assets/img/login-bg.jpg") 50% 50% / cover no-repeat fixed;
  -webkit-background-size: contain;
  background-size: 100% 100%;
  background-color: #fff;
}
.joincode {
  font-family: core, "Avenir Next", "Helvetica Neue", Helvetica, Arial, "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-spin-text{display: block;}
  .status {
    width: 400px;
    height: 180px;
    border:1px solid;
    background-color: white;
    box-shadow: 0 2px 10px #666;
    border-radius: 4px;
    padding: 50px 40px;
    position: relative;
    top:30px;
    .icon {
      float: left;
    }
    .failed{
      .failedIcon{
        color:red;
        font-size: 90px;
        height:90px;
        width: 90px;
      }
    }
    .text {
      float: left;
      padding: 10px 20px;
      font-size: 16px;
      line-height: 35px;
      .retry{
        cursor: pointer;
        color: #00a1e9;
      }
    }
  }
  .hidden{display: none;}
}
