.authChoose{
  .desc{
    margin-left: 5%;
    margin-top: 3px;
  }
  .authBox{
    width: 318px;
    margin: auto;
    margin-left: 16.8%;
    margin-top: -16px;
    .authTitle{
      width: 318px;
      height: 35px;
      border: 1px solid #d9d9d9;
      margin: 0 auto;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 6px;
      border-radius: 6px 6px 0 0;
    }
    .treeBox{
      width: 318px;
      height: 200px;
      font-size: 12px;
      border: 1px solid #d9d9d9;
      display: inline-block;
      border-radius: 0 0 6px 6px;
      vertical-align: middle;
      overflow:scroll;
  }
  }
}