@import "../../../../../src/assets/style/site/core.less";
.createSecurityGroup {
  padding: 20px;
  .createSecurityPage {
    .securityGroudHeader {
      margin-bottom: 20px;
      font-size: 16px;
      height: 32px;
      display: flex;
      .returnBtn {
        margin-right: 16px;
        color: #fff;
        background-color: transparent;
        & > * {
          display: inline-block;
          cursor: pointer;
        }
        .btnLeft {
          width: 0;
          height: 0;
          border-bottom: 15px solid transparent;
          border-top: 15px solid transparent;
          border-right: 15px solid @primary-color;
          font-size: 0;
          line-height: 0;
        }
        .btnRight {
          display: inline-block;
          background: @primary-color;
          color: #fff;
          height: 30px;
          line-height: 30px;
          vertical-align: top;
          padding: 0 8px 0 6px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .headerTitle {
        margin-top: 6px;
        box-sizing: border-box;
        display: flex;
        .headerLeft {
          background-color: @primary-color;
          width: 4px;
          height: 18px;
          margin-right: 8px;
        }
      }
    }
    .securityGroudContent {
      background: #fff;
      color: #666;
      padding: 40px;
      .nameAndeTarget {
        min-height: 94px;
        height: auto !important;
      }
      .ant-form-explain {
        width: 280px;
      }
      .ant-form-item-label label {
        font-size: 14px;
      }
      .whiteList, .submitBtn {
        border-top: 1px solid #ccc;
        padding: 20px 0;
        font-size: 14px;
      }
      .whiteList {
        margin-top: 20px;
      }
      .second {
        .execptCidr {
          .ant-form-explain {
            width: 212px;
          }
        }
      }
    }
  }
}
