@import "../../../../src/assets/style/site/core.less";
#IPPoolConfig {
  margin-top: 24px;
  .headerTitle {
    border-left: 6px solid @primary-color;
    padding-left: 9px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
  }
  .operatorIP {
    padding-top: 20px;
    & > * {
      margin-right: 8px;
    }
  }
}
