/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * CommitReset.less page
 *
 * @author zhangtao
 * @date Friday December 7th 2018
 */
 @import "../../../assets/style/site/core.less";
.CommitReset {
  .ant-alert-warning {
    margin: 0;
  }
  input::placeholder {
    color: #999;
  }
  > div {
    text-align: center;
  }
  .resetForm {
    margin-top: 25px !important;
  }
  .usernameDisable[disabled] {
    background-color: #edf7fe;
    border: 1px solid #2db7f5;
    color: #2db7f5;
  }
  .TopWrap{
    display: inline-block;
    margin: 0 auto;
  }
}