#ResetPassWord {
  min-width: 1024px;
  font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,"宋体","Hiragino Sans GB",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  background: url("../../../assets/img/login-bg.jpg") 50% 50% / cover no-repeat fixed;
  -webkit-background-size: contain;
  background-size: 100% 100%;
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  .reset {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 50px 0;
    .ant-card {
      overflow: inherit;
    }
    .resetForm {
      .registerTitle {
        position: absolute;
        top: -70px;
        font-size: 18px;
        color: #454545;
        width: 100%;
        text-align: center;
      }
      .backToPage {
        color: #4490d1;
        font-size: 12px;
        text-align: center;
        height: 30px;
      }
      .ant-card-body {
        padding: 24px 0;
        .ant-alert {
          top: -24px;
        }
      }
      &:hover {
        border: none;
        box-shadow: none;
      }
      .ant-form-item {
        margin-bottom: 10px;
      }
      .ant-form-item-with-help {
        margin-bottom: 10px !important;
      }
      .ant-form-item-control {
        position: relative;
        &:focus {
          outline: none;
        }
      }
      .has-error .ant-input,
      .has-error .ant-input:hover,
      .has-error .ant-input:focus {
        box-shadow: none;
      }
      .has-error .ant-form-explain,
      .has-error .ant-form-split {
        padding-left: 10px;
      }
      input {
        padding-left: 10px;
        width: 100%;
        border-radius: 0 !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        &:focus {
          box-shadow: -5px 0 5px -2px transparent,
            0 -5px 5px -2px transparent,
            0 5px 5px -3px rgba(45, 183, 245, 0.2),
            5px 0 5px -2px transparent !important;
        }
      }
      .has-error .ant-input, .has-error .ant-input:hover, .has-error .ant-input:focus {
        border-color: #ff4f51 !important;
        box-shadow: -5px 0 5px -2px transparent,
          0 -5px 5px -2px transparent,
          0 5px 5px -3px #fed4d5,
          5px 0 5px -2px transparent !important;
      }
      .formItemName {
        height: 50px;
        .intName {
          font-size: 12px;
          position: absolute;
          top: -25px;
          left: 0;
          font-weight: normal;
          -webkit-transform: translateY(25px);
          transform: translateY(25px);
          color: #aaa;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          cursor: text;
          z-index: 10;
        }
        .intOnFocus {
          top: -50px !important;
        }
        .ant-radio-group {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
      .captchaBtn {
        position: absolute;
        left: 110%;
        bottom: 0;
        background-color: #34c8e6;
      }
      .subBtn {
        font-size: 16px;
        width: 100%;
        height: 44px;
        padding: 0;
        background-color: #34c8e6;
        border-color: #34c8e6;
      }
      .nameIntPlace {
        ::-webkit-input-placeholder { /* WebKit browsers */
          color: #119fdf;
          font-size: 12px;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #119fdf;
          font-size: 12px;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #119fdf;
          font-size: 12px;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #119fdf;
          font-size: 12px;
        }
      }
    }
    .resetContant {
      .resetTitle {
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .resetSuccess {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .resetSucImg {
          margin-right: 50px;
        }
        .resetSucInf {
          margin-bottom: 30px;
          .resetSucText {
            font-size: 18px;
            height: 50px;
            line-height: 50px;
          }
          .subBtn {
            width: 100%;
            height: 36px;
            background-color: #34c8e6;
            border: 1px solid #34c8e6;
            color: #fff;
            font-size: 14px;
          }
        }
      }
      .successInf {
        height: 100px;
        li {
          line-height: 30px
        }
        .rePass {
          margin-top: 10px;
          color: '#2db7f5'
        }
        .passBtn {
          margin-left: 10px;
        }
        .disBtn {
          margin-left: 10px;
          display: inline-block;
          margin-bottom: 0;
          text-align: center;
          vertical-align: middle;
          background-image: none;
          border: 1px solid #d9d9d9;
          white-space: nowrap;
          line-height: 1.5;
          padding: 4px 15px;
          font-size: 12px;
          border-radius: 6px;
          position: relative;
          color: #666;
          background-color: #f7f7f7;
        }
      }
      .successBtn {
        width: 100%;
        height: 36px;
        background-color: #34c8e6;
        border: 1px solid #34c8e6;
        color: #fff;
        font-size: 14px;
      }
      .successTip {
        height: 40px;
        line-height: 40px;
        margin-bottom: 40px;
        span {
          margin-right: 20px;
        }
      }
    }
  }
}
