#TipSvcDomain {
  .more {
    display: inline-block;
    background-color: #F2F2F2;
    margin-left: 5px;
    width: 15px;
    height: 16px;
    line-height:17px;
    border-radius: 50%;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  .ant-tooltip-inner {
    width: 100% !important;
    min-width: 190px;
    max-width: none;
  }
  .ant-popover-arrow {
    &::after {
      border-right-color: #4b4b4b;
    }
  }
  .ant-popover-inner {
    background-color: #4b4b4b;
    min-width: inherit;
  }
}
.TipAppDomain {
  .more {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 16px;
    line-height:17px;
    use {
      fill: #F2F2F2;
    }
    &:hover {
      use {
        fill: #000;
      }
      color: #fff;
    }

  }
  .ant-tooltip-inner {
    width: 100% !important;
    min-width: 190px;
    max-width: none;
  }
  .ant-popover-arrow {
    &::after {
      border-right-color: #4b4b4b;
    }
  }
  .ant-popover-inner {
    background-color: #4b4b4b;
    min-width: inherit;
  }
}

.AppTip {
  color: #fff;
  .firstSvc {
    margin-bottom: 8px;
    .firstLine {
      position: relative;
      top: 25%;
      height: 1px;
      width: 20px;
      background-color: #fff;
    }
  }
  .urlItem {
    position: relative;
    margin-left: 45px;
    &::before {
      content: '';
      height: 20px;
      background-color: #fff;
      width: 2px;
      position: absolute;
      top: -9px;
      transform: translate(-50%, 0);
      left: -24px;
    }
    &::after {
      content: '';
      height: 1px;
      background-color: #fff;
      width: 23px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, 0);
      left: -12px;
    }
  }

}
.SvcTip {
  color: #fff;

}
