.TipSvcDomain {
  .more {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 3px;
    width: 15px;
    height: 16px;
    cursor: pointer;
    use {
      fill: #eeeeee;
    }
  }
  .showPop {
    use {
      fill: #49b1e2 !important;
    }
  }
  .ant-tooltip-inner {
    width: 100% !important;
    min-width: 190px;
    max-width: none;
  }
  .ant-popover-arrow {
    border-right-color: #36baf5;
  }
  .ant-popover-inner {
    border: 1px solid #36baf5;
    min-width: inherit;
  }
}
.TipAppDomain {
  .more {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 3px;
    width: 15px;
    height: 16px;
    use {
      fill: #eeeeee;
    }
  }
  .showPop {
    use {
      fill: #49b1e2 !important;
    }
  }
  .ant-tooltip-inner {
    width: 100% !important;
    min-width: 190px;
    max-width: none;
  }
  .ant-popover-arrow {
    border-right-color: #36baf5;
  }
  .ant-popover-inner {
    border: 1px solid #36baf5;
    min-width: inherit;
  }
}
.fixTop {
  .ant-popover {
    top: 82px !important;
  }
}
.AppTip {
  color: #000;
  .firstSvc {
    margin-bottom: 8px;
    .firstLine {
      position: relative;
      top: 25%;
      height: 1px;
      width: 20px;
      background-color: #fff;
    }
  }
  .branchSvg {
    width: 23px;
    height: 7px;
    margin-right: 8px;
    use {
      fill: #2db7f5 !important;
    }
  }
  .tipCopySvg {
    height: 11px;
    width: 11px;
    use {
      fill: #fff !important;
    }
  }
  .ant-timeline-item-head-custom {
    margin-top: 0;
    padding: 0;
  }
  .ant-timeline-item-tail {
    border-left: 1px solid #2db7f5;
  }
  .ant-timeline-item-content {
    padding: 0 0 10px 5px;
    top: -9px;
    height: 20px;
  }
  .ant-timeline-item-last .ant-timeline-item-content {
    min-height: inherit;
  }
  .urlItem {
    position: relative;
    margin-left: 45px;
  }
}
.SvcTip {
  color: #000;
}
.firstUrl {
  display: inline-block;
    width: 70%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}
