#SuccessRegister {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 350px;
  .successTitle {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .successInf {
    height: 100px;
    li {
      line-height: 30px
    }
    .rePass {
      margin-top: 10px;
      color: '#2db7f5'
    }
    .passBtn {
      margin-left: 10px;
    }
  }
  .disBtn {
    width: 100%;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 6px;
    position: relative;
    color: #666;
    background-color: #f7f7f7;
  }
  .successBtn {
    width: 100%;
    height: 36px;
    background-color: #2db7f5;
    color: #fff;
    font-size: 14px;
    border: 1px solid #2db7f5;
  }
  .successTip {
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    span {
      margin-right: 20px;
    }
  }
}