#AssitDeployBox{
	.assitBox {
		.entryInput {
			float: left;
			width: 220px;
			margin-top: 4px;
		}
		.selectBox {
			height: 40px;
			line-height: 40px;
			.ant-radio-wrapper {
				font-size: 14px !important;
			}
			input {
				margin-left: 120px;
			}
		}
		.checkBox {
			position: relative;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			.tooltip {
				position: absolute;
				top: 25px;
				left: 120px;
				color: #CCCCCC;
				font-size: 12px;
			}
		}
	}
}
