/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 * style of add hosts
 *
 * @author zhangxuan
 * @date 2018-12-03
 */
@import "~assets/style/site/core";
.add-hosts {
  padding: @padding-medium;
  .first-title {
    margin-left: @padding-small;
  }
  &-body {
    margin-top: @padding-small;
    padding: @padding-medium;
    background-color: white;
    .ant-form-item {
      .ant-form-item-label {
        label:after, label:before {
          content: '';
        }
      }
    }
    .iaas-list {
      display: inline-block;
      clear: both;
      .ant-btn {
        margin: 0 @padding-small @padding-base 0;
        padding: 0;
        &:last-of-type:hover {
          .template .tenx-icon svg {
            fill: #999 !important;
          }
        }
      }
      .ant-btn-primary {
        background-color: white;
        color: @primary-color;
      }
      .template {
        display: inline-block;
        padding: @padding-base;
        height: 100px;
        width: 100px;
        border-radius: 5px;
        text-align: center;
        float: left;
        position: relative;
        overflow: hidden;
        .tenx-icon {
          max-width: 65%;
          max-height: 65%;
          display: block;
          margin: @padding-base auto @padding-medium;
          svg {
            font-size: 30px;
          }
        }
        .triangle {
          display: block;
          width: 0;
          height: 0;
          border-bottom: 0 solid transparent;
          border-top: 20px solid transparent;
          border-right: 22px solid #2db7f5;
          font-size: 0;
          line-height: 0;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        .anticon-check {
          color: white;
          position: absolute;
          font-size: 12px;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .dividing-line {
    border-top: @border-width-base @border-style-base @border-color-base;
  }
  &-footer {
    padding: @padding-small;
    button {
      margin-right: @padding-small;
    }
  }
}
