@import "~assets/style/site/core";
#AddClusterOrNodeModalContent {
  .alertRow {
    font-size: 14px;
    max-width: 600px;
    margin: @padding-medium 0;
    padding: @padding-small @padding-medium;
  }
}

