#MemberManage {
  .search {
    float: right;
    width: 280px;
    line-height: 36px;
    .searchBtn {
      position: relative;
      top: -27px;
      left: 250px;
      z-index: 10;
      border: none;
      background-color: #fff;
    }
  }
  .memberList {
    margin-bottom: 26px;
    .ant-card-body {
      padding: 0;
    }
    .memberTitle {
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #e2e2e2;
      padding-left: 24px;
      .sortIcon {
        display: inline-block;
        float: left;
        width: 10px;
        margin-top: 14px;
        i {
          cursor: pointer;
          display: inline-block;
          float: left;
        }
      }
    }
    .memberItem {
      padding-left: 24px;
      line-height: 50px;
      border-bottom: 1px solid #e2e2e2;
      .setBtn {
        margin-right: 12px;
        &:hover {
          background-color: #00a1ea;
          color: #fff;
        }
      }
      .delBtn {
        &:hover {
          background-color: #f75b59;
          color: #fff;
          border-color: #f75b59;
        }
      }
    }
  }
}