.containerInstanceModal {
  .relateCont {
    .addIp {
      .useStatus {
        margin: 0 12px;
      }
      .isUsed {
        color: #f85a5a;
      }
      .shouldUse {
        color: #5cb85c;
      }
      .delBtn {
        padding: 0;
        border: none;
      }
    }
    .addInstance {
      height: 32px;
      line-height: 32px;
      .add {
        cursor: pointer;
        &:hover {
          color: #2db7f5;
        }
      }
    }
    .ant-form-explain {
      width: 280px;
    }
  }
}
