.containerInstanceModal {
  .relateCont {
    .podPrompt {
      border: 1px dashed #2db7f5;
      border-radius: 4px;
      color: #1a7db6;
      background-color: #e5f2fa;
      padding: 10px 24px;
      margin-bottom: 10px;
    }
    .addIp {
      .useStatus {
        margin: 0 12px;
      }
      .isUsed {
        color: #f85a5a;
      }
      .shouldUse {
        color: #5cb85c;
      }
      .delBtn {
        padding: 0;
        border: none;
      }
    }
    .addInstance {
      height: 32px;
      line-height: 32px;
      .add {
        cursor: pointer;
        &:hover {
          color: #2db7f5;
        }
      }
    }
    .ant-form-explain {
      width: 280px;
    }
  }
}
