.Topology {
  .anticon-arrows-alt::before {
    content: "\E629";
  }
  .ant-slider-vertical {
    width: 6px;
    height: 100%;
    margin: 6px 10px;
    background-color: #ccc;
  }
  .ant-slider-track-1 {
    background-color: #91d5ff;
    width: 6px;
  }
  .ant-slider-handle {
    margin-left: -4px;
    border-width: 2px;
  }
}
