#Service {
  height: 100%;
  padding: 32px;
  width: 100%;
  //max-height: 600px;
  overflow-y: auto;
  background-color: #f8f8f8;
  //折叠面板-start
  .ant-collapse {
    border:none;
    .ant-collapse-item {
      border-top: none;
      .ant-collapse-header {
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        border: 1px solid #d4d4d4;
        border-left: 3px solid #00a2ea;
        background-color: #fff;
        margin-bottom: 15px;
        &:hover {
          background-color: #fafafa;
        }
        //checkbox
        .group-name {
          z-index: 3;
          display: inline-block;
          font-size: 14px;
          i {
            margin: 0 10px;
          }
        }
        //小箭头
        .arrow {
          line-height: 60px;
          font-size: 30px;
          right: 0;
          left:auto;
          &:before{
            content: '\E601';
          }
        }
      }
      .anticon-folder-open {
        display: none;
      }
      .ant-collapse-header[aria-expanded="true"] {
        .arrow {
          line-height: 60px;
          font-size: 30px;
          &:before {
            -webkit-transform: rotate(450deg);
            -ms-transform: rotate(450deg);
            transform: rotate(450deg);
          }
        }
        .group-name {
          .anticon-folder {
            display: none;
          }
          .anticon-folder-open {
            display: inline-block;
          }
        }
      }
      .ant-collapse-content {
        clear: both;
        padding:0 0 100px 58px;
        border: 1px solid #d4d4d4;
        border-top: 0;
        margin-top: -15px;
        margin-bottom: 15px;
        background-color: #fff;
        .ant-collapse-content-box {
          padding: 0;
          .file-list {
            .ant-timeline {
              .ant-timeline-item-tail {
                top:0;
                height:100%;
              }
              .ant-timeline-item-head {
                display: none;
              }
              .ant-timeline-item-content {
                padding: 0 0 10px 7px;
                top:52px;
                z-index: 2;
              }
              .file-item {
                position: relative;
                /*button {
                  :hover {
                    color: #57c5f7;
                    border-color: #57c5f7;
                  }
                }*/
                .config-cross {
                  color: #979797;
                  border-color:#979797;
                  &:hover {
                    border-color: #57c5f7;
                    color: #57c5f7;
                  }
                }
                .line {
                  float: left;
                  margin-top: 32px;
                  width: 44px;
                  height: 0;
                  border-bottom: 2px solid #e9e9e9;
                }
                table {
                  float: left;
                  border-collapse: collapse;
                  td {
                    font-size: 14px;
                    padding: 0;
                    border: 2px solid #e9e9e9;
                    .relate {
                      width: 128px;
                      display: inline-block;
                      height: 40px;
                      line-height: 40px;
                      padding: 0 12px;
                      border-bottom: 2px solid #e9e9e9;
                    }
                    .path {
                      height: 40px;
                      line-height: 40px;
                      padding: 0 12px;
                    }
                    .check {
                      position: relative;
                      z-index: 2;
                    }
                  }
                }
              }
              .ant-timeline-item-last {
                .ant-timeline-item-tail {
                  display: block;
                  height: 100%;
                  border: 1px solid #e9e9e9;
                }
              }
            }
          }
        }
      }
    }
  }
  //折叠面板-end

  .ant-modal-body {
    font-size: 14px;
  }
  .ant-table {
    font-size: 14px;
  }
  //创建配置-弹出层-start
  .server-create-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-modal-body {
      line-height: 40px;
      .create-conf-g {
        text-align: center;
        input {
          border-radius: 0;
          outline: none;
          display: inline-block;
          height: 40px;
          width: 300px;
        }
      }

    }
  }
  //创建配置-弹出层-end
  //添加配置文件-弹出层-start
  .configFile-create-modal {
    .configFile-inf {
      font-size: 14px;
      .configFile-tip {
        text-align: center;
        font-size: 12px;
        margin-bottom: 5px;
      }
      input {
        border-radius: 0;
        outline: none;
        display: inline-block;
        height: 40px;
        width: 432px;
      }
      textarea {
        resize: none;
        border-radius: 0;
        outline: none;
        width: 434px;
        height: 120px;
        display: inline-block;
      }
    }
  }
  //添加配置文件-弹出层-end
  //下拉单-影响到其他样式，先注释了 by@zhangpc
  .ant-dropdown {
    width: 140px;
    .ant-dropdown-menu {
      text-align: center;
      right: 74%;
    }
  }
}
