#accessMethod{
  margin-bottom: 20px;
  .radioBox{
    margin-bottom:0;
  }
  .tipsRow{
    margin-bottom: 8px;
  }
  .lbgroup_icon{
    cursor: pointer;
    color: #2db7f5;
    margin-left: 5px;
  }
  .lbgroup_container{
    padding:7px 0 0 12px;
  }
}