#normalConfigureService {
  .body {
    padding-top: 10px;
    .label {
      padding-top: 8px;
    }
    .replicasFormItem {
      .ant-form-item-control {
        .ant-input-number {
          width: 80%;
        }
        .unit {
          float: right;
        }
      }
    }
  }
}