#normalConfigureService {
  .body {
    padding-top: 10px;
    .label {
      padding-top: 8px;
    }
    .replicasFormItem {
      .ant-form-item-control {
        .ant-input-number {
          width: 80%;
        }
        .unit {
          float: right;
        }
      }
    }
    .bindNodes{
      margin-top: 24px;
      .ant-form-item{
        margin-bottom: 0;
      }
      .title{
        padding-top: 6px;
        font-size: 14px;
        padding-left: 25px;
      }
      .content{
        margin-top: 5px;
        .hostname{
          width:30%;
        }
      }
      .hostlabel{
        position: relative;
        padding-bottom: 62px;
        .labelcontainer{
          padding:5px 10px;
          position:absolute;
          top:0;
          left:108px;
          border:1px dashed #dbdbdb;
          height: 103px;
          overflow-y: scroll;
          width:calc(~"100% - 115px");
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
        }
      }
    }
  }
}