#normalConfigureService {
  .body {
    padding-top: 10px;
    .label {
      padding-top: 8px;
    }
    .replicasFormItem {
      .ant-form-item-control {
        .ant-input-number {
          width: 80%;
        }
        .unit {
          float: right;
        }
      }
    }
    .bindNodes{
      margin-top: 24px;
      .ant-form-item{
        margin-bottom: 0;
      }
      .title{
        padding-top: 6px;
        font-size: 14px;
        padding-left: 25px;
      }
      .content{
        margin-top: 5px;
        .hostname{
          width:30%;
        }
      }
      .hostlabel{
        position: relative;
        .tips{
          position: absolute;
          top:0;
          left:108px;
          height:31px;
          line-height: 30px;
          .num{
            cursor: pointer;
            padding:0 5px 0 3px;
            color:#00a1e9;
          }
        }
        .labelcontainer{
          margin-top: 12px;
          padding:5px 10px;
          border:1px dashed #dbdbdb;
          height: 103px;
          overflow-y: scroll;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          .tagStyle{
            float: left;
            height: 24px;
            line-height: 24px;
            background: #2db7f5;
            transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
            vertical-align: middle;
            opacity: 1;
            overflow: hidden;
            margin: 2px 4px 2px 0;
            cursor: pointer;
            padding: 0 8px;
            border-radius: 6px;
            color: #ffffff;
            font-size: 12px;
            .cross{
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}