.serverAndPoint, .serverAndServer {
  position: relative;
  margin-bottom: 20px;
  .serverAnd {
    min-height: 34px;
    height: auto!important;
    line-height: 34px;
    zoom:1;
    margin-bottom: 10px;
    .ant-form-item-label {
      width: 60px;
      padding: 0px;
      label {
        padding: 0px;
        font-size: 12px;
      }
    }
    .ant-row {
      min-height: 34px;
      height: auto!important;
    }
    .has-error {
      .ant-form-explain {
        width: 120px;
        min-height: 24px;
        height: auto;
        white-space: normal;
      }
    }
    .nodeSelect {
      .ant-form-explain {
        width: 200px;
      }
    }
    .serverInput {
      .ant-form-explain {
        width: 155px;
      }
    }
    .serverText {
      margin-right: 8px;
      display: inline;
      float: left;
    }
    .ant-form-item {
      margin-right: 8px;
    }
    .handleBtn {
      float: right;
    }
  }
  .serverAnd:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden;
  }
  .serverAnd>* {
      display: inline-block;
      height: 34px;
      float: left;
      margin-bottom: 10px;
    }
  .pointTag, .serverTag{
    padding: 8px 10px;
    min-height: 50px;
    height: auto!important;
    height: 50px;
    border: 1px dashed #dbdbdb;
    .ant-tag {
      line-height: 24px;
      height: 26px;
      margin-right: 6px;
    }
    .ant-tag-text {
      padding: 5px;
      padding-right: 12px;
    }
    .tag-font-white {
      color: #fff;
      .anticon-cross:before {
        color: #fff;
      }
    }
    .tag-font-blue {
      color: #00a1e9;
      border: 1px solid #00a1e9;
      .anticon-cross:before {
        color: #00a1e9;
      }
    }
    .tag-font-orign {
      color: #f85a59;
      border: 1px solid #f85a59;
      .anticon-cross:before {
        color: #f85a59;
      }
    }
  }
  .smallWidth {
    margin-right: 16px;
  }
}
