.storageConfigureService {
  margin-top: 24px;
  .noVolumeServiceSpan {
    margin-left: 10px;
    color: orange;
  }
  .serviceType {
    float: left;
    margin-left: 10px;
  }
  .floatRight {
    float: left;
  }
  .storageType {
    margin-left: 10px;
  }
  .displayNone {
    display: none;
  }
  .volumes {
    clear: both;
    .createVolume {
      padding-top: 5px;
      .volumeInput {
        width: 15%;
        margin-right: 10px;
        vertical-align: middle;
      }
      .tips {
        color: orange;
        margin-left: 10px;
      }
    }
    .bindVolume {
      padding-top: 5px;
      .configureItem {
        padding-bottom: 10px;
        .formInput {
          vertical-align: middle;
        }
        .ant-select {
          width: 100%;
        }
        .operating {
          button {
            margin-right: 20px;
          }
        }
      }
      .addMountPath {
        padding-top: 5px;
        cursor: pointer;
        i {
          margin-right: 5px;
        }
      }
    }
  }
}