@import '../../../../src/assets/style/site/core.less';

.audit {
  padding: @padding-medium;
  .time {
    color: @success-color;
  }
  .optionBox {
    margin-bottom: @padding-medium;
    .options {
      display: flex;
      align-items: center;
      .ant-calendar-picker {
        margin-top: 0 !important;
      }
      .selectionBox {
        width: 130px;
        margin-right: @padding-medium;
      }
      .btn {
        margin-right: @padding-medium;
        .fa {
          margin-right: 5px;
        }
      }
    }
    .ant-pagination-simple {
      display: flex;
      justify-content: flex-end;
    }
  }
  .dataTable {
    background: #fff;
    padding: 20px;
    border-radius: @border-radius-base;
    .ant-table-thead > tr > th {
      background: #fff;
      border-bottom: @border-width-base solid @border-color-base;
    }
  }
  .status {
    .fa {
      margin-right: 5px;
    }
    .success {
      color: @success-color;
    }
    .fail {
      color: @error-color;
    }
    .running {
      color: @primary-color;
      .fa {
        font-size: 12px !important;
      }
    }
  }
  .user {
    .fa {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 1280px) and (max-width: 1480px) {
    .ant-col-16 {
      width: 75%;
    }
  }
}
