@import '../../../../src/assets/style/site/core.less';
.resourceSelectPopup {
  .ant-cascader-menu {
    height: 500px !important;
  }
}

.audit {
  min-height: 400px;
  padding: @padding-medium;
  .time {
    color: @success-color;
  }
  .optionBox {
    margin-bottom: @padding-medium;
    .options {
      display: flex;
      align-items: center;
      .ant-calendar-picker {
        margin-top: 0 !important;
      }
      .selectionBox {
        width: 145px;
        margin-right: @padding-small;
      }
      .btn {
        margin-right: @padding-small;
        .fa {
          margin-right: 5px;
        }
      }
    }
    .pagination {
      margin-top: 5px;
      .ant-pagination-simple {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .dataTable {
    background: #fff;
    padding: 20px;
    border-radius: @border-radius-base;
    .ant-table-thead > tr > th {
      background: #fff;
      border-bottom: @border-width-base solid @border-color-base;
    }
    .object {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .status {
    .fa {
      margin-right: 5px;
    }
    .success {
      color: @success-color;
    }
    .fail {
      color: @error-color;
    }
    .running {
      color: @primary-color;
      .fa {
        font-size: 12px !important;
      }
    }
  }
  .user {
    .fa {
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 1250px) and (max-width: 1500px) {
    .ant-col-16 {
      width: 80%;
    }
    .ant-col-4 {
      width: 18%;
    }
    .selectionBox,.ant-calendar-picker,.btn {
      margin-right: @padding-base !important;
    }
  }
}
