#TerminalModal {
  position: relative;
  height: 100%;
  .cover {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
  }
  .titleBox {
    padding: 0 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: row-resize;
    background-color: #f8f8f8;
    .fa-times {
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 21px;
      cursor: pointer;
      border-radius: 10.5px;
    }
    .fa-window-minimize {
      position: absolute;
      top: 7px;
      right: 50px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 10px;
    }
  }
  .contentBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(~"100% - 30px");
    background-color: #333333;
    iframe {
      width: calc(~"100% + 18px");
      height: 100%;
      border: 0px !important;
    }
  }
}