#TeamDetail {
  .back {
    display: inline-block;
    width: 54px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #00a0ea;
    border-radius: 15px 0 0 15px;
  }
  .title {
    height: 18px;
    border-left: 8px solid #24a7eb;
    font-size: 16px;
    padding-left: 8px;
    margin-left: 20px;
  }
  .ant-alert {
    color: #187cb7;
    font-size: 13px;
    line-height: 26px;
    border: 1px dashed #88d8fd;
    margin-bottom: 0;
  }
  .memberOption {
    height: 75px;
    line-height: 75px;
    .quitTeamBtn {
      height: 35px;
      width: 100px;
      margin: 20px 0;
    }
    .total {
      display: inline-block;
      float: right;
      margin-right: 160px;
    }
  }
  .ant-card {
    overflow: inherit;
    .ant-card-body {
      padding: 0;
      .ant-table {
        .memberName {
          padding-left: 24px;
        }
        .tabOpt {
          .tabOptBtn {
            width: 98px;
            height:28px;
            background-color: #fff;
          }
          .hoverRed {
            &:hover {
              color: #fff;
              border: 1px solid #f85a59;
              background-color: #f85a59;
            }
          }
        }
      }
      /*.ant-table-pagination {
        margin: 16px 46px;
        position: absolute;
        top: -67px;
        right: -40px;
      }*/
    }
  }
  .content {
    color: #666;
    background-color: #fff;
    .balance {
      font-size: 14px;
      span {
        font-size: 20px;
      }
    }

  }
}