.manageProjectPool {
  padding-bottom: 20px;
  .addLine {
    padding-top: 5px;
    display: flex;
    & > div {
      padding: 5px;
      width: 18%;
      .ant-form-item {
        margin: 0 !important;
        .ant-form-item-control {
          .ant-form-explain {
            min-height: 18px;
            height: auto;
            white-space: normal;
          }
        }
      }
    }
  }
}
