.createCharacterModal{
  .bottomDesc{
    text-align: left;
    color: #ccc;
    margin-bottom: 24px;
  }
  .ant-form-item-label{
    text-align: right;
    margin-right: 0 !important;
  }
}
.createRoleForm{
}