@import "../../../../assets/style/site/core.less";
#account_projectManage {
  padding: 20px 20px 100px;
  .btnBox{
    margin-bottom: 20px;
    .commonSearchInputWrapper {
      margin: 0;
    }
  }
  .projectList{
    .ant-card-body{
      padding: 0 24px 24px;
    }
  }
  .addBtn {
    font-weight: normal;
    /* background-color: @primary-color; */
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
  }
  .manageBtn{
    font-weight: normal;
    float: left;
    margin-right: 10px;
    background-color: white;
  }
  .manageBtn:last-of-type{
    margin-right: 10px;
  }
  .total {
    display: inline-block;
    line-height: 32px;
    float: right;
    margin-right: 20px;
  }
  .ant-pagination{
    padding-top: 5px;
    float: right;
  }
  .ant-card {
    overflow: inherit;
  }
  .ant-table-pagination {
    margin: 16px 46px;
    position: absolute;
    top: -66px;
    right: -40px;
  }
  .balanceColor{
    color: #69bd67;
  }
  .goBackBox{
    font-size: 14px;
    height: 56px;
    display: flex;
    align-items: center;
    .goBackBtn{
      width: 60px;
      height: 28px;
      line-height: 28px;
      text-indent: 20px;
      color: #ecf7fd;
      background: url("../../../../assets/img/tenantManage/goBackBtn.png") no-repeat;
    }
    i{
      width: 6px;
      height: 16px;
      background-color: @primary-color;
      margin-left: 20px;
      margin-right: 10px;
    }
  }
  .createBox{
    background-color: white;
    border-radius: 3px;
    padding: 30px;
    .stepBox{
    margin: 0;
    display: flex;
    justify-content:space-around;
    li:not(:last-of-type) {
      margin-right: 30px;
    }
    li{
      flex: auto;
      font-size: 14px;
      text-align: center;
      padding: 0 20px;
      line-height: 40px;
      background: #ebeff2;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #717274;
      position: relative;
      span{
        border: 1px solid #d0d1d3;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 16px;
        margin-right: 10px;
      }
      &:after{
        content: '';
        display: block;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #ebeff2;
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 10;
      }
      &:before{
        content: '';
        display: block;
        border-top: 20px solid #ebeff2;
        border-bottom: 20px solid #ebeff2;
        border-left: 20px solid transparent;
        position: absolute;
        left: -20px;
        top: 0;
      }
      &:first-child{
        border-radius: 4px 0 0 4px;
        padding-left: 25px;
      }
      &:last-child{
        border-radius: 0px 4px 4px 0px;
        padding-right: 25px;
      }
      &:first-of-type:before{
        display: none;
      }
      &:last-of-type:after{
        display: none;
      }
    }
    .active{
      color: #ffffff;
      background-color: @primary-color;
      span{
        border-color: #ffffff;
      }
      &:after{
        border-left-color: @primary-color;
      }
      &:before{
        border-top-color: @primary-color;
        border-bottom-color: @primary-color;
      }
    }
  }
    .createTip{
      margin-top: 30px;
    }
  }
  .createBtnBox{
    height: 70px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding-left: 120px;
    background-color: white;
    button{
      margin-right: 10px;
    }
  }
  .ant-table-thead{
    tr{
      th{
        background-color: #ffffff;
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }
}
.delProjectModal{
  .delTipBox{
    padding-left: 24px;
    height: 70px;
    display: flex;
    align-items: center;
    .fa-check-square{
      color: #2db7f5;
      font-size: 16px;
      margin-right: 10px;
    }

  }
}

.paySingleList{
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  dt{
    width: 80px;
  }
}
.paySingleList{
  .payBtn{
    width: 440px;
    display: inline-flex;
    justify-content: space-between;
    .btnList{
      width: 70px;
      cursor: pointer;
      position: relative;
      .triangle {
        display: none;
        width: 0;
        height: 0;
        border-bottom: 0 solid transparent;
        border-top: 19px solid transparent;
        border-right: 23px solid @primary-color;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 14px;
        right: 0;
        i {
          display: none;
          font-size: 8px;
          position: absolute;
          right: -22px;
          bottom: -2px;
          z-index: 2;
          color: #fff
        }
      }
    }
    .btnList,input{
      height: 35px;
      border: 1px solid #e2e3e7;
      border-radius: 3px;
      text-align: center;
      line-height: 35px;
    }
    b{
      font-weight: normal;
      width: 30px;
      line-height: 35px;
      border:none;
      margin-left: -10px;
    }
    .active{
      border-color: @primary-color;
      color: @primary-color;
      .triangle{
        display: inline-block;
        i{
          display: inline-block;
        }
      }
    }
  }
}

.payModal{
  font-size: 14px;
  .alertRow{
    margin-bottom: 5px;
  }
  .tablePagination{
    margin-bottom: 5px;
  }
  .total {
    display: inline-block;
    line-height: 32px;
    float: right;
    margin-right: 20px;
    font-size: 12px;
  }
  .ant-pagination{
    padding-top: 5px;
    float: right;
  }
  table{
    thead{
      tr{
        th{
          //text-align: center;
        }
      }
    }
    tbody{
      tr{
        td{
          //text-align: center;
        }
      }
      .payTableRow{
        .balanceColor{
          color: #69bd67;
        }
      }
    }
  }
  .payBtnBox{
    dt{
      line-height: 30px;
      font-size: 14px;
      text-indent: 15px;
    }
    .payBtn{
      display: flex;
      justify-content: space-around;
      .btnList{
        width: 70px;
        cursor: pointer;
        position: relative;
        .triangle {
          display: none;
          width: 0;
          height: 0;
          border-bottom: 0 solid transparent;
          border-top: 19px solid transparent;
          border-right: 23px solid @primary-color;
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 14px;
          right: 0;
          i {
            display: none;
            font-size: 8px;
            position: absolute;
            right: -22px;
            bottom: -2px;
            z-index: 2;
            color: #fff
          }
        }
      }
      .btnList,input{
        height: 35px;
        border: 1px solid #e2e3e7;
        border-radius: 3px;
        text-align: center;
        line-height: 35px;
      }
      b{
        font-weight: normal;
        width: 30px;
        line-height: 35px;
        border:none;
        margin-left: -20px;
      }
      .active{
        border-color: @primary-color;
        color: @primary-color;
        .triangle{
          display: inline-block;
          i{
            display: inline-block;
          }
        }
      }
    }
  }
}
#projectCreateStepOne,#projectCreateStepSecond,#projectCreateStepThird{
  .inputBox{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .ant-form-item-label{
      text-align: left;
    }
    span:first-of-type{
      width: 90px;
    }
    .ant-input{
      width: 360px !important;
    }
    .projectName{
      width: 360px;
      height: 36px;
      border:1px solid #CCCCCC;
      text-indent: 15px;
      border-radius: 5px;
    }
    textarea.ant-input{
      height: 60px;
      resize: none;
    }

  }
}
.createRoleForm{
  .ant-form-item-label{
    text-align: right;
    margin-right: 5px;
  }
}
#projectCreateStepOne{
  .inputBox{
    &>span:first-of-type{
      width: 66px;
    }
  }
  .dropDownBox{
    width: 170px;
    height: 36px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 10px;
    &>span{
      height: 34px;
      line-height: 34px;
      color: #999999;
      &>i{
        margin-left: 50px;
      }
    }
  }
  .projectCreateFirstForm{
    .ant-form-explain{
      white-space: normal;
      word-break: break-all;
      height: auto;
    }
  }
  .dropBox{
    width: 100%;
    .dropText{
      display: block;
      width: 100% !important;
      text-align: right;
      padding-right: 8px;
    }
  }
}
.createClusterPop{
  .ant-popover-inner-content{
    padding: 0;
  }
  .dropDownInnerBox{
    z-index: 1;
    dl{
      dt,dd{
        height: 30px;
        line-height: 30px;
      }
      dt{
        padding: 0 10px;
        background-color: #eeeeee;
      }
      dd{
        padding: 0 20px;
        &:hover{
          background-color: #effdfe;
        }
      }
    }
    dl:first-of-type{
      dd{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
#projectCreateStepSecond{
  .roleTrans{
    padding-left: 90px;
    .ant-transfer-list-header{
      display: flex;
      align-items: center;
      .ant-transfer-list-header-title{
        float: left;
        margin-right: 3px;
      }
    }
    .ant-transfer-list-body{
      ul{
        li{
          display: flex;
          align-items: center;
          &>span{
            flex: 0 1 400px;
          }
        }
      }
    }
  }
}
.createCharacterModal{
  .inputBox{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    span:first-of-type{
      width: 90px;
    }
    .ant-input{
      width: 320px !important;
    }
  }
  .authChooseProject{
    .authChooseText{
      width: 90px;
      display: inline-block;
      margin-top: 15px;
      text-align: right;
      padding-right: 12px;
    }
    .authBox{
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      vertical-align: top;
      .authTitle{
        line-height: 40px;
        padding: 0 15px;
      }
      .treeBox{
        height: 300px;
        width: 320px;
        overflow-y: scroll;
        border-top: 1px solid #d8d8d8;
      }
    }
  }
}

#projectCreateStepThird{
  .characterWrapper{
    .characterBox{
      padding-left: 15px;
      .characterListBox{
        border-radius: 4px;
        border: 1px solid #dadada;
        width: 130px;
        height: 328px;
        overflow-y: auto;
        li{
          font-size: 14px;
          width: 100%;
          height: 40px;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          border-left: 2px solid white;
          padding: 0 5px;
          i{
            display: none;
          }
          &:not(.active):hover{
            color: #666;
            background-color: #f8f8f8;
            border-left: 2px solid #f8f8f8;
            i{
              display: inline-block;
            }
          }
        }
        &:not(last-of-type){
          border-bottom: 1px solid #dadada;
        }
        .active{
          border-left: 2px solid @primary-color;
          color: @primary-color;
          background-color: #effdff;
        }
      }
    }
    .rightBox{
      margin-left: 20px;
      display: inline-flex;
      align-items: center;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      &>div{
        width: 360px;
        height: 320px;
      }
      .connectMemberBox{
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      .authBox{
        .authTitle{
          line-height: 40px;
          text-indent: 15px;
          border-right: 1px solid #d8d8d8;
        }
        .treeBox{
          height: 280px;
          overflow-y: scroll;
          border-top: 1px solid #d8d8d8;
          border-right: 1px solid #d8d8d8;
          background-color: #ecf1f4;
        }
      }
      .memberBox{
        width: 360px;
        height: 320px;
        .memberTableBox{
          height: 280px;
          overflow-y: auto;
          border-top: 1px solid #d8d8d8;
          .addMemberBtn{
            display: block;
            margin: 125px auto 0;
          }
          ul{
            padding:0;
            li{
              margin:0;
              padding: 10px;
              &:hover{
                background: #ecf7fd;
              }
            }
          }
        }
        .memberTitle{
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
  }
  .thirdNameLabel{
    .ant-form-item-label{
      text-align: right;
    }
  }
}