/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * AlarmGroup.less page
 *
 * @author zhangtao
 * @date Thursday September 20th 2018
 */
@import "../../../../assets/style/site/core.less";
.alarmGroup, .AlarmRecord, .alarmSetting{
  padding:20px;
}
#AlarmGroup{
  width: 100%;
  overflow: hidden;
  .pageCount {
    position: absolute;
    top:-45px;
    right: 160px;
  }
  .alarmGroupHeader{
    padding:6px 0 20px 0;
    .ant-btn-ghost{margin-left: 8px;background: white;}
    button{
      i{
        margin-right: 5px;
      }
    }
    .Search{
      width:170px;
      margin-left: 8px;
      display: inline-block;
      position: relative;
      top: 1px;
      i {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 14px;
        color: #999;
        cursor: pointer;
      }
    }
  }
  .alarmGroupContent{
    overflow: initial;
    .ant-card-body{padding:10px 0 0px 0;}
    .more {
      display: inline-block;
      margin-left: 5px;
      width: 15px;
      height: 34px;
      cursor: pointer;
      vertical-align: middle;
      fill: #c7cbce;
    }
    .more.ant-popover-open {
      fill: @primary-color;
    }
  }
  .ant-spin-container {
    position: relative;
  }
  .ant-pagination-simple {
    position: absolute;
    top: -75px;
    right: -20px;
  }
  .Overflow {
    width:120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}