@import "../../../../assets/style/site/core";
.appWrapStore {
  background-color: #ecf0f4;
  padding-bottom: 30px;
  .storeTabs{
    .ant-tabs-bar{
      background-color: white;
      padding: 0 50px;
      margin: 0;
      .ant-tabs-tab{
        height: 40px;
      }
    }
  }
  .wrapStoreHead{
    padding: 40px;
    background: url("../../../../assets/img/wrapStoreBg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    .storeHeadText{
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  .storeTemplate{
    padding: 30px 25px;
  }
  .filterAndSortBox{
    background-color: white;
    position: relative;
    padding: 20px 190px 20px 24px;
    .ant-pagination{
      position: absolute;
      top: 24px;
      right: 0px;
    }
    .total{
      position: absolute;
      top: 25px;
      right: 150px;
    }
    .filterClassify{
      margin-bottom: 10px;
    }
    .filterTab{
      margin-left: 5px;
      display: inline-block;
      border-radius: 17px;
      padding: 5px 20px;
      cursor: pointer;
      &:not(.active):hover{
        color: @primary-color;
      }
    }
    .active{
      background-color: @primary-color;
      color: white;
    }
  }
  .storeListBox{
    padding: 20px;
    background-color: white;
  }
  .wrapStoreBody{
    display: flex;
    justify-content: space-around;
    .wrapStoreLeft{
      flex: 1 1 auto;
      margin-right: 24px;
      .wrapListMiddle{
        flex: 1 1 40%;
      }
      .wrapListRight{
        flex: 1 1 40%;
      }
    }
    .wrapStoreRight{
      flex: 0 0 340px;
      .hotWrapCard{
        .wrapList{
          .wrapListMiddle{
            flex: 0 0 75px;
            .nickName{
              width: 99%;
            }
          }
          .wrapListRight{
            flex: 0 0 110px;
          }
        }
      }
    }
    .wrapListBox{
      border-radius: 4px;
      overflow: hidden;
      .wrapList{
        display: flex;
        align-items: center;
        padding: 24px;
        border: @border-width-base @border-style-base @border-color-split;
        &:not(:last-of-type) {
          border-bottom: none;
        }
        border-radius: @border-radius-base;
        .hotOrder{
          display: inline-block;
          width: 24px;
          text-align: center;
        }
        .hotOrder2{
          color: #ffae02;
        }
        .hotOrder3{
          color: #fecd01;
        }
        .hotOrder4, .hotOrder5, .hotOrder6, .hotOrder7, .hotOrder8, .hotOrder9, .hotOrder10{
          color: #cccccc;
        }
        .champion{
          display: inline-block;
          background: url("../../../../assets/img/champion.png");
          width: 24px;
          height: 18px;
        }
        .rank{
          margin-right: 5px;
        }
        .wrapIcon{
          flex: 0 0 80px;
          margin-right: 20px;
          height: 80px;
          border: @border-width-base @border-style-base @border-color-base;
          border-radius: 4px;
        }
        .hotWrapIcon{
          flex: 0 0 50px;
          margin-right: 10px;
          height: 50px;
          border: @border-width-base @border-style-base @border-color-base;
          border-radius: 4px;
        }
        .wrapListMiddle{
          .appName{
            font-size: 14px;
          }
          .appDesc{
            margin-bottom: 20px;
          }
          .tagBox{
            background-color: #d5f1fd;
            color: @primary-color;
            margin-left: 10px;
            padding: 3px 6px;
            border-radius: @border-radius-base;
            .tag{
              margin-right: 5px;
            }
          }
          .sourceAddr{
            display: flex;
            align-items: center;
            .resourceLink{
              display: inline-block;
              max-width: 300px;
            }
            .copyBtn{
              margin-left: 8px;
              color: @primary-color;
            }
          }
        }
      }
      .noBorder{
        border: none !important;
      }
      .hotWrapCard{
        .ant-card-body{
          padding: 0;
        }
      }
      .wrapPopBtn{
        margin-bottom: 10px;
        button:first-of-type{
          padding:0 ;  
        }
        .operateBtn{
          display: block;
          width: 70px;
          height: 26px;
          padding: 4px;
        }
      }
      .downloadBox{
        span:first-of-type{
          margin-right: 30px;
        }
      }
    }
  }
}