.manage-classify-label {
  .reset_antd_table_header{
    position: relative;
    .ant-table-header{
      background: #fff;
      .ant-table-thead > tr > th{
        background: #ffffff;
        font-weight: normal;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
}