@import "../../../../../src/assets/style/site/core.less";
#clusterAuthorization {
  padding: 25px;
  min-width: 950px;
  .ant-col-push-3 {
    margin-left: -10px !important;
    margin-top: -2px !important;
  }
  .authorization-pagination {
    position: relative;
    .total-page {
      position: absolute;
      left: -60px;
      line-height: 24px;
    }
  }
  .search-box {
    width: 200px;
    position: relative;
    .ant-input-wrapper {
      z-index: 1;
      .ant-input-group-addon {
        background: #fff;
      }
    }
    .search-btn {
      position: absolute;
      z-index: 2;
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      right: -60px;
      top: 50%;
      margin-top: -10px;
      cursor: pointer;
    }
  }
  .authorization-table {
    margin-top: 15px;
    background: #fff;
    padding: 0 20px 40px;
    border-radius: 5px;
    .undo-btn,.clear-btn {
      background: #fff;
    }
    th {
      background: #fff;
      color: #7f7f7f;
      font-weight: normal;
      border-bottom: 1px solid #e3e7ea;
    }
    td {
      border-bottom: 1px solid #e3e7ea;
      color: #7f7f7f;
    }
    .status-tag {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #0aad89;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -5px;
      }
    }
    .not-yet {
      color: #74b3e5;
      &:before {
        background: #74b3e5;
      }
    }
    .pending {
      color: #ea8f26;
      &:before {
        background: #ea8f26;
      }
    }
    .authorized {
      color: #2fb262;
      &:before {
        background: #2fb262;
      }
    }
    .rejected {
      color: #e84a4b;
      &:before {
        background: #e84a4b;
      }
    }
    .reject-btn {
      &:hover {
        border-color: red;
        color: red;
      }
    }
    .undo-btn {
      border-color: #2db7f5;
      color: #2db7f5;
      &:hover {
        color: #fff;
        background: #2db7f5;
      }
    }
    .clear-btn {
      color: #7f7f7f;
      &:hover {
        color: #2db7f5;
      }
    }
  }
}
.confirm-pass-box {
  .confirm-icon {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #6fbb3d;
  }
  .confirm-text {
    text-align: center;
    margin-top: 10px;
    div {
      &:first-child {
        font-size: 14px;
        line-height: 30px;
      }
      &:last-child {
        font-size: 12px;
      }
    }
  }
  table {
    width: 100%;
    margin: 25px 0 10px 0;
    border-collapse: collapse;
    border: 1px solid #e7ecf2;
    color: #747474;
    td {
      height: 38px;
      line-height: 38px;
      padding-left: 23px;
    }
    thead {
      border-bottom: 1px solid #e7ecf2;
    }
  }
}
