#Team {
  font-size: 14px;
  .teamWrap {
    padding: 30px 24px 0;
    border-bottom: 1px solid #e2e2e2;
    .teamTitle {
      height: 30px;
    }
    .teamContent {
      padding-bottom: 50px;
      .contentTop {
        height: 30px;
        padding-left: 25px;
      }
      .contentList {
        height: 51px;
        line-height: 50px;
        border: 1px solid #e2e2e2;
        border-top: none;
        padding-left: 25px;
      }
    }
  }
  .firstItem {
    border-top: 1px solid #e2e2e2 !important;
  }
  .infSvg {
    height: 16px;
    width: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -4px;
  }
  .infSvgTxt {
    display: inline-block;
    height: 30px;
    line-height: 30px;
  }
}