#AlarmStrategy {
  .topRow {
    padding:10px 15px;
    button {margin-right: 8px}
  }
}
.strategyTable {
  .ant-table-thead > tr > th {
      background: white;
      font-weight: 500;
      border-bottom: 1px solid #d9d9d9;
  }
  .ant-table-tbody > tr:last-child > td{
    border:0
  }
}
#AppServiceDetail {
  .strategyTable{
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #d9d9d9;
    // border-bottom: 0;
    &:hover {
      box-shadow: 0 1px 6px rgba(100, 100, 100, 0.2);
      border-color: #eee;
    }
  }
}