.ant-tabs-tabpane{
  #AppAutoScale {
    padding-bottom: 40px;
    .ant-select-selection-selected-value{
      text-indent: 5px;
    }
    .hintBox{
      line-height: 32px;
    }
    .autoScaleSwitch{
      display: flex;
      padding-bottom: 20px;
      align-items: center;
      &>span{
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
      }
    }
    .ant-tabs{
      .ant-tabs-bar{
        background-color: #f8f8f8;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 16px;
        padding: 0;
        box-shadow: none;
      }
      .ant-tabs-ink-bar{
        background-color: white !important;
      }
      .ant-tabs-tab{
        margin: 0;
        border: 1px solid #d9d9d9;
        border-bottom: 0;
        border-radius: 6px 6px 0 0;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        background: #fff;
        margin-right: 2px;
      }
      .ant-tabs-tab-active{
        background: #f9f9f9;
        transform: translateZ(0);
        border-color: #2db7f5;
        color: #2db7f5;
      }
    }
    .autoScaleForm{
      padding: 20px;
    }
    .autoScaleInnerBox{
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 0 2px 1px #ccc;
    }
    .autoScaleBtnGroup{
      border-top: 1px solid #ddd;
      padding: 20px;
      button{
        margin-right: 10px;
      }
    }
    .strategyLabel{
      position: relative;
      &:after{
        content: ":";
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    }
    .strategyBox{
      &>div{
        &:after{
          display: none;
        }
      }
      .threshold:after{
        content: ":";
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
      }
    }
  }
}
