#AppAutoExtend {
  .title {
    height: 50px;
    line-height: 50px;
  }
  .titleBtn {
    float: right;
    button {
      margin-left: 10px;
    }
  }
  .ant-alert {
    padding: 0 0 0 16px;
    line-height: 52px;
    height: 52px;
  }
  .cardItem {
    height: 80px;
    line-height: 80px;
    border-bottom:1px solid #e2e2e2;
    font-size: 16px;
    .itemBody {
      padding-left: 30px;
    }
  }
}