#AppAutoScale {
  .title {
    height: 50px;
    line-height: 50px;
  }
  .titleBtn {
    float: right;
    button {
      margin-left: 10px;
    }
  }
  .ant-alert {
    padding: 0 0 0 16px;
    line-height: 52px;
    height: 52px;
  }
  .ant-card-body {
    padding: 0;
  }
  .cardItem {
    height: 80px;
    line-height: 80px;
    border-bottom:1px solid #e2e2e2;
    font-size: 16px;
    .itemBody {
      padding-left: 30px;
    }
    .ant-tooltip {
      .ant-tooltip-content {
        .ant-tooltip-inner {
          max-width: 174px !important;
        }
      }
    }
  }
  .ant-slider {
    height: 20px;
    .ant-slider-track {
      height: 12px;
      background-color: #19aaeb;
      border: 1px solid #0094dc;
      border-radius: 0;
    }
    .ant-slider-handle {
      position: relative;
      width: 20px;
      height: 20px;
      border-color: #c9c9c9;
    }
  }
  .ant-slider-disabled {
    background-color: #e5e5e5 !important;
    .ant-slider-handle {
      border-color: #c9c9c9;
    }
  }
  .ant-slider-disabled .ant-slider-track {
    background-color: #999999 !important;
    border: 1px solid #999999;
  }
}
