@import '~assets/style/site/core.less';

#AppContainerList {
  .operaBox {
    button {
      margin-right: 20px;
      height: 38px;
      line-height: 28px;
      i {
        margin-right: 7px;
      }
    }
    .leftBox {
      float: left;
    }
    .rightBox {
      float: right;
      line-height: 38px;
    }
  }
  .instanceHeader {
    min-height: 45px;
    height: auto;
    line-height: 28px;
    & > .ant-btn {
      margin-right: 12px;
    }
    .seeConfig {
      cursor: pointer;
      color:  @primary-color;
    }
    .disAbled {
      color: @warning-color;
      height: 24px;
      line-height: 24px;
      margin: 10px 0;
    }
  }
  .dataBox {
    padding: 0;
    background-color: #FFFFFF !important;
    .ant-card-body {
      padding: 0 !important;
      max-height: 550px;
      overflow-y: auto;
    }
    .commonData {
      float: left;
    }
    .selectIconTitle {
      width: 5%;
      text-align: center;
    }
    .name {
      width: 20%;
    }
    .status {
      width: 15%;
    }
    .image {
      width: 25%;
    }
    .address {
      width: 22%;
    }
    .createTime {
      width: 12%;
      // line-height: 60px;
    }
    .titleBox {
      padding: 0;
      height: 50px;
      line-height: 50px;
      background-color: inherit;
    }
    .containerDetail {
      transition: all 0.3s;
      border-top: 1px solid #E5E5E5;
      .selectIconTitle,
      .name {
        // padding-right: 10px;
        // line-height: 30px;
        height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        a {
          display: inline-block;
          padding-top: 4px;
        }
      }
      .status,
      .image {
        line-height: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .image {
        padding-right: 10px;
      }
      .normal {
        color: #5cb85c;
      }
      .error {
        color: #f85a5a;
      }
      .address {
        span {
          line-height: 60px;
          display: block;
          width: 95%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .ant-tag {
        font-family: Consolas, Menlo, Courier, monospace;
        background-color: #fff;
        margin-right: 5px;
      }
      .new-tag {
        color: @success-color;
        border-color: @success-color;
      }
    }
  }
}