#AppServiceDetailInfo{
  width: 100%;
  background-color: #FFFFFF !important;
  .commonBox{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
     border-bottom: 1px solid #E5E5E5;
    .titleSpan{
      padding-left: 10px;
      display: block;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      border-left: 5px solid #00A1EA;
      color: #333333;
    }
    .titleBox{
      margin-top: 30px;
      padding: 0px !important;
      padding-left: 20px !important;
      font-size: 14px;
      color: #666666;
    }
    .commonTitle{
      float: left;
      width: 33%;
      height: 30px;
      line-height: 30px;
      text-align: left;
    }
    .dataBox{
      padding-left: 20px;
      font-size: 12px;
      color: #999999;
    }
  }
  .info{
    padding-top: 0px;
  }
  .environment{
    border-bottom: 0px;
  }
}
