#AppUseful {
	.operaBox {
		padding-bottom: 10px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		border-bottom: 1px dashed #E5E5E5;
		.switch {
			margin-left: 15px;
		}
		.status {
			margin-left: 10px;
		}
	}
	.settingBox {
		.ant-card-body {
			padding: 0 !important;
		}
		.titleSpan {
			float: left;
			display: block;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
		}
		.editBtn {
			float: left;
			width: 120px;
		}
		.fa {
			float: left;
			margin-left: 15px;
			line-height: 40px;
			color: #2db7f5;
			font-size: 14px;
			cursor: pointer;
		}
		.editTitle {
			float: left;
			margin-left: 10px;
			display: block;
			width: 50px;
			height: 40px;
			line-height: 40px;
			color: #2db7f5;
			font-size: 14px;
			cursor: pointer;
		}
		.setting {
			.title {
				padding-left: 24px;
				padding-right: 24px;
				width: 100%;
				height: 50px;
				line-height: 50px;
				background-color: #f8f8f8;
				border-bottom: 1px solid #e9e9e9;
			}
			.select {
				padding: 10px 24px;
			}
			.http,
			.tcp {
				border-top: 1px solid #E5E5E5;
			}
			.title {
				width: 100%;
				height: 40px;
				line-height: 40px;
				background-color: #F2F2F2;
				border-bottom: 1px solid #E5E5E5;
			}
			.httpcommonTitle,
			.tcpcommonTitle {
				padding-left: 10px;
				float: left;
				width: 25%;
				text-align: left;
			}
			.input {
				width: 100%;
				height: 50px;
				line-height: 50px;
				border-bottom: 1px solid #E5E5E5;
			}
			.commonInput {
				width: 25%;
				float: left;
				input {
					margin-left: 10px;
					width: 100px;
				}
			}
		}
		.btnBox{
			margin-top: 20px;
			text-align: right;
			button{
				margin-right: 10px;
			}
		}
	}
}