#bindDomain{
  .ant-alert-info{
    border-style: dashed;
  }
  .titleBox{
    padding: 0px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    width: 100%;
    background-color: rgba(0,0,0,0) !important;
    height: 40px;
    line-height: 40px;
    .commonTitle{
      padding-left: 10px;
      float: left;
      height: 40px;
      line-height: 40px;
      text-align: left;
    }
    .protocol{
      width: 20%;
    }
    .domain{
      width: 40%;
    }
    .tooltip{
      width: 40%;
    }
  }
  .infoBox{
    .ant-card-body{
      padding: 15px 24px !important;
    }
    .protocol{
      padding-left: 10px;
      float: left;
      width: 20%;
      line-height: 100%;
    }
    .domain{
      padding-left: 10px;
      float: left;
      width: 40%;
      line-height: 100%;
      button{
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
      .newDomain{
        margin-top: 10px;
      }
      .newDomain:first-child{
        margin-top: 0px;
      }
    }
    .tooltip{
      padding-left: 10px;
      float: left;
      width: 40%;
      line-height: 100%;
      span{
        color: #2db7f5;
      }
    }
  }
}
