#bindDomain{
	.ant-alert-info{
		border-style: dashed;
	}
	.titleBox{
		padding: 0px !important;
		padding-left: 24px;
		padding-right: 24px;
		width: 100%;
		background-color: rgba(0,0,0,0) !important;
		height: 40px;
		line-height: 40px;
		.commonTitle{
			padding-left: 10px;
			float: left;
			width: 33%;
			height: 40px;
			line-height: 40px;
			text-align: left;
		}
	}
	.infoBox{
		.protocol{
			float: left;
			width: 20%;
		}
		.domain{
			float: left;
			width: 40%;
		}
		.tooltip{
			float: left;
			width: 40%;
			span{
				color: #2db7f5;
			}
		}
	}
}
