@import '~assets/style/site/core.less';

.grayscale-upgrade-modal {
  .btnOs{
    color: #57c5f7;
    background-color: transparent;
    border-color: #57c5f7;
  }
  .text-align-right {
    text-align: right;
  }
  .ant-modal {
    width: 640px;
    .ant-form-item-label {
      text-align: left;
      label:after {
        visibility: hidden;
      }
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-tag {
      font-family: Consolas, Menlo, Courier, monospace;
      background-color: #fff;
      margin-right: 5px;
    }
    .ant-select {
      width: 200px;
    }
    .ant-input-number {
      width: 150px;
    }
    .target-tag {
      line-height: 32px;
      .ant-form-item {
        display: inline-block;
      }
      .new-tag {
        color: @success-color;
        border-color: @success-color;
        vertical-align: top;
        margin-top: 6px;
      }
    }
    .ant-slider {
      margin: 10px 0 20px 5px;
    }
    .rollback_tip{
      color: #f5cc4e;
      .tips_icon{
        font-size: 12px;
        cursor: auto;
      }
    }
  }
}
