#PortDetail{
  width: 100%;
  .titleBox{
    padding: 0px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    background-color: rgba(0,0,0,0) !important;
    width: 100%;
    .commonTitle{
      padding-left: 10px;
      float: left;
      width: 15%;
      height: 40px;
      line-height: 40px;
      text-align: left;
    }
    .serviceUrl{
      width: 40%;
    }
  }
  .portList{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .ant-card-body{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .portDetail{
      width: 100%;
      border-bottom: 1px solid #E5E5E5;
      .commonData{
        padding-left: 10px;
        float: left;
        width: 15%;
        height: 40px;
        line-height: 40px;
      }
      .serviceUrl{
        width: 40%;
        span{
          color: #2db7f5;
          cursor: pointer;
        }
      }
    }
    .portDetail:last-child{
      border-bottom: 0px;
    }
  }
}
