#RollingUpdateModal {
  .btnOs{
    color: #57c5f7;
    background-color: transparent;
    border-color: #57c5f7;
  }
  & > .ant-row {
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    .ant-select {
      width: 100%;
    }
  }
  .old-tag {
    .ant-tag {
      margin-left: 2px;
      margin-bottom: 5px;
      background-color: #333333;
      color: #fff;
    }
  }
}