#RollingUpdateModal {
  .serviceName {
    height: 45px;
    line-height: 45px;
    .switchUpdateTime {
      float: right;
      text-align: center;
      .ant-switch {
        right: 35px;
      }
      .switchTip {
        position: absolute;
        width: 110px;
        height: 16px;
        line-height: 16px;
        bottom: 0;
        right: 0;
      }
    }
    .itemBody {
      padding-left:15px;
    }
  }
  .rollingUpdateUpdateItem {
    padding-left: 15px;
  }
  .updateItem {
    .itemTitle {
      height: 80px;
    }
    .itemBody{
      height: 80px;
      padding-left: 30px;
      .ant-input-wrapper {
        float: left;
      }
      .ant-btn {
        float: left;
      }
    }
  }
  .ant-select {
    width: 120px;
    margin-right: 10px;
  }
}