@import '../../../../assets/style/site/core.less';
 .ServiceMeshSwitch {
 .editTip {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 247, 230);
  &:after{
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid rgb(255, 247, 230);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -6px;
    left: 50px;
  }
}
.titleSpan{
  padding-left: 10px;
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  border-left: 5px solid @primary-color;
  color: #333;
  margin-bottom: 10px;
}
.operationWrap{
  padding-left : @padding-small;
  >div {
    padding-top: @padding-small;
    padding-bottom:  @padding-medium;
    >span {
      padding-left: @padding-small;
    }
  }
}
.tipinfo {
  display: inline-block;
  color: @warning-color;
}
.openIstioTip {
  display: inline-block;
  margin-right:  @padding-medium;
  color:  @success-color;
}
.closeIstioTip {
  display: inline-block;
  margin-right:  @padding-medium;
  color: @error-color;
}
.ServiceMeshForm{
  .ant-alert-warning {
    border: 1px dashed #ffeecc!important;
  }
}
}