@import '~assets/style/site/core';
.ServiceMonitor {
  .serviceInnerMonitor{
    background-color: white;
    padding-top: 20px;
  }
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.monitor-filter-content {
  .ant-popover-inner-content {
    padding: @padding-small 0 0 !important;
  }
}
