
@import "~assets/style/site/core.less";
.VisitTypeAddressTable {
  .addrList{
    margin: 10px 0;
    .domain{
      margin-left: 35px;
    }
    i{
      cursor: pointer;
      font-size: 16px !important;
      color:  @primary-color;
      margin-left: 10px;
    }
  }
  .ant-table-thead > tr > th {
    font-weight: normal;
    background-color: @backgroud-color;
    border-bottom: 1px solid @border-color-split!important;
  }
}