@import "../../../../../assets/style/site/core.less";
.ContainerSecurityPolicyProject {
  margin: 0 @padding-medium;
  .delete {
    margin-left: @padding-medium;
  }
  .ant-table-thead > tr:first-child > th {
    background-color: white;
    border-bottom: 1px solid @border-color-split;
    font-weight: normal;
  }
  .red {
    color: @error-color;
    > span {
      margin-left: @padding-base;
    }
  }
  .green {
    color: @success-color;
    > span {
      margin-left: @padding-base;
    }
  }
  .annotation {
    color: @primary-color;
    cursor:pointer;
    &:hover {
      color:  @primary-color-hover;
    }
  }
}
