@import '../../../../../assets/style/site/core';
.permissionOverview {
  .permissionTable {
    .ant-table-header {
      background-color: white;
    }
    .ant-table-thead {
      tr {
        th {
          background-color: white;
          border-bottom: @border-width-base @border-style-base @border-color-base;
        }
      }
    }
    .regText {
      padding: 3px;
      border-radius: @border-radius-base;
      margin-right: 5px;
    }
    .controlBtn {
      margin-right: 12px;
      min-width: 115px;
    }
    .deleteLine {
      text-decoration: line-through;
    }
  }
}
.permissionModal {
  .permissionHeader {
    border-bottom: @border-width-base @border-style-base @border-color-base;
    height: 40px;
    margin-bottom: 18px;
  }
  .permissionFooter {
    margin-top: 18px;
    height: 50px;
    border-top: @border-width-base @border-style-base @border-color-base;
  }
}
.rct-node-icon {
  display: none;
}