.ServiceMeshForm.close{
  .ant-alert-info {
    border: 1.5px dashed #fdc !important;
    background-color: #ffeee6;
  }
  .ant-alert-icon {
    color: #f50;
  }
}
.ServiceMeshForm.open {
  .ant-alert-info {
    border:1px dashed #85d7fd !important;
    background-color:#d9edf6;
  }
}