@import '../../../../../assets/style/site/core.less';
.ServiceMeshForm.close{
  display: flex;
  align-items: center;
  border: 1px dashed @warning-color;
  background: #fffbf5;
  border-radius: @border-radius-base;
  padding: @padding-base;
  color: @font-color-1;
  & > div {
    &:nth-child(1) {
      color: @warning-color;
      font-size: 26px;
      margin-right: 8px;
    }
  }

  .ant-alert-info {
    border: 1.5px dashed #fdc !important;
    background-color: #ffeee6;
  }
  .ant-alert-icon {
    color: #f50;
  }
}
.ServiceMeshForm.open {
  .ant-alert-info {
    border:1px dashed #85d7fd !important;
    background-color:#d9edf6;
  }
}

.PspAlter {
  .info {
    margin: @padding-small 0;
    color:  @font-color-2;
    .triangle {
      margin-right: @padding-base;
      color: rgb(254, 192, 4);
      font-size: 16px;
    }
  }
  .infoTwo {
    padding: 12px;
    background-color: #e6f8ff;
    border: 1px dashed #85d8ff;
    color: #4296c5;
    border-radius: 4px;
  }
  .operation {
    margin: @padding-small 0;
    .info {
      padding-left: 6px;
      color:  @font-color-3;
    }
  }
}