#AppSider{
    padding-top: 40px;
    width: 140px;
    font-size: 14px;
    ul{
        background-color: rgba(0,0,0,0);
        border: 0px;
        li{
            border: 0px;
            a{
                color: #FFFFFF;
            }
        }
    }
    .ant-menu-item-selected{
        border-right: 2px solid #2db7f5;
        background-color: #1f2b3d;
    }
    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
    	background-color: rgb(79, 90, 101);
    }
}
