@import "../../../assets/style/site/core";
#app_wrap_manage {
  padding: 20px;
  position: relative;
  .btnRow {
    .btn-search{margin-left: -5px;font-size: 14px;color: #999;cursor: pointer;position: relative;}
    .refreshBtn {
      background: #FFFFFF !important;
    }
  }
  .wrap_content {
    margin-top: 20px;
    overflow: inherit;
    .ant-spin-container{position: relative;}
    .ant-card-body {
      padding: 0;
      padding-top: 10px;
      .ant-table{
        overflow: inherit;
      }
      .ant-table-pagination {
        position: absolute;
        right: -20px;
        top: -75px;
        li{margin-left: 6px;}
      }
      .wrapListTable {
        position: relative;
        .deployModeList {
          border: 0;
          .ant-menu-item {
            border: 0;
          }
        }
      }
    }
  }

}

.publishModal{
  .wrap-image{
    background: #fbfbfb;
    border: @border-width-base dashed @border-color-base;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    display: block;
    .wrapLogo{
      width: 100px;
      height: 100px;
    }
    .ant-upload-text{
      position: absolute;
      left: 12px;
      bottom: 5px;
    }
    .plus-icon{
      z-index: 2;
      left: 43%;
    }
  }
}
// upload modal
.uploadModal {
  .row {height: 40px;}
  .key {width: 100px;display: inline-block;}
  .dragger {
    height: 140px;
    .wrap_dragger {border:1px dashed #d9d9d9;height: 100%;padding:20px;border-radius: 5px;}
    .ant-form-item{margin-bottom: 10px;}
  }
  .ant-form-item-label {padding-right: 10px;}
  .ant-form-item-label label:after{display: none;}
  .ant-form-item-required:after{display: none;}
  .publishedHint{
    text-align: center;
    margin-bottom: 10px;
  }
}