@borderColor: #f2f2f2;
.ImageStoreBox {
  position: absolute;
  padding: 20px 20px 50px 20px;
  height: calc(~"100% - 55px");
  overflow-y: scroll;
  width: calc(~"100% - 500px");
  .storeBody{
    .topSearch{
      width:200px;float: right;
      position: relative;
    }
  }
  .moduleDetail {
    margin-bottom: 30px;
    width: 100%;
    .bigTitle {
      margin-bottom: 15px;
      padding-left: 10px;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      font-weight: 600;
      border-left: 8px solid #24a7eb;
    }
    .imageDetail {
      .ant-card-body {
        padding: 0;
      }
      float: left;
      width: 200px;
      height:195px;
      border: 1px solid @borderColor;
      background-color: #FFFFFF;
      margin-right: 10px;
      margin-bottom: 10px;
      .imgBox {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 140px;
        text-align: center;
        line-height: 140px;
        cursor: pointer;
        overflow: hidden;
        img {
          max-width: 100%;
          height: calc(~"100% - 20px");
        }
        .Gitlab {
          margin-top: -24px;
          width: 100% !important;
          height: auto !important;
        }
        .Tomcat {
          height: 80% !important;
        }
      }
      .intro {
        width: 100%;
        border-top: 1px solid @borderColor;
        height: 45px;
        line-height: 45px;
        clear: both;
        .span7{
          width: 70%;
          float: left;
          padding-left: 10px;
        }
        .span2{
          width: 20%;
          float: left;
        }
        .btn-deploy{
          padding:5px 10px;
          background: white;
        }
        .btn-deploy:hover{
          background: #21ADEB;
          border-color: #0092DB;
          color: white;
        }
      }
    }
  }
  .nav {
    position: fixed;
    width: 200px;
    top: 80px;
    right: 0;
    z-index: 10;
    .navItem {
      height: 14px;
      line-height: 14px;
      font-size: 14px;
      cursor: pointer;
    }
    .currentNav {
      font-size: 14px;
      color: #24a7eb;
    }
    .line {
      margin-left: 6px;
      width: 10px;
      height: 30px;
      border-left: 1px dashed #D9D9D9;
    }
    .fa-star-o {
      color: #D9D9D9;
    }
    .fa-star {
      color: #24a7eb;
    }
  }
}