@import "../../../assets/style/site/core.less";
.ImageCenterBox {
  .docker-icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
  }
}
#ImageCenter {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  .ImageCenterTabs{
    line-height: 50px;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    .tab {
      display: inline-block;
      padding:0 20px;
      cursor: pointer;
    }
    .otherName {
      display: inline-block;
      padding-left: 20px;
      border-left: 1px solid #e9e9e9;
    }
    .tab.active{
      background:#F4F5F7;
      color: @primary-color;
    }
  }
  .ImageCenterRepoSwitch {
    margin-top: 20px; 
    line-height: 24px;
    height: 24px;
    display: flex;
    color: @font-color-2;
    .volumesHeader {
      padding-left: 10px;
      display: inline-block;
      width: 50%;
    }
  }
  .otherStore{
    .ant-tabs-nav-scroll{display: none;}
  }
}
.addOtherSpaceModal {
  .addForm {
    padding-bottom: 45px;
    .ant-form-item-label {
      text-align: left;
      label:before {
        display: none;
      }
      label:after {
        visibility: hidden;
      }
    }
    .btnBox {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60px;
      border-top: 1px solid #e9e9e9;
      button {
        float: right;
        margin-top: 14px;
        margin-right: 20px;
      }
    }
  }
}