@import '../../../../../../../src/assets/style/site/core.less';
.configPart {
  background-color: white;
  .configStep {
    padding: 18px 25%;
    margin: 0 auto;
    border-bottom: @border-width-base @border-style-base @border-color-base;
  }
  .configWrapper {
    padding: 30px 40px;
    .configTabs {
      margin-bottom: @padding-medium;
      .tabs_item_selected_style {
        background-color: white;
        border-bottom-color: white;
      }
    }
  }
}
