.AlarmDetail {
  padding: 20px;
  .details {
    .ant-card-body {padding:0}
    .title {
      line-height: 45px;padding: 0 20px;
      border-bottom: 1px solid #d9d9d9;
    }
    .baseAttr {padding: 0 20px;line-height: 50px;height: 35px;}
    .keys {display: inline-block;width: 80px;}
  }
  .strategyTable {
    padding: 0 20px;
    .ant-table-thead > tr > th {
        background: white;
        font-weight: 500;
        border-bottom: 1px solid #d9d9d9;
      }
  }
}