#AlarmRecord{
  padding:20px;
  .topRow {
    margin-top: 10px;
    > * {margin-right: 8px;}
    .ant-btn-ghost {background: white;}
    .inputGrop {
      display: inline-block;
      width: 170px;
      position: relative;
      i {
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 14px;
        color: #999;
        cursor: pointer;
      }
    }
  }
  .rightPage {
    float: right;
  }
  .pageBox {
    float: right;
    position: relative;
    top:7px;
    .totalPage {
      line-height: 35px;
      display: inline-block;
      vertical-align: bottom;
      padding: 0 10px;
    }
  }
  .ant-card-body{padding:10px 0 0;}
  // 自定义 table
  .ant-table{border-radius: 6px;}
  .strategyTable {
    padding-bottom: 50px;
    .ant-table-thead > tr > th {
      background: white;
      font-weight: 500;
      border-bottom: 1px solid #d9d9d9;
    }
    .wrapChild{
      .leftName {
        float: left;width: 150px;
        padding-top: 55px;
      }
      .rightList {
        float: left;
        width: 400px;
        margin-left: 80px;
        .lists {
          line-height: 40px;
          clear: both;
          position: relative;
        }
        .lists:before{
          content:'';
          border-top: 1px solid #d9d9d9;
          height: 40px;
          top:20px;
          width:50px;
          position: absolute;
          left:-50px;
          border-left: 1px solid #d9d9d9;
        }
        .lists:nth-child(3):before {
          border-left:0;
        }
        .lists:nth-child(2):after {
          content:'';
          border-top: 1px solid #d9d9d9;
          height: 40px;
          top:20px;
          width:50px;
          position: absolute;
          left:-80px;
        }
        .keys {
          display: inline-block;
          padding: 0 20px;
          float: left;
          .anticon-arrow-up {
            font-size: 14px;
            color: #2CB861;
          }
          .anticon-arrow-down {
            font-size: 14px;
            color: #00A0EA;
          }
        }
        .progress {float: left;width: 200px;}
      }
    }
  }

}