.operationalAuditBox {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 60px;
  #operationalAudit {
    .ant-cascader-menu {
      height: auto !important;
    }
    .bigTitle {
      padding-left: 10px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      border-left: 8px solid #00A1EA;
      cursor: default;
    }
    .operaBox {
      margin-top: 10px;
      .resourceSelect {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        width: 130px;
      }
      .eventSelect,
      .statusSelect {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        width: 130px;
      }
      .namespaceInput {
        float: left;
        margin-top: 10px;
        margin-right: 20px;
        width: 220px;
      }
      .searchBtn {
        float: left;
        margin-top: 10px;
      }
    }
    .dataCard {
      margin-top: 20px;
      .ant-card-body {
        padding: 0 !important;
        padding-left: 20px !important;
      }
      .commonTitle {
        float: left;
        padding-left: 10px;
        height: 50px;
        line-height: 50px;
      }
      .during,
      .event,
      .status {
        width: 80px;
      }
      .time,
      .obj,
      .env,
      .cluster,
      .user {
        width: calc(~"20% - 52px");
      }
      .titleBox {
        width: 100%;
        height: 50px;
      }
      .logDetail{
        height: 60px;
        .commonTitle{
          height: 60px;
          line-height: 60px;
        }
      }
    }
  }
}