.operationalAuditBox{
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 60px;
  #operationalAudit{
    .bigTitle{
      padding-left: 10px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      border-left: 8px solid #00A1EA;
      cursor: default;
    }
    .operaBox{
      margin-top: 20px;
      .resourceSelect{
        width: 130px;
      }
    }
  }
}
