#Setting {
  width: 100%;
  .settingMenu {
    position: fixed;
    width: 140px;
    height: 100%;
    background-color: #FFFFFF;
    border-right: 1px solid #E5E5E5;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 7px #999999;
    }
  }
  .settingContent {
    margin-left: 140px;
    height: auto;
    width: calc(~"100% - 140px");
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 60px;
  }
}