.addselected {
  width: 40px;
  height: 40px;
}
#addselected .st0{fill:#1AA2E7;}

.appcreatemodelselect {
  width: 50px;
  height: 50px;
}
#appcreatemodelselect .st0 { fill: #00A1EA; }
#appcreatemodelselect .st1 { fill: #FFFFFF; }

.applining {
  width: 50px;
  height: 50px;
}
.applining0{fill:none;stroke:url(#XMLID_3_);stroke-miterlimit:10;}
.applining1{fill:none;stroke:url(#XMLID_4_);stroke-miterlimit:10;stroke-dasharray:4.1818,2.0909;}
.applining2{fill:none;stroke:url(#XMLID_5_);stroke-miterlimit:10;}
.applining3{fill:none;stroke:url(#XMLID_6_);stroke-miterlimit:10;stroke-dasharray:4.1818,2.0909;}

.appselected {
  width: 40px;
  height: 40px;
}
#appselected .st0{fill:#1AA2E7;}

.centerselected {
  width: 40px;
  height: 40px;
}
#centerselected .st0{fill:#1AA2E7;}

.cicdselected {
  width: 40px;
  height: 40px;
}
#cicdselected .st0{fill:#1AA2E7;}

.database-selected {
  width: 40px;
  height: 40px;
}
#database-selected .st0{fill:#1AA2E7;}

.homeselected {
  width: 40px;
  height: 40px;
}
#homeselected .st0{fill:#1AA2E7;}

.managemoniterselected {
  width: 40px;
  height: 40px;
}
#managemoniterselected .st0{fill:#1AA2E7;}

.messageselected {
  width: 40px;
  height: 40px;
}
#messageselected .st0{fill:#1AA2E7;}

.settingselected {
  width: 40px;
  height: 40px;
}
#settingselected .st0{fill:#1AA2E7;}

.systemselected {
  width: 40px;
  height: 40px;
}
#systemselected .st0{fill:#1AA2E7;}