.add {
  width: 200px;
  height: 200px;
}
.st0{fill:#b8bcc3;}

.app {
  width: 200px;
  height: 200px;
}
<![CDATA[ @font-face { font-family: ifont; src: url(http://at.alicdn.com/t/font_1442373896_4754455.eot?#iefix) format(embedded-opentype), url(http://at.alicdn.com/t/font_1442373896_4754455.woff) format(woff), url(http://at.alicdn.com/t/font_1442373896_4754455.ttf) format(truetype), url(http://at.alicdn.com/t/font_1442373896_4754455.svg#ifont) format(svg); }
]]>
.appcreatefast {
  width: 200px;
  height: 200px;
}

.appcreatelayout {
  width: 200px;
  height: 200px;
}

.appcreatemodelselect {
  width: 50px;
  height: 50px;
}
.st0 { fill: #00A1EA; }
.st1 { fill: #FFFFFF; }

.applining {
  width: 50px;
  height: 50px;
}
.applining0{fill:none;stroke:url(#XMLID_3_);stroke-miterlimit:10;}
.applining1{fill:none;stroke:url(#XMLID_4_);stroke-miterlimit:10;stroke-dasharray:4.1818,2.0909;}
.applining2{fill:none;stroke:url(#XMLID_5_);stroke-miterlimit:10;}
.applining3{fill:none;stroke:url(#XMLID_6_);stroke-miterlimit:10;stroke-dasharray:4.1818,2.0909;}

.appstore {
  width: 200px;
  height: 200px;
}

.center {
  width: 200px;
  height: 200px;
}
<![CDATA[ @font-face { font-family: ifont; src: url(http://at.alicdn.com/t/font_1442373896_4754455.eot?#iefix) format(embedded-opentype), url(http://at.alicdn.com/t/font_1442373896_4754455.woff) format(woff), url(http://at.alicdn.com/t/font_1442373896_4754455.ttf) format(truetype), url(http://at.alicdn.com/t/font_1442373896_4754455.svg#ifont) format(svg); }
]]>
.database {
  width: 200px;
  height: 200px;
}
.st0{fill:#FFFFFF;}

.home {
  width: 200px;
  height: 200px;
}
<![CDATA[ @font-face { font-family: ifont; src: url(http://at.alicdn.com/t/font_1442373896_4754455.eot?#iefix) format(embedded-opentype), url(http://at.alicdn.com/t/font_1442373896_4754455.woff) format(woff), url(http://at.alicdn.com/t/font_1442373896_4754455.ttf) format(truetype), url(http://at.alicdn.com/t/font_1442373896_4754455.svg#ifont) format(svg); }
]]>
.logo {
  width: 200px;
  height: 200px;
}
.st0{fill:#008BD5;}
.st1{fill:#00AEDC;}

.managemoniter {
  width: 200px;
  height: 200px;
}
.st0{fill:#FFFFFF;}

.message {
  width: 200px;
  height: 200px;
}
.st0{fill:#b8bcc3;}

.setting {
  width: 200px;
  height: 200px;
}
<![CDATA[ @font-face { font-family: ifont; src: url(http://at.alicdn.com/t/font_1442373896_4754455.eot?#iefix) format(embedded-opentype), url(http://at.alicdn.com/t/font_1442373896_4754455.woff) format(woff), url(http://at.alicdn.com/t/font_1442373896_4754455.ttf) format(truetype), url(http://at.alicdn.com/t/font_1442373896_4754455.svg#ifont) format(svg); }
]]>
.step {
  width: 200px;
  height: 200px;
}
.st0{fill:#999999;}

.stepline {
  width: 50px;
  height: 50px;
}
.st0{fill:#999999;}

.system {
  width: 200px;
  height: 200px;
}
.st0{fill:#FFFFFF;}

.terminal {
  width: 200px;
  height: 200px;
}
.st0{fill:#FFFFFF;}

.settingapp {
  width: 20px;
  height: 20px;
}
.st0{fill:#999999;}

.settingbalance {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingcluster {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingcontainer {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingname {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingopt {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingownteam {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingperspace {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingservice {
  width: 20px;
  height: 20px;
}
.st0{fill:#666666;}

.settingteamspace {
  width: 200px;
  height: 200px;
}
.st0{fill:#666666;}

.svg-symbols {
  width: 100px;
  height: 100px;
}

