#logs {
  .topRow {
    margin-top: 20px;
    .search {
      width: 180px;
    }
    .fa-search{margin-left: -20px;font-size: 14px;position: relative;color: #999;cursor: pointer;}
    .totalPage {
      float: right;
      margin-right: 150px;
      padding-top: 8px;
      position: relative;
      top:-17px;
    }
  }
  .myImage{
    margin-top:0;
    clear: both;
  }
  .littleLeft{
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 250px;
    font-size: 15px;
    color: #949494;
    cursor: pointer;
  }
}