.OtherSpace {
  padding-top: 10px;
  padding-bottom: 50px;
  #OtherSpace {
    .ant-card-body {
      padding: 0 !important;
    }
    .privateImage {
      .ant-table {
        font-size: 14px;
      }
      .ant-table-thead{
        display: none;
      }
      .ant-table-tbody > tr > td{
        padding:0;
      }
      .imgurl{padding:0 10px;}
      .ant-table-pagination {
        position: absolute;
        top:10px;right: 10px;
      }
    }
    .ant-alert {
      padding: 14px 24px !important;
      line-height: 20px;
      color: #1a7db6;
      font-size: 14px !important;
      background-color: #d9edf6;
      border: 1px dashed #85d7fd !important;
    }
    .operaBox {
      padding: 24px;
      position: relative;
      .infoBox {
        float: left;
        height: 32px;
        line-height: 32px;
        border: 1px solid #d6d6d6;
        border-right: 0;
        border-radius: 6px;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        .url {
          padding-left: 10px;
          padding-right: 20px;
          float: left;
          border-right: 1px solid #d6d6d6;
        }
        .name {
          padding-left: 10px;
          padding-right: 20px;
          float: left;
        }
      }
      .logout {
        float: left;
        height: 32px;
        line-height: 24px;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      .searchBox {
        float: left;
        position: relative;
        margin-left: 15px;
        width: 170px;
        height: 35px;
        line-height: 35px;
        // padding-right: 28px;
      }
      .fa-search {
        position: absolute;
        right: 5px;
        top: 7px;
        cursor: pointer;
        font-size: 16px;
        color: #999;
      }
    }
    .imageList {
      .imageBox {
        padding: 17.5px 24px;
        float: left;
        width: 113px;
        height: 100px;
        svg {
          width: 65px;
          height: 65px;
          padding: 14px;
          border-radius: 5px;
          box-shadow: 0 0 5px #C2C2C2;
        }
      }
      .contentBox {
        padding-top: 25px;
        float: left;
        width: calc(~"100% - 123px");
        .title {
          // margin-top: 25px;
          line-height: 25px;
          font-size: 16px;
          color: #2db7f5;
          cursor: pointer;
        }
        .type {
          line-height: 25px;
          font-size: 14px;
        }
      }
      // }
    }
  }
}