@activeColor:#2DB7F5;
.imageProject {
  .role {
    border:1px solid @activeColor;
    display: inline-block;
    line-height: 20px;
    border-radius: 5px;
    padding-right: 5px;
    .role-key {
      background: @activeColor;
      display: inline-block;
      padding-left:5px;
      margin-right: 5px;
      color: white;
    }
  }
  .topRow {
    .ant-btn-lg{padding:5px 10px;}
    button{margin-right: 10px;}
    .search {
      width: 180px;
    }
    .fa-search{margin-left: -20px;font-size: 14px;position: relative;color: #999;cursor: pointer;}
    .totalPage {
      float: right;
      margin-right: 150px;
      padding-top: 7px;
    }

  }
  .myImage {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    .ant-table-thead>tr >th{
      font-weight: normal;
      background: white;
      border-bottom: 1px solid #e9e9e9;
    }
    // .ant-table-tbody > tr > td{
    //   padding:0;
    // }
    .action{button{margin-right: 10px}}
    .ant-table-pagination {
      position: absolute;
      top:-55px;right: 0px;
    }
  }
  .management {
    .topRow{
      padding-top: 10px;
      .totalPage {margin-right: 150px;}
    }
    .ant-table-pagination {
      position: absolute;
      top:-5px;right: 0px;
    }
  }
  .topNav {
    .itemName {
      vertical-align: middle;
      line-height: 30px;
      padding-left: 10px;
      font-size: 16px;
      border-left: 5px #00A0E9 solid;
      margin-left: 20px;
      margin-right: 50px;
      font-size: 25px;
    }
  }
  .ant-popover-inner-content {
    padding:0;
  }
  .menu-item{
    line-height: 35px;
    padding:0 20px;
    cursor: pointer;
    &:hover{
      background: #EDF8FE;
    }
    .icon {
      color: @activeColor;
      float: right;
    }
  }
  .menu-item.menu-disabled {
    cursor: not-allowed;
    background: none;
  }
}
.itemCreateFrom {
  .createForm{
    .ant-form-item-label{text-align: left;}
    .ant-form-item-label label:before{display: none;}
    .ant-form-item-label label:after{display: none;}
  }
  .selectIcon {
    margin-left: -20px;
    font-size: 14px;
    position: relative;
    color: #999;
    cursor: pointer;
  }

}