@import "../../../../assets/style/site/core";
.publishImage{
  margin-top: 20px;
  background-color: white;
  border-radius: @border-radius-base;
  padding: 20px;
  .headerBox{
    margin-bottom: 20px;
    position: relative;
    .refreshBtn{
      margin-right: 12px;
    }
    .total{
      position: absolute;
      top: 12px;
      right: 150px;
    }
  }
  .publishImageTable{
    position: relative;
    .ant-pagination{
      position: absolute;
      right: 0;
      top: -60px;
    }
  }
}