.monitor-timepicker {
  margin-bottom: 20px;
  .addChartBtn {
    margin-right: 12px;
  }
  .right-part {
    float: right;
    .type-change-btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .ant-calendar-range-picker {
      border-radius: 0 4px 4px 0;
    }
    .ant-radio-group {
      label:first-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .setting {
      margin-left: 12px;
    }
  }
}