@import "../../../../assets/style/site/core";
.chartTempWrapper{
  display: flex;
  flex-wrap: wrap;
  .chartBody{
    flex: 0 1 32%;
    margin-bottom: 20px;
    .ant-card-body{
      padding: 10px;
    }
    &:not(:nth-of-type(3n + 3)) {
      margin-right: 2%;
    }
  }
  .ant-card-extra{
    font-size: @font-size-medium;
    i:first-of-type{
      margin-right: 12px;
    }
    i{
      cursor: pointer;
    }
    i:hover{
      color: @primary-color;
    }
  }
  .monitorChart{
    @media screen and (max-width: 1366px) {
      height: 220px !important;
    }
    @media (min-width: 1367px) and (max-width: 1600px) {
      height: 260px !important;
    }
  }
}