.vmServiceCreate{
  margin: 20px;
  background-color: white;
  .headerBg{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #646566;
    i{
      width: 4px;
      height: 12px;
      background-color: #1bb4f2;
      margin-right: 10px;
    }
  }
  .ant-collapse-header{
    display: flex;
    align-items: center;
    .arrow{
      display: none !important;
    }
  }
}