.selectPacket{
  .searchInputBox{
    margin-bottom: 20px;
    .searchLabel{
      text-align: right;
      line-height: 32px;
    }
    .uploadBox{
      margin-left: 5px;
    }
  }
  .btnGroup{
    margin-bottom: 20px;
  }
  #selectPacketForm{

    .formLabel{
      text-align: right;
      padding-right: 10px;
    }
    .envHeader{
      padding: 15px;
      background-color: #f1f2f3;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .envBody{
      .envList{
        padding-top: 20px;
        border-left:1px solid #f0f1f2;
        border-right:1px solid #f0f1f2;
        border-bottom:1px solid #f0f1f2;
      }
    }
    .addEnv {
      display: inline-block;
      padding-top: 15px;
      cursor: pointer;
      i {
        margin-right: 5px;
      }
    }
    .tableBox{
      position: relative;
      .ant-pagination{
        position: absolute;
        right: 0;
        top: -46px;
      }
    }
  }

}