#AppTemplate {
  padding: 20px;
  padding-left: 35px;
  transform: none !important;
  #deploy_wrap{padding:0;}
  .leftBody{
    border:1px solid #e9e9e9;
    border-radius: 5px;
    padding-bottom: 50px;
    background: white;
    padding-left: 30px;
  }
  .steps-bar {
    height: 50px;
    // width: 40%;
    // margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
    .ant-steps{width: 50%;margin:0 auto;}
  }
  .confirmList{
    padding: 10px 20px;
    .ant-row{line-height: 40px;}
  }
  .footCard{
    padding:20px;
    border-top: 1px solid #e9e9e9;
    .ant-col-8{
      text-align: center;
    }
  }
  .formright{
    text-align: center;
  }
}