#appTemplate {
  padding:20px;
  .appTemplate {
    .ant-card{overflow: inherit;}
    .ant-card-body{
      padding: 0;
      padding-top: 10px;
    }
    .btnRow{
      height: 50px;
    }
    .ant-spin-container {position: relative;}
    .ant-table{
      overflow: inherit;
      .ant-table-content {overflow: inherit;}
    }
    .ant-table-pagination {
      position: absolute;
      right: 10px;
      top: -70px;
      li{margin-left: 6px;}
    }

  }
}