/**
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 */

/**
 *
 *
 * @author
 * @date 2018-11-01
 */

@import '../../../../../../../../src/assets/style/site/core.less';

.rabbitmq-logs {
  padding-top: @padding-medium;
  background: #fff;
  .stateful-set-logs {
    .name {
      color: #ffc20e;
    }
    .date {
      color: #ff0;
    }
    .content {
      color: #37fc34;
    }
    .noLog {
      margin-left: @padding-large;
    }
  }
}
