//header
#header{
    height: 55px;
    //右侧帮助文档和用户框样式
    .rightBox{
        float: right;
        height: 55px;
        line-height: 55px;
        .docBtn{
            float: left;
            padding: 0px 10px;
            cursor: pointer;
        }
        .userBtn{
            float: left;
            padding: 0px 20px;
            width: auto;
            cursor: pointer;
            i{
                margin-left: 10px;
                font-size: 10px !important;
            }
        }
    }
}
