#secrets-config {
  & > .titleBox > .commonTitle {
    float: left;
    width: 33% !important;
    height: 40px;
    line-height: 40px;
    text-align: left;
  }
  .commonData {
    width: 33% !important;
    position: relative;
    & > span {
      color: initial !important;
      cursor: initial !important;
    }
  }
}
