.wechatPopContent{
  text-align: center;
  padding: 15px 0 10px 0;
  .qrCodeLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .qrCode {
    margin: 0 auto;
  }
  .desc {
    margin-top: 5px;
  }
}