.wrapPart {
  padding: 25px 0;
  .wrapHeader {
    .pageBox {
      margin-right: 150px;
    }
  }
  .wrapTable {
    position: relative;
    .ant-table-pagination {
      position: absolute;
      top: -70px;
      right: 10px;
    }
  }
}