#AdvancedSetting{
  overflow: hidden;
  padding-bottom: 20px;
  .title{
    height:16px;
    line-height: 16px;
    font-size: 16px;
    border-left:6px solid #46b2fa;
    padding-left: 9px;
    margin:20px 0 12px 0;
  }
  .nodes{
    background: #ffffff;
  }
  .content{
    background: #eceff4;
    .contentheader{
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding-left: 25px;
    }
    .contentbody{
      border-top: 1px solid #e5e5e5;
      padding:20px 35px;
      .contentbodytitle{
        margin-bottom: 0;
      }
      .contentbodycontainers{
        padding:20px 5px 0 5px;
        font-size: 14px;
        .switchstyle{
          margin-left: 38px;
        }
      }
      .contentfooter{
        padding: 21px 0 0 126px ;
        .item{
          height: 30px;
          line-height: 30px;
        }
      }
      .nodata{
        text-align: center;
        padding-top: 30px;
      }
    }
  }

  .imageprojectright{
    background: #ffffff;
    margin-top: 20px;
    .radiobox{
      border-bottom: 1px solid #e5e5e5;
      margin-top: -20px;
      padding:0 35px 0 35px;
      height:53px;
    }
    .buttonbox{
      padding:15px 35px 18px 35px;
      .saveButton{
        margin-left: 12px;
      }
    }
  }
}

.AdvancedSettingSwitch{
  .item{
    font-size: 14px;
    line-height:25px;
  }
  .color{
    color:#00A0E9;
  }
}