body,
html {
  overflow: auto;
  background-color: #EFEFEF !important;
}
svg path {
  fill: inherit;
}
.tenx-layout {
  width: 100%;
}
.tenx-layout-header {
  z-index: 100;
  position: fixed;
  padding-left: 60px;
  padding-right: 60px;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px #999999;
}
.tenx-layout-wrapper {
  padding: 0;
  height: 55px !important;
}
.tenx-layout-sider {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 60px;
  min-height: 100%;
}
.tenx-layout-content {
  padding-top: 55px;
  margin-left: 60px;
  display: block;
  width: calc(100% - 60px);
  overflow-x: hidden;
}
.tenx-layout-bjreadcrumb {
  margin: 7px 0 -17px 24px;
}
.tenx-layout-container {
  background: #fff;
  margin: 24px 0 0 24px;
  position: relative;
  overflow: hidden;
}
.tenx-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.error-pages {
  background: #F5F5F5;
  font-size: 100px;
  height: 400px;
}
.error-pages .error-pages .new-error {
  line-height: 320px;
  height: 230px;
  text-align: center;
  letter-spacing: 3px;
  color: #666;
}
.error-pages .error-pages .redirect {
  text-align: center;
  font-size: 18px;
  line-height: normal;
  color: #666;
  font-variant: 700;
  font-family: "Microsoft YaHei", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.ant-tooltip-placement-right {
  opacity: 1 !important;
}
.ant-tooltip-placement-right .ant-tooltip-arrow {
  border-right-color: #00afdd !important;
}
.ant-tooltip-placement-right .ant-tooltip-inner {
  background-color: #00afdd !important;
}
.ant-btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ant-btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.margin {
  margin: 0 5px;
}
.ant-modal-title {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "宋体";
}
