html,
body {
  //  height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background-color: #f8f8f8 !important;
  font-size: 14px;
  min-width: 1024px;
}
#root {
  height: 100%;
  width: 100%;
}
svg path {
  fill: inherit;
}
.tenx-layout {
  height: 100%;
  width: 100%;
}
//header
.tenx-layout-header {
  z-index: 100;
  position: fixed;
  padding-left: 60px;
  padding-right: 60px;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px #ddd;
}
.tenx-layout-wrapper {
  padding: 0;
  height: 55px !important;
}
//sider
.tenx-layout-sider {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 60px;
  min-height: 100%;
}
.tenx-layout-content {
  padding-top: 55px;
  margin-left: 60px;
  display: block;
  width: calc(~"100% - 60px");
  overflow-x: hidden;
}
.tenx-layout-bjreadcrumb {
  margin: 7px 0 -17px 24px;
}
.tenx-layout-container {
  background: #fff;
  margin: 24px 0 0 24px;
  position: relative;
  overflow: hidden;
}
.tenx-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.error-pages {
  background: #F5F5F5;
  font-size: 100px;
  height: 400px;
  .error-pages .new-error {
    line-height: 320px;
    height: 230px;
    text-align: center;
    letter-spacing: 3px;
    color: #666;
  }
  .error-pages .redirect {
    text-align: center;
    font-size: 18px;
    line-height: normal;
    color: #666;
    font-variant: 700;
    font-family: "Microsoft YaHei","Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  }
}
.ant-btn {
  font-weight: normal !important;
}
.ant-btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ant-btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.margin {
  margin: 0 5px;
}
//modal's cover
.ant-modal-wrap {
  width: 100%;
  overflow-x: hidden !important;
}
.ant-modal-title {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "宋体";
}
//   modal 垂直居中
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-modal {
    top: 0;
  }
}
.ant-dropdown-menu-item>span {
  display: block;
  padding: 7px 15px;
  margin: -7px -15px;
}
//loading box
.loadingBox {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
// text overflow
.textoverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
}
//终端弹出框
.TerminalLayoutModal {
  position: absolute !important;
  padding-bottom: 0 !important;
  width: 100% !important;
  height: 500px !important;
  top: auto !important;
  bottom: 0 !important;
  .ant-modal-header,
  .ant-modal-footer,
  .ant-modal-close {
    display: none !important;
  }

  .ant-modal-content {
    height: 100%;
    border-radius: 0 !important;
  }
  .ant-modal-body {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100%;
  }
}
.paginationBox {
  margin-top: 25px;
  text-align: center;
}
.inlineBlock {
  display: inline-block;
}
#NotFoundErrorPageBox {
  position: fixed;
  width: calc(~"100% - 60px");
  height: calc(~"100% - 55px");
  left: 60px;
  top: 55px;
  .NotFoundErrorPage {
    position: absolute;
    left: -2px;
    width: calc(~"100% + 4px");
    height: calc(~"100% + 2px");
  }
}
.ant-modal-header {
  background-color: #333333 !important;
  color: #fff !important;
}