.chartBox{
  position: relative;
  .freshTime, .chartSwitch{
    position: absolute;
  }
  .freshTime{
    left: 25px;
    top: 30px;
  }
  .chartSwitch{
    z-index: 10;
    top: 2px;
    right: 45px;
  }
}