.commonSearchInputWrapper{
  position: relative;
  .ant-input-group-addon {
    background:#fff;
    .ant-select-selection {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .searchIcon{
    right: 10px;
    z-index: 10;
  }
}