.commonSearchInputWrapper{
  position: relative;
  .ant-input-group-addon {
    background:#fff;
    .ant-select-selection {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .searchIcon{
    right: 8px!important;
    z-index: 10;
    padding: 0 3px;
    font-size: 15px;
    color: #999;
    background: #ffffff;
  }
}
