#assistConfigureService {
  padding-top: 38px;
  .tips {
    color: #ccc;
    font-size: 12px;
  }
  .args {
    // padding-bottom: 5px;
    &>div {
      margin-bottom: 5px;
    }
    .argsList {
      .ant-form-item {
        margin-bottom: 10px;
      }
      .addArgs {
        margin-bottom: 10px;
        span {
          cursor: pointer;
          i {
            margin-right: 5px;
          }
        }
      }
      .deleteArgs {
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}