#quickCreateAppConfigureService {
  padding-top: 15px;
  .ant-form-item-required {
    &:before {
      display: none;
    }
  }
  .ant-form-item-label {
    text-align: left;
    label {
      font-size: 14px;
      &:after {
        display: none;
      }
    }
  }
  .ant-form-item-control {
    .ant-select-lg {
      width: 100%;
    }
    .ant-select-lg .ant-select-selection--single .ant-select-selection__rendered {
      line-height: 30px;
      height: 30px;
    }
  }
  .ant-collapse {
    background-color: inherit !important;
    border: 0 !important;
    .ant-collapse-item {
      border: 0 !important;
    }
    .ant-collapse-header {
      position: relative;
      padding: 0 !important;
      i {
        position: absolute;
        margin-left: 95%;
        font-size: 20px;
      }
      i:before {
        content: "\e601" !important;
      }
    }
    .ant-collapse-header[aria-expanded="true"] .arrow {
      transform: scale(0.58333333) rotate(90deg) !important;
    }
    .ant-collapse-content {
      clear: both;
      padding: 0;
    }
  }
  .headerBox {
    &:hover {
      background-color: #F5F5F5;
    }
    .header {
      height: 40px;
      line-height: 37px;
      border-bottom: 1px solid #e5e5e5;
      .left {
        position: relative;
        clear: both;
        .line {
          margin-top: 8px;
          float: left;
          width: 5px;
          height: 20px;
          border-left: 5px solid #00a1ea;
        }
        .title {
          padding-left: 10px;
          width: 100px;
          font-size: 16px;
        }
      }
      .desc {
        padding-top: 2px;
        font-size: 12px;
      }
    }
  }
  .lastFormItem {
    margin-bottom: 0;
  }
}