#quickCreateAppConfigureService {
  padding-top: 15px;
  .ant-form-item-required {
    &:before {
      display: none;
    }
  }
  .ant-form-item-label {
    text-align: left;
    label {
      font-size: 14px;
      &:after {
        display: none;
      }
    }
  }
  .ant-form-item-control {
    .ant-select-lg {
      width: 100%;
    }
    .ant-select-lg .ant-select-selection--single .ant-select-selection__rendered {
      line-height: 30px;
      height: 30px;
    }
  }
}