#logCollection{
  padding-top: 38px;
  .sourceType{
    margin-bottom: 8px;
  }
  .logCollectionConfig{
    .ant-form-explain{
      min-width: 200px;
    }
    .standard{
      position: relative;
      min-width: 200px;
    }
    .switchStandard{
      position: relative;
    }
    .questionIcon{
      position: absolute;
      top:11px;
      right:-20px;
      cursor: pointer;
      @media(max-width:1350px){
        left: 210px;
        right: 0;
      }
    }
    .switchTips{
      position: absolute;
      top:2px;
      left:50px;
      width:300px;
    }
  }
}