@import "../../../../../assets/style/site/core.less";

.serviceMesh {
  .infoText {
    color: @font-color-4;
    // padding-left: @padding-small;
    > span {
      padding-left: 4px;
    color: @font-color-4;
    }
  }
}