@import '../../../../../src/assets/style/site/core.less';
.ApprovalOperation {
  &.result-wrap {
    float: left;
    padding-left: 4px;
    display: inline-block;
    height: 32px;
    span {
      display: inline-block;
      height: 32px;
      line-height: 32px;
    }
    .result {
      padding-left: @padding-base;
      color: @primary-color;
    }
  }
  .ant-table {
    border: none;
    .ant-table-body {
    }
  }
  .appiyLimitNum {
    color: @primary-color;
    font-size: 15px;
    padding-left: @padding-base;
  }
  .allApprovalIcon {
    font-size: 16px;
    padding: 0 6px;
  }
  .allPassIcon {
    font-size: 16px;
    color: green;
    font-weight: normal;
  }
  .notAllPassIcon {
    font-size: 16px;
    font-weight: normal;
    &:hover {
      color:green;
    }
  }
  .allRefuseIcon {
    font-size: 16px;
    font-weight: normal;
    color: red;

  }
  .notallRefuseIcon {
    font-weight: normal;
    font-size: 16px;
    &:hover {
      color: red;
    }
  }
  .iconItemWrap{
    padding-left: 32px;
  }
  .alertTips {
    color: #ccc;
    padding-left: @padding-large;
    font-size: 10px;
  }
}
