@import "../../../../assets/style/site/core.less";
#svnBox{
  line-height: 100px;
  padding: 0 0 16px 140px;
}
.svnModal{
  .tip {
    margin-left: 30px;
    color: @font-color-3;
  }
  .ant-row{
    &>.ant-col-3{
      width: 16.66666667%;
    }
  }
}
