#cluster__labelmanage{
  overflow: hidden;
  padding:23px 31px;
  background: #ffffff;
  .labelmanage__title{
    overflow: hidden;
    padding:0 150px 8px 0;
    line-height: 32px;
    .titlebutton{
      float: left;
      margin-right: 12px;
    }
    .titlesearch{
      position: relative;
      float: left;
      #titleInput{
        width:260px;
      }
      .titleicon{
        position:absolute;
        top: 11px;
        right:12px;
        cursor: pointer;
      }
    }
    .titlenum{
      float:right;
      font-size: 14px;
    }
  }
  .labelmanage__content{
    position: relative;
    padding-bottom: 25px;
    .ant-table-thead{
      tr{
        th{
          background: #ffffff;
          border-bottom: 1px solid #e5e5e5;
          font-weight: normal;
          font-size: 14px;
        }
      }
    }
    .ant-table-tbody{
      tr{
        height: 70px;
        td{
          font-size: 14px;
        }
      }
    }
    .ant-pagination{
      position: absolute;
      top:-50px;
      right:0;
    }
    .binditem{
      color: #00A0E9;
      .itemspan{
        margin-left: 3px ;
      }
    }
    .handle{
      .systemmessage{
        font-size: 12px;
      }
      .editbutton{
        margin-right: 11px;
      }
    }
    .handleicon{
      margin-right: 3px;
    }
  }
}
.labelManageModal{
  .labelManageForm{
    .formlabelkey,
    .formlabelvalue{
      float: left;
      padding-right: 20px;
      width:220px;
      .top{
        height:35px;
        line-height: 35px;
        font-size: 14px;
      }
    }
    .foredelteicon{
      float: left;
      background: white;
      border:1px dashed;
      border-radius: 3px;
    }
  }
}