@import "../../../assets/style/site/core.less";
.clusterTabListBox {
  #clusterTabList{
    padding-bottom: 20px;
    .ant-tabs-bar{
      border-bottom: none;
      background: #ecf0f4;
      .ant-tabs-nav-container{
        border-bottom: none;
      }
    }
    .tablepanediv{
      height:40px;
      position: relative;
      .size{
        position: absolute;
        top: 13px;
        left: 30px;
        width: 14px;
        line-height: 14px;
        height: 14px;
        fill:#666;
      }
      .pluginSize{
        width: 15px;
      }
      .tablepanespan{
      }
    }
    .ant-tabs-bar:hover{
      box-shadow: none;
    }
    .ant-tabs-tab-active{
      background: #ffffff !important;
      border:1px solid #d7d8da !important;
      border-right:0 !important;
      .select{
        fill: @primary-color;
      }
    }
    .tablepanediv:hover{
      .hover{
        fill: @primary-color;
      }
    }
    .tablepanespan{
      margin-left: 6px;
    }
    .ant-tabs-nav{
      margin: 0 auto;
      //width: 841px !important;
      display: flex;
      width: 100% !important;
      justify-content: center;
      float:none;
      .ant-tabs-ink-bar{
        width: 0 !important;
      }
      .ant-tabs-tab{
        border:1px solid #d9d9d9;
        background: #ffffff;
        width: 140px;;
        padding-right: 31px;
        border-right:none;
      }
      .ant-tabs-tab:nth-of-type(2){
        border-radius: 4px 0 0 4px;
      }
      .ant-tabs-tab:nth-last-of-type(1){
        border-radius: 0 4px 4px 0;
        border-right: 1px solid #d9d9d9 !important;
        border-left: 1px solid #d9d9d9;
      }
      .ant-tabs-tab-inner{
        width: 140px;
      }
    }
  }
}
.deleteClusterNodeModal, .deleteClusterModal {
  color: red;
}
