
.setLimit{
  display:inline-block;
  margin-right:25px;
}
.recovery{
  display:block;
  float:right;
}


.openUrl{
  height: 15px;
  vertical-align: middle;
  margin-right: 6px;
}
.pluginAction{
  .button{
    margin-right: 15px;
    width: 80px;
    display: inline-block;
  }
}