.clusterTabListBox {
  .ClusterListCard {
    margin-bottom: 20px;
    .operaBox {
      .addPodBtn {
        margin-right: 15px;
      }
      .terminalBtn {
        position: relative;
        margin-right: 15px;
        padding-left: 35px;
        &:hover {
          use {
            fill: #2db7f5;
          }
        }
        svg {
          position: absolute;
          top: 8px;
          left: 15px;
          width: 15px;
          height: 13px;
          use {
            fill: #666;
            -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
      .refreshBtn {
        margin-right: 15px;
      }
      .searchBox {
        position: relative;
        .searchInput {
          width: 183px;
        }
        .fa {
          z-index: 10;
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 15px;
          color: #949494;
          cursor: pointer;
        }
      }
    }
    .dataBox {
      .commonTitle {
        float: left;
        height: 40px;
        line-height: 40px;
      }
      .name {
        width: 10%;
        padding-left: 10px;
      }
      .address {
        width: 8%;
      }
      .status {
        width: calc(~"10% - 10px");
      }
      .role {
        width: 10%;
      }
      .container {
        width: 6%;
      }
      .cpu,
      .memory,
      .disk {
        position: relative;
        width: 6%;
        .topSpan {
          position: absolute;
          top: 10px;
          line-height: 14px;
        }
        .bottomSpan {
          position: absolute;
          bottom: 10px;
          line-height: 14px;
        }
      }
      .schedule {
        position: relative;
        width: 8%;
        .switchBox {
          position: absolute;
          top: 10px;
        }
        .scheduleSpan {
          position: absolute;
          bottom: 10px;
          line-height: 14px;
        }
      }
      .runningTime {
        width: 6%;
      }
      .startTime {
        width: 10%;
      }
      .opera {
        padding-left: 10px;
        width: 14%
      }
      .alarm {
        width: 6%;
        .managemoniter {
          width: 18px;height: 18px;
          fill: #C7CBCE;
          margin:0 5px;
          cursor: pointer;
          vertical-align: middle;
        }
        i {
          font-size: 16px;
          cursor: pointer;
          color: #C7CBCE;
          line-height: 2;
          transition: all 0.2s ease-in-out;
          vertical-align: middle;
          &:hover {
            color: #10B5FF;
            transform: rotate(40deg);
            -webkit-transform: rotate(40deg);
            -moz-transform: rotate(40deg);
            -o-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
          }
        }
      }
      .runningSpan {
        color: #33b867;
      }
      .errorSpan {
        color: #f23e3f;
      }
      .titleBox {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        &::after {
          content: '';
          display: block;
          clear: both;
          height: 0;
          visibility: hidden;
        }
      }
      .podDetail {
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #d9d9d9;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        &::after {
          content: '';
          display: block;
          clear: both;
          height: 0;
          visibility: hidden;
        }
        &:hover {
          background-color: #F2F2F2;
        }
        .commonTitle {
          height: 60px;
          line-height: 60px;
        }
        .name,
        .role,
        .address,
        .runningTime,
        .startTime {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .ant-btn-ghost:first-child {
          position: relative;
          // padding-left: 33px;
          &:hover {
            use {
              fill: #2db7f5;
            }
          }
          svg {
            position: absolute;
            top: 7px;
            left: 15px;
            width: 15px;
            height: 13px;
            use {
              fill: #666;
              -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
        }
      }
    }
  }
}
.deleteClusterNodeModal, .deleteClusterModal {
  color: red;
}