
.setLimit{
  display:inline-block;
  margin-right:25px;
}
.recovery{
  display:block;
  float:right;
}


.openUrl{
  height: 15px;
  vertical-align: middle;
  margin-right: 6px;
}
.pluginAction{
  .button{ 
    width: 80px;
  }
}
.Settingplugin {
  
}
@media screen and (min-width:1110px){
  .Settingplugina {
    display:block;
  }
  .Settingpluginb {
    display:none;
  }
}
@media screen and (max-width:1110px){
  .Settingplugina {
    display:none;
  }
  .Settingpluginb {
    display:block;
  }
}