/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * ContainerSecurityPolicy.less page
 *
 * @author zhangtao
 * @date Thursday November 8th 2018
 */
@import "../../../assets/style/site/core.less";
.containerSecurityPolicy {
  margin-bottom: @padding-medium;
  .title {
    font-size: 12px;
    font-weight: normal;
  }
  .content {
    img {
      margin-top: 30px;
      width: 66px;
      margin-left: 30px;
    }
  }
  .ant-table-thead > tr:first-child > th {
    // background-color: white;
    border-bottom: 1px solid @border-color-split;
    font-weight: normal;
  }
  .ant-table-tbody > tr:last-child > td {
    // background-color: white;
    border-bottom: none;
    font-weight: normal;
  }
  .Table {
    margin-top: @padding-medium;
    border: 1px solid  @border-color-base;
  }
  .buttons {
    .delete {
      margin-left: @padding-medium;
      &:hover,&:focus {
        color:  @error-color;
        border-color: @error-color;
      }
    }
  }
  .annotation {
    color: @primary-color;
    cursor:pointer;
    &:hover {
      color:  @primary-color-hover;
    }
  }
  .sysNoDelete {
    padding-left: @padding-small;
    font-size: 14px;
    color:  @font-color-3;
    i {
      padding-right: 4px;
    }
  }
}