#networksolutions{
  background: #ffffff;
  padding: 30px;
  overflow: hidden;
  .header{
    height: 16px;
    line-height: 16px;
    border-left: 6px solid #46b3f6;
    padding-left: 9px;
    font-size: 16px;
  }
  .body{
    .title{
      font-size: 14px;
    }
    .standard{
      height:61px;
      line-height: 60px;
      border-bottom: 1px solid #e5e5e5;
      padding:0 14px 0 14px;
      .item_header{
        color: #a1a1a1;
      }
      .title{
        text-transform: capitalize;
      }
      .tips{
        color: #68b863;
        margin-left: 30px;
        .check_icon{
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }
    .open_permission{
      cursor: pointer;
      color: #57c5f7;
      margin-left: 12px;
    }
  }
  .footer{
    .standard{
      padding-top: 20px;
      .title{
        width: 63px;
        height:20px;
        line-height: 20px;
        text-align: center;
        background: #333333;
        color:#ffffff;
        border-left:4px solid #2fb6f6;
        margin-bottom: 12px;
        border-radius: 2px;
      }
      .item{
        .pointer{
          font-size: 3px;
          margin-right: 8px;
          color: #2fb6f6;
        }
      }
      .seconditem{
        margin-top:7px;
      }
    }
  }
}

.set_permission_modal{
  z-index: 1010;
  .info_box{
    background: #fffbf5;
    border:1px dashed #ffdb9f;
    border-radius: 4px;
    padding: 12px 12px 12px 50px;
    position: relative;
    .warning_icon{
      color: #febf00;
      font-size: 20px;
      position: absolute;
      top:20px;
      left: 20px;
    }
  }
  .info_box_close{
    background: #fffbf5;
    border:1px dashed #ffdb9f;
    border-radius: 4px;
    padding: 12px 12px 12px 50px;
    position: relative;
    .warning_icon{
      color: #febf00;
      font-size: 20px;
      position: absolute;
      top: 11px;
      left: 20px;
    }
  }
  .help_button{
    color: #2fb6f6;
    cursor: pointer;
    margin:0 3px;
  }
}

.help_modal{
  .height{
    height: 460px;
  }
  .open_area{
    position: relative;
  }
  .tips_area{
    font-size: 14px;
  }
  .create_area{
    height:150px;
    overflow-y: scroll;
   
  }
  .copy_icon{
    position: absolute;
    top: 15px;
    right: 20px;
    margin-left: 8px;
    z-index:9999999999;
  }
  .tips{
    line-height: 24px;
  }
  .tabs_area{
    font-size: 14px;
    margin-top: 15px;
  }
  .order{
    margin: 20px 0;
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 15px 20px;
    word-break: keep-all;
    color: #3d6cb4;
    background-color: #F8F8F8;
    overflow: auto;
    border: 0;
    border-radius: 5px;
    font-family: Consolas,Menlo,Courier,monospace;
  }
}