#Cluster{
  #Network{
    .clusterTable{
    .inner-mesh{
      width:100%;
      min-height:198px;
      border:1px dashed #cbcbcb;
      padding:15px;
      border-radius:10px;
      .increase{
        margin: 15px 0px;
        color: #2db7f5;
        cursor: pointer;
      }
    }
    .imgboxa{
      width:100%;
      padding:0px 10px;
      margin-top:80px;
    }
    .extranet{
      width:90%;
      border:1px dashed #cbcbcb;
      padding:15px;
      border-radius:10px;
      background:#fafbfd;
      .sketchMap{
        font-size:14px;
        color:#57c5f7;
        cursor:pointer;
        width:40%;
        text-align:right;
      }
     }
    }
  }
}