#networksolutions{
  background: #ffffff;
  padding: 30px;
  overflow: hidden;
  .header{
    height: 16px;
    line-height: 16px;
    border-left: 6px solid #46b3f6;
    padding-left: 9px;
    font-size: 16px;
  }
  .body{
    .title{
      font-size: 14px;
    }
    .standard{
      height:61px;
      line-height: 60px;
      border-bottom: 1px solid #e5e5e5;
      padding:0 14px 0 14px;
      .item{
        float: left;
        .title{
          text-transform: capitalize;
        }
        .tips{
          background: #ecf9f2;
          padding:10px 12px;
          color: #478e64;
          border:1px solid #d0efdf;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          margin-left: 30px;
        }
      }
      .firstitem{
        width: 660px;
      }
    }
  }
  .footer{
    .standard{
      padding-top: 20px;
      .title{
        width: 63px;
        height:20px;
        line-height: 20px;
        text-align: center;
        background: #333333;
        color:#ffffff;
        border-left:4px solid #2fb6f6;
        margin-bottom: 12px;
        border-radius: 2px;
      }
      .item{
        .pointer{
          font-size: 3px;
          margin-right: 8px;
          color: #2fb6f6;
        }
      }
      .seconditem{
        margin-top:7px;
      }
    }
  }
}