#networksolutions{
  background: #ffffff;
  padding: 30px;
  overflow: hidden;
  .header{
    height: 16px;
    line-height: 16px;
    border-left: 6px solid #46b3f6;
    padding-left: 9px;
    font-size: 16px;
  }
  .body{
    .title{
      font-size: 14px;
    }
    .standard{
      height:61px;
      line-height: 60px;
      border-bottom: 1px solid #e5e5e5;
      padding:0 14px 0 14px;
      .item_header{
        color: #a1a1a1;
      }
      .title{
        text-transform: capitalize;
      }
      .tips{
        color: #68b863;
        margin-left: 30px;
        .check_icon{
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }
    .open_permission{
      cursor: pointer;
      color: #57c5f7;
    }
  }
  .footer{
    .standard{
      padding-top: 20px;
      .title{
        width: 63px;
        height:20px;
        line-height: 20px;
        text-align: center;
        background: #333333;
        color:#ffffff;
        border-left:4px solid #2fb6f6;
        margin-bottom: 12px;
        border-radius: 2px;
      }
      .item{
        .pointer{
          font-size: 3px;
          margin-right: 8px;
          color: #2fb6f6;
        }
      }
      .seconditem{
        margin-top:7px;
      }
    }
  }
}

.set_permission_modal{
  .info_box{
    background: #fffbf5;
    border:1px dashed #ffdb9f;
    border-radius: 4px;
    padding: 12px 12px 12px 50px;
    position: relative;
    .warning_icon{
      color: #febf00;
      font-size: 20px;
      position: absolute;
      top:20px;
      left: 20px;
    }
  }
  .info_box_close{
    background: #fffbf5;
    border:1px dashed #ffdb9f;
    border-radius: 4px;
    padding: 12px 12px 12px 50px;
    position: relative;
    .warning_icon{
      color: #febf00;
      font-size: 20px;
      position: absolute;
      top: 11px;
      left: 20px;
    }
  }
}