
@import "../../../assets/style/site/core.less";
.ServiceMeshPortCard {
  .operationBar {
    padding: 0 0 @padding-small 0;
    button {
      margin-right: @padding-small;
    }
  }
  .NoteIcon {
    @height: 35px;
    @width: 40px;
    @color: #2ABE84;
    width: @width;
    border-top: 1px dashed @color;
    overflow: hidden;
    position: relative;
    margin-left: @padding-small;
    .parallelogram {
      float: left;
      width: 50%;
      height: @height;
      transform: skew(0, 20deg) translate(0, -10px);
      border-right:  1px dashed @color;
      border-bottom:  1px dashed @color;
    }
    .parallelogram1 {
      float: left;
      width: 50%;
      height: @height;
      transform: skew(0, -20deg) translate(0, -10px);
      border-left:  1px dashed @color;
      border-bottom:  1px dashed @color;
    }
    .title {
    color: @color;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    padding-left: 6px;
    }
  }
  .BottomButton{
    height: 50px;
    background-color: @backgroud-color-body;
    overflow: hidden;
    position: relative;
    cursor:pointer;
    > div {
      height: 100%;
      width: 50%;
      line-height: 60px;
      text-align: center;
      float: left;
      user-select: none;
      &:hover {
        background-color: white;
      }
    }
    .inter {
      position: absolute;
      left: 50%;
      top: 30%;
      height: 20px;
      width: 1px;
      background-color: @font-color-4;
    }
  }
  .ServicePortCar {
    position: relative;
    border: 1px solid @border-color-split;
    margin-right: @padding-small;
    margin-bottom: @padding-small;
    border-radius: 6px;
    float: left;
    width: 48%;
  }
}

.SetDefaultPort {
  .ant-alert{
    height: 50px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}
.FormInner {
  .innerSpan {
    padding: 0 4px;
  }
  .ant-form-item-label{
    label::after {
      content: ' '
    }
  }
}
.DeleteMeshForm {
  .info {
    color: @primary-color;
  }
}