#cluster__TagDropDown__Component{
  .menu{
    width: 170px;
  }
  .notag{
    padding-left: 60px;
  }
  .nofooter{
    display: none;
  }
  .selectMenutitle{
    background: #eeeeee;
    padding: 0 16px;
    border-bottom: 1px solid #e5e5e5;
  }
  .ant-menu-item-divider {
    display: none;
  }
  .tagkeywidth{
    width: 167px;

  }
  .ant-menu-sub{
    left:104%;
  }
  .ant-menu-submenu-selected {
    .tagvaluewidth {
      .select {display: inline-block;}
    }
  }
  .tagvaluewidth{
    width: 187px;
    padding: 0 16px;
    .name{
      float: left;
      width: 85px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .num{
      float: left;
      width: 45px;
      padding-right: 10px;
      text-align: right;
    }
    .select{
      float: left;
      text-align: right;
      display: none;
    }
  }
  .ant-menu-submenu-title{
    padding:0 29px 0 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.manageLabelModal{
  .title{
    margin:10px 0;
    height:21px;
    font-size: 14px;
    .labelkey{
      float: left;
      display: inline-block;
      width:220px;
    }
    .labelvalue{
      float: left;
      display: inline-block;
      width:230px;
    }
    .handle{
      float: left;
    }
  }
  .body{
    font-size: 14px;
    clear: both;
    .formRow{height: 55px;}
    .inputlabelkey{
      width:210px
    }
    .inputlabelvalue{
      width:220px
    }
    .inputhandle{
      border:1px dashed #cdcdcd;
      padding:7px;
      cursor: pointer;
      border-radius: 3px;
    }
    .inputhandle:hover{
      border-color: #00A0E9;
      color: #00A0E9;
    }
    .width{
      width:200px;
    }
  }
  .footer{
    font-size: 14px;
    padding:10px 0;
    width: 130px;
    display: inline-block;
    cursor: pointer;
  }
  .footer:hover{
    color: #00A0E9;
  }
  .labelcontainer{
    width:537px;
    min-height: 105px;
    padding: 12px;
    border:1px dashed #90dafd;
    margin-bottom: 20px;
    //height:105px;
    //overflow: scroll;
  }
  .labelfooter{
    .labeldropdown{
      float: left;
      .selectMenu{
        width: 170px;
        .selectMenutitle{
          padding:0;
          height: 32px;
          line-height: 32px;
          padding-left: 12px;
          background: #eeeeee;
        }
        .selectMenuSecond{
          width: 190px;
          height: 32px;
          line-height:32px;
          padding-top: 0;
          .name{
            float: left;
            height:32px;
            width: 90px;
            padding: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .num{
            float: left;
            height:32px;
            width:55px;
            padding:0 9px 0 0;
            text-align: right;
          }
          .select{
            float: left;
            height:32px;
            text-align: right;
            display: inline-block;
          }
        }
      }
    }
    .item{
      font-size: 14px;
      padding:0 14px;
      float: left;
      line-height: 32px;
    }
    .labelform{
      width: 286px;
      float: left;
      .itemkey{
        width: 132px;;
      }
    }
    .itembutton{
      color: #00a0ea;
      border:1px solid #00a0ea;
    }
  }
}