#tenantManage {
  color: #000;
  margin: 30px;
  .title {
    height: 18px;
    margin-bottom: 22px;
    border-left: 8px solid #24a7eb;
    font-size: 16px;
    padding-left: 8px
  }
  .content {
    color: #666;
    margin-bottom: 20px;
    .ant-card-body {
      padding: 0;
    }
  }
}