@import "../../../../assets/style/site/core";
.uploadModal {
  .ant-alert {
    padding: 10px 20px;
    color:  @primary-color;
    background: #e5f2fa;
    border: 1px dashed  @primary-color;
    border-radius: 4px;
  }
}