#TeamManage {
  .ant-alert {
    color: #187cb7;
    font-size: 13px;
    line-height: 26px;
    border: 1px dashed #88d8fd;
    margin-bottom: 26px;
  }
  .teamOption {
    .plusBtn {
      font-weight: normal;
      background-color: #00a0ea;
      height: 36px;
      margin-right: 12px;
      border-radius: 3px;
    }
    .viewBtn {
      font-weight: normal;
      height: 36px;
      color: #1dabed;
      border-color: #1dabed;
      border-radius: 3px;
    }
  }
  .teamList {
    margin-bottom: 26px;
    .ant-card-body {
      padding: 0;
      .ant-table {
        .addBtn {
          font-weight: normal;
          background-color: #fff;
          width: 100px;
          margin-right: 12px;
          border-radius: 3px;
          &:hover {
            background-color: #00a1ea;
            color: #fff;
          }
        }
        .delBtn {
          font-weight: normal;
          background-color: #fff;
          border-radius: 3px;
          &:hover {
            background-color: #f75b59;
            color: #fff;
            border-color: #f75b59;
          }
        }
        .teamName {
          padding-left: 24px;
        }
      }
      .ant-table-pagination {
        margin: 16px 46px;
      }
    }
  }
}