@import "../../../../../assets/style/site/core.less";
.createTomcatWrapper{
  .ant-form-item-label{
    text-align: left;
  }
  .portBtn{
    margin-top: 10px;
  }
}
.textRight.createTomcatWrapper{
  .ant-form-item-label{
    text-align: right;
  }
}