@import '../../../../../../../../src/assets/style/site/core';
.wrapPart {
  padding: 25px 0;
  .wrapHeader {
    .pageBox {
      margin-right: 150px;
    }
  }
  .wrapTable {
    position: relative;
    border: 1px solid @border-color-base;
    border-bottom: none;
    .ant-table-pagination {
      position: absolute;
      top: -70px;
      right: 10px;
    }
  }
}