@import '../../../../../../../../src/assets/style/site/core';
.wrapPart {
  padding: 0 0 @padding-medium;
  .wrapTable {
    position: relative;
    border: 1px solid @border-color-base;
    border-bottom: none;
    .ant-table-pagination {
      position: absolute;
      top: -70px;
      right: 10px;
    }
  }
}
