/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * index.less page
 *
 * @author zhangtao
 * @date Friday June 15th 2018
 */
@import "../../../../../src/assets/style/site/core.less";

.ApprovalLimit {
  background-color: transparent !important;
  .header {
    font-size: 0;
    padding-bottom: @padding-base;
    & > * {
      margin: 0 @padding-base @padding-base 0;
    }
  }
  .ApprovalMessage {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: @font-size-base;
    color: @primary-color;
    margin-left: @padding-base;
    span:last-child {
      margin-left: @padding-base;
    }
  }
  .livingIcon {
    &:hover {
      cursor: pointer;
      color: @primary-color;
    }
  }
  .cancelApprovalIcon {
    padding: @padding-base;
  }
  .ant-table-thead {
    tr {
      th {
        background-color: white;
      }
    }
  }
  @iconHeight: 18px;
  .iconallAgree {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allAgree.svg') no-repeat;
    }
  }
  .iconPartAgree {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/partAgree.svg') no-repeat;
    }
  }
  .iconWaitApproval {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/waitApproval.svg') no-repeat;
    }
  }
  .iconallRefuse {
    display: flex;

    .iconText {
      width: 50px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background-color: #cdcdcd;
      border-radius: @iconHeight / 2;
      // background: transparent url('../../../../assets/img/TenantManage/waitApproval.svg') no-repeat;
    }
  }
}
