/*
 * Licensed Materials - Property of tenxcloud.com
 * (C) Copyright 2018 TenxCloud. All Rights Reserved.
 * ----
 * index.less page
 *
 * @author zhangtao
 * @date Friday June 15th 2018
 */
@import "../../../../../src/assets/style/site/core.less";

.ApprovalLimit {
  background-color: transparent !important;
  .header {
    font-size: 0;
    padding-bottom: @padding-base;
    & > * {
      margin: 0 12px @padding-base 0;
    }
  }
  .ApprovalMessage {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: @font-size-base;
    color: @primary-color;
    margin-left: @padding-base;
    span:last-child {
      margin-left: @padding-base;
    }
  }
  .livingIcon {
    &:hover {
      cursor: pointer;
      color: @primary-color;
    }
  }
  .cancelApprovalIcon {
    padding: @padding-base;
  }
  .ant-table-thead {
    tr {
      th {
        background-color: white;
      }
    }
  }
  @iconHeight: 18px;
  .iconallAgree {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allAgree.svg') no-repeat;
    }
  }
  .iconPartAgree {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/partAgree.svg') no-repeat;
    }
  }
  .iconWaitApproval {
    display: flex;

    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/waitApprovalye.svg') no-repeat;
    }
  }
  .iconallRefuse {
    display: flex;
    .iconText {
      width: 58px;
      padding-left: 8px;
    }
    .icon {
      display: inline-block;
      height: @iconHeight;
      width: @iconHeight;
      background: transparent url('../../../../assets/img/TenantManage/allRefuse.svg') no-repeat;
    }
  }
  .ant-table-body {
    tbody {
      tr:nth-child(1) {
        td {
          border-top: 1px solid #e9e9e9;
        }
      }
    }
    thead {
      th {
        color: #7f7f7f;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
  .secondHeader {
    position: relative;
    .paginationWrap {
      margin: 0;
      position: absolute;
      right: 0;
      display: inline-block;
      width: 200px;
      .paginationtotal {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: @font-size-base;
      }
      .ant-pagination-simple {
        .ant-pagination-simple-pager {
          margin-top: -3px;
        }
      }
    }
  }
  .applayDetailButton {
    border-color: @primary-color;
    color: @primary-color;
    background: #fff;
    &:hover {
      color: white;
      background-color: @primary-color;
    }
  }
  .goApplay {
    display: inline-block;
    width: 48px;
    text-align: center;
  }
}
