@borderColor: #E4E8F3;
@activeColor: #2db7f5;
#UserBalance {
  margin-bottom: 50px;
  .myAccount,
  .myTeam,
  .version {
    background: white;
    border-radius: 5px;
    font-size: 14px;
    .topRow {
      padding: 0 20px;
      line-height: 50px;
      height: 50px;
      .typeIcon {
        margin-right: 5px;
        font-size: 14px;
      }
      .edition {
        width: 15px;
        height: 15px;
        vertical-align: middle;
      }
      span:nth-child(3) {
        cursor: pointer;
        -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
        &:hover {
          color: #2db7f5;
        }
      }
    }
    .moneyRow {
      border-top: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      padding: 30px 50px;
      .unit {
        font-size: 1.5em;
        color: @activeColor;
      }
      .money {
        font-size: 2em;
        color: @activeColor;
      }
      .notText {
        line-height: 50px;
      }
      .fa-users {
        font-size: 2em;
        color: @activeColor;
      }
    }
    .rechargeRow {
      padding: 0 50px;
      line-height: 50px;
    }
  }
  .myTeam,
  .version {
    margin-top: 20px;
  }
}
// ----------------  充值页面  ------------------
#UserPay {
  font-size: 14px;
  .topPay {
    height: 50px;
    padding: 20px 0;
    .backjia {
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      border-right: 15px solid #00A0E9;
      font-size: 0;
      line-height: 0;
    }
    .btn-back {
      display: inline-block;
      background: #00A0E9;
      color: white;
      height: 30px;
      line-height: 30px;
      vertical-align: top;
      width: 43px;
      padding-left: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
    }
  }
  .refill {
    border-left: 5px solid #2DB7F5;
    margin-left: 20px;
    line-height: 33px;
    padding: 0 4px;
    position: relative;
    top: -10px;
  }
  .sendInfo {
    color: #1a7db6;
    font-size: 13px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 20px 0;
  }
  .payDetail {
    background: white;
    padding: 0 50px 50px;
    .row {
      line-height: 50px;
    }
    .keys {
      display: inline-block;
      width: 90px;
      float: left;
    }
    .pushMoney {
      margin-top: 10px;
      overflow: hidden;
      cursor: pointer;
      width: 80px;
      float: left;
      height: 33px;
      line-height: 33px;
      font-weight: 600;
      text-align: center;
      position: relative;
      border: 1px solid @borderColor;
      border-radius: 6px;
      vertical-align: middle;
      margin-right: 10px;
      i {
        display: none;
        font-size: 8px;
        position: absolute;
        right: 0;
        bottom: -2px;
        z-index: 2;
        color: white;
      }
      .triangle {
        display: none;
        width: 0;
        height: 0;
        border-bottom: 0 solid transparent;
        border-top: 20px solid transparent;
        border-right: 23px solid #00A1EC;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 14px;
        right: 0;
      }
    }
    .pushMoney.selected {
      border-bottom-right-radius: 0;
      border: 1px solid @activeColor;
      color: @activeColor;
      .triangle,
      i {
        display: inline-block;
      }
    }
  }
  .upgradePayDetail {
    margin-top: 20px;
    background: white;
    padding: 10px 50px 50px 50px;
    .row {
      margin-top: 10px;
      line-height: 50px;
    }
    .keys {
      display: inline-block;
      width: 100px;
      float: left;
    }
    .amount {
      color: #2db7f5;
      font-size: 30px;
    }
    .pushMoney {
      margin-top: 10px;
      overflow: hidden;
      cursor: pointer;
      width: 120px;
      float: left;
      height: 80px;
      text-align: center;
      position: relative;
      border: 1px solid @borderColor;
      border-radius: 6px;
      vertical-align: middle;
      margin-right: 10px;
      i {
        display: none;
        font-size: 8px;
        position: absolute;
        right: 0;
        bottom: -2px;
        z-index: 2;
        color: white;
      }
      .triangle {
        display: none;
        width: 0;
        height: 0;
        border-bottom: 0 solid transparent;
        border-top: 20px solid transparent;
        border-right: 23px solid #00A1EC;
        font-size: 0;
        line-height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      p:first-child {
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
      }
      p:nth-child(2) {
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        .bigSpan {
          font-size: 18px !important;
        }
      }
    }
    .pushMoney.selected {
      border-bottom-right-radius: 0;
      border: 1px solid @activeColor;
      color: @activeColor;
      .triangle,
      i {
        display: inline-block;
      }
    }
  }
  .againMore {
    padding-left: 100px;
    .pay-row {
      clear: both;
      overflow: hidden;
      .wrap-img {
        width: 140px;
        height: 50px;
        float: left;
        border: 1px solid @borderColor;
        margin-right: 40px;
        vertical-align: middle;
        text-align: center;
        padding-top: 6px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        .userBalanceImg {
          margin-top: 7px;
        }
        i {
          display: none;
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 8px;
          z-index: 2;
          color: white;
        }
        .triangle {
          display: none;
          width: 0;
          height: 0;
          border-bottom: 0 solid transparent;
          border-top: 20px solid transparent;
          border-right: 23px solid #00A1EC;
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 28px;
          right: 0;
        }
      }
      .wrap-img.selected {
        border-color: #00A1EC;
        i {
          display: inline-block;
        }
        .triangle {
          display: block;
        }
      }
    }
    .downRow {
      margin-top: 30px;
    }
    .tips {
      border: 1px solid @borderColor;
      padding: 20px;
      border-radius: 5px;
      .list-top {
        font-weight: 500;
        color: #000;
        line-height: 50px;
        height: 40px;
        // font-family: '宋体'
      }
      .ticket {
        background: #F6F7FB;
        border: 1px solid @borderColor;
        padding: 15px 20px;
        border-radius: 5px;
      }
      .timeout {
        color: #EE5341;
      }
      .list-row {
        line-height: 40px;
        padding: 0 20px;
      }
    }
  }
}
.paySuccessModal {
  .ant-modal-header {
    background: white !important;
    text-indent: -9999px;
    border: 0;
  }
  .ant-modal-body {
    font-size: 14px;
    text-align: center;
    p {
      line-height: 25px;
      .success {
        color: #5DB75D;
      }
    }
    .paySuccess {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background: #5EB75D;
      text-align: center;
      overflow: hidden;
      font-size: 40px;
      color: white;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
    }
    .paySuccess.question {
      background: #009EE7;
    }
    .payText.question {
      border: 0;
    }
    .payText {
      width: 160px;
      margin: 0 auto;
      border-bottom: 1px solid @borderColor;
      line-height: 30px;
    }
  }
  .ant-modal-footer {
    text-align: center;
    background: #F7F8FC;
    line-height: 40px;
  }
}
.upgradeModal {
  .ant-modal-header {
    background: white !important;
    text-indent: -9999px;
    border: 0;
  }
  .ant-modal-body {
    font-size: 14px;
    text-align: center;
    p {
      line-height: 25px;
      .success {
        color: #5DB75D;
      }
    }
    .renewalsSuccess {
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background: #5EB75D;
      text-align: center;
      overflow: hidden;
      font-size: 40px;
      color: white;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
    }
    .successText {
      font-size: 20px;
      color: #5DB75D;
      margin-top: 10px;
    }
  }
  .ant-modal-footer {
    text-align: center;
    background: #F7F8FC;
    line-height: 40px;
  }
}
.wechatPayModal {
  .ant-modal-body {
    font-size: 14px;
    text-align: center;
    .qrCodeLoading {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      padding-top: 84px;
    }
    .qrCode {
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
    .wechatPayModalFooter {
      margin-top: 20px;
      padding-top: 15px;
      border-top: 1px solid @borderColor;
    }
  }
}