.restrictsIP {
  .addInstance {
    height: 56px;
    line-height: 32px;
    .add {
      cursor: pointer;
      &:hover {
        color: #2db7f5;
      }
    }
  }
  .ant-form-explain {
    width: 300px;
  }
  .delBtn {
    border: none;
    padding: 0;
  }
}
