#TenxFlowDetailFlow {
  .ant-alert-info {
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    padding: 14px !important;
    line-height: 20px;
    color: #1a7db6;
    font-size: 14px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
    cursor: default;
  }
  .createCardBox{
    transition: all 0.3s;
    position: relative;
    float: left;
    width: 382px;
    max-width: 700px;
    min-height: 240px;
    box-shadow: 0 0 10px #dadada;
    .ant-card-body {
      padding: 0 !important;
    }
  }
  .createCard{
    color: #999999;
    text-align: center;
    cursor: pointer;
    .addIcon{
      font-size: 80px;
      line-height: 242px;
    }
    p{
      position: absolute;
      bottom: 40px;
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }
}