@import '../../../../../src/assets/style/site/core';
@border-style: @border-width-base @border-style-base @border-color-base;
.releaseModal {
  .ant-form-item-label {
    label {
      &::after {
        content: '';
      }
    }
  }
  .uploadBox {
    .ant-upload {
      border: @border-width-base dashed @border-color-base;
      width: 140px;
      height: 126px;
      background-color: #fbfbfb;
      border-radius: @border-radius-base;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  .uploadHint {
    margin-top: 15px;
  }
  .preview {
    border: @border-style;
    width: 140px;
    height: 126px;
    border-radius: @border-radius-base;
    .previewBody {
      border-bottom: @border-style;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 85px;
    }
    .previewFooter {
      height: 40px;
      & > div:first-of-type {
        text-align: center;
      }
    }
  }
}
