.ComposeCenterBox {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 60px;
  #ComposeCenter {
    .titleList {
      width: 100%;
      .ant-card-body {
        padding: 0 !important;
      }
      ul {
        float: left;
        min-height: 50px;
      }
      li {
        padding: 0 25px;
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        span {
          cursor: pointer;
        }
      }
      .titleDetail:hover {
        background-color: #F8F8F8;
      }
      .titleSelected {
        background-color: #F8F8F8;
        color: #2db7f5;
      }
    }
  }
}