.PopSelectContent {
  .searchInt {
    width: 150px;
    margin: 0px 15px;
  }
  .searchList {
    border-top: 1px solid #eee;
    max-height: 160px;
    overflow: auto;
    .searchItem {
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      padding-left: 25px;
      &:hover {
        background-color: #effdfe;
        color: #37afee;
      }
    }
    .myItem {
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      padding-left: 15px;
      &:hover {
        background-color: #effdfe;
        color: #37afee;
      }
    }
  }
  .ant-search-btn {
    height: 26px;
  }
}