.PopSelect {
  .PopSelectContent {
    .searchInt {
      width: 150px;
      margin: 0 0 8px 16px;
    }
    .searchList {
      border-top: 1px solid #eee;
      .searchItem {
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        padding-left: 14px;
        &:hover {
          background-color: #effdfe;
          color: #37afee;
        }
      }
    }
  }
  .PopSelectTitle {

  }
  .popBtn {
    width: 140px;
    background-color: #fff;
    border-color: #009ee8;
    color: #009ee8;
    .icon {
      float: left;
      margin-top: 3px;
    }
  }
  .lineBtn {
    display: inline-block;
    width: 110px;
  }
  .ant-popover-title {
    background-color: #eee;
  }
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 8px 0;
  }
  .anticon {
    float: right;
    margin-top: 3px;
  }
  .rotate0{
    transform: scale(.66666667) rotate(0deg);
    transition: transform .2s ease;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial;
  }
  .rotate180{
    transform: scale(.66666667) rotate(180deg);
    transition: transform .2s ease;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial;
  }
}
