.PopSelect {
  .PopSelectTitle {

  }
  .popBtn {
    width: 140px;
    background-color: #fff;
    border-color: #009ee8;
    color: #009ee8;
    .icon {
      float: left;
      margin-top: 3px;
    }
  }
  .lineBtn {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
  }
  .ant-popover-title {
    background-color: #eee;
  }
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 8px 0;
  }
  .anticon {
    float: right;
  }
  .rotate0{
    transform: scale(.66666667) rotate(0deg);
    transition: all .2s ease;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial;
  }
  .rotate180{
    margin-top: -4px;
    transform: scale(.66666667) rotate(180deg);
    transition: all .2s ease;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: initial;
  }
}
