#SearchInput {
  position: relative;
  float: left;
  display: inline-block;
  .ant-select-selection {
    border-color: transparent;
    box-shadow: none;
  }
  .search {
    .searchBtn {
      position: relative;
      top: -30px;
      float: right;
      left: -1px;
      z-index: 10;
      border: none;
      background-color: #fff;
    }
  }
  .littleLeft {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    color: #949494;
    cursor: pointer;
  }
  .littleRight {
    float: left;
  }
}