#SearchInput {
  display: inline-block;
  .ant-input {
    height: 36px;
    border-radius: 3px;
  }
  .search {
    .searchBtn {
      position: relative;
      top: -30px;
      float: right;
      left: -1px;
      z-index: 10;
      border: none;
      background-color: #fff;
    }
  }
}
#notFound {
  height: 500px;
  text-align: center;
  .notFoundTip {
    font-size: 18px;
    line-height: 500px;
  }
  a {
    position: relative;
    bottom: 100px;
  }
}