#SearchInput {
  display: inline-block;
  .search {
    .searchBtn {
      position: relative;
      top: -27px;
      left: 250px;
      z-index: 10;
      border: none;
      background-color: #fff;
    }
  }
}
#notFound {
  height: 500px;
  text-align: center;
  .notFoundTip {
    font-size: 18px;
    line-height: 500px;
  }
  a {
    position: relative;
    bottom: 100px;
  }
}