.imageDetailInfo {
  p {
    margin-top: 20px;
    line-height: 30px;
  }
  .codeBox {
    padding: 15px;
    background-color: #F8F8F8;
    .leftSpan,
    .rightSpan {
      float: left;
      display: block;
      width: 40%;
      line-height: 30px;
    }
  }
}