#highSettingDnsServer{
  .ant-card-body {
    padding: 0px !important;
    padding-left: 50x !important;
    height: 30px !important;
  }

}
#network-tabs {
  padding-top: 20px;
  .ant-tabs-nav-scroll {
    // text-align: center;
    padding-left: calc(~"50% - 210px")
  }
}
