#Login{
  background: url(/img/login-bg.jpg)
  center
  center
  / cover no-repeat fixed;
  width: 100%;
  position: absolute;
  height: 100%;
  .loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 460px;
    border-radius: 5px;
    background-color: #fff;
    .captchaImg {
      cursor: pointer;
      height: 32px;
      width: 96px;
      position: relative;
      float: right;
    }
    .test {
      /**/
    }
  }
}