#GlobalConfig{
  min-width:1155px;
  padding-bottom: 365px;
  .GlobalConfigEmail,
  .conInter,
  .mirrorservice,
  .storageservice{
    overflow: hidden;
    .title{
      height:16px;
      line-height: 16px;
      font-size: 16px;
      border-left:6px solid #46b2fa;
      padding-left: 9px;
      margin:20px 0 12px 0;
      .tips{
        margin-left: 12px;
        font-size: 12px;
        color: #929697;
      }
    }
    .content{
      font-size: 14px;
      background-color: #ffffff;
      border-radius: 3px;
      overflow: hidden;
      .contentHeader{
        height:51px;
        line-height: 51px;
        padding:0 0 0 14px;
        border-bottom: 1px solid #e0e0e0;
      }
      .contentMain{
        padding: 30px 0 0 0;
        // 图片
        .contentImg{
          float: left;
          width:204px;
          overflow: hidden;
          margin:0;
          img{
            width:100%;
          }
        }
        // 键
        .contentkeys{
          float: left;
          overflow: hidden;
          .key{
            font-size: 14px;
            width:106px;
            height:53px;
            line-height: 32px;
          }
        }
        // 表单
        .contentForm{
          overflow: hidden;
          position: relative;
          .contentFormMain{
            margin:0;
            float: left;
            min-width: 504px;
            .activeEve{
              color: #00A0E9;
              cursor: pointer;
              position: absolute;
              z-index: 10;
              right: -20px;
              top: 12px;
            }
            // 按钮
            .itemInputLeft{
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
  .GlobalConfigEmail{
    .contentImg{
      padding: 25px 50px 0 50px;
    }
  }
  .conInter{
    .contentImg{
      padding: 0 52px;
    }
  }
  .mirrorservice{
    .contentImg{
      padding: 28px 48px 0 48px;
    }
  }
  .storageservice{
    .contentImg{
      padding:0 35px;
    }
  }

}