#GlobalConfig{
  //min-width:1155px;
  .GlobalConfigEmail,
  .conInter,
  .mirrorservice,
  .continue,
  .GlobalConfigMSA,
  .GlobalConfigVm,
  .storageservice{
    overflow: hidden;
    .title {
      height:16px;
      line-height: 16px;
      font-size: 16px;
      border-left: 5px solid #46b2fa;
      padding-left: 9px;
      margin-top: 20px;
      margin-bottom: 20px;
      .tips{
        margin-left: 12px;
        font-size: 12px;
        color: #929697;
      }
    }
    .content{
      font-size: 14px;
      background-color: #ffffff;
      border-radius: 3px;
      overflow: hidden;
      .contentHeader{
        height:51px;
        line-height: 51px;
        padding:0 0 0 14px;
        border-bottom: 1px solid #e0e0e0;
      }
      .contentMain{
        padding: 30px 0 0 0;
        overflow: hidden;
        // 图片
        .contentImg{
          float: left;
          width:204px;
          overflow: hidden;
          margin:0;
        }
        // 键
        .contentkeys{
          float: left;
          overflow: hidden;
          .key{
            font-size: 14px;
            width:106px;
            height:53px;
            line-height: 32px;
          }
        }
        // 表单
        .contentForm{
          overflow: hidden;
          position: relative;
          width:calc(~"100% - 310px");
          margin:0;
          form{
            width:100%;
            padding-right: 10px;
            max-width: 600px;
          }
          .contentFormMain{
            margin:0;
            float: left;
            //min-width: 504px;
            .activeEve{
              color: #00A0E9;
              cursor: pointer;
              position: absolute;
              z-index: 10;
              right: -20px;
              top: 12px;
            }
            // 按钮
            .itemInputLeft{
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
  .GlobalConfigMSA {
    margin-bottom: 20px;
    .contentImg{
      padding: 0 50px 25px 50px;
    }
  }
  .GlobalConfigVm {
    .contentImg{
      padding: 0 50px 25px 50px;
    }
  }
  .GlobalConfigEmail {
    .title {
      margin-top: 0;
    }
    .contentImg{
      padding: 25px 50px 0 50px;
    }
  }
  .conInter{
    .contentImg{
      padding: 0 52px;
    }
  }
  .mirrorservice{
    .contentImg{
      padding: 0 48px 28px 48px;
    }
  }
  .storageservice{
    .contentImg{
      padding: 0 48px 28px 48px;
    }
  }
  .continue{
    padding-bottom: 20px;
    .contentImg{
      padding:0 52px;
    }
    .contenttable{
      float: left;
      width:calc(~"100% - 204px");
      padding-right: 25px;
      .contenttableheader{
        font-size: 12px;
        color: #a2a2a2;
        padding-bottom: 15px;
        .forward{
          font-size: 14px;
          margin-right: 30px;
          color: #323232;
        }
      }
    }
  }
}