.add-cached-volume-modal {
  .ant-modal-body {
    .ant-form-item-label {
      text-align: left;
      label {
        &::before, &::after {
          display: none;
        }
      }
    }
    .ant-input-number {
      width: 150px;
    }
  }
}