.cached-volumes {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  .ant-alert {
    margin-bottom: 0 !important;
    padding: 14px 24px !important;
    line-height: 20px;
    color: #1a7db6;
    font-size: 14px !important;
    background-color: #d9edf6;
    border: 1px dashed #85d7fd !important;
  }
  .operaBox {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    .createBtn {
      padding: 5px 15px !important;
    }
    .searchBox {
      // float: right;
      margin-left: 20px;
      width: 180px;
      height: 32px;
      padding-right: 28px;
    }
    .fa-search {
      position: relative;
      // top: 28px;
      // right: 10px;
      margin-left: -20px;
      font-size: 14px;
      color: #999999;
    }
  }
  .icon-marginRight {
    margin-right: 8px;
  }
  .error {
    color: red;
  }
  .used {
    color: #f85a5a;
  }
  .no_used {
    color: #5cb85c
  }
  .ant-table-thead > tr > th {
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
  }
}