<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>【专享】时速云两周年，充值返现金</title>
</head>
<body>
<table style="font-family: 'Microsoft YaHei';background: #edf5f8;width: 100%;height: 100%">
  <tbody>
  <tr>
    <td>
      <table style="margin: 55px auto 0;width: 740px;">
        <tbody>
        <tr>
          <td style="height: 54px;text-align: center;">
            <img src="https://dn-tenxcloud-static.qbox.me/img/logoSmall.png" alt="TenxCloud" style="display: inline-block">
          </td>
        </tr>
        </tbody>
      </table>
      <table style="width: 740px;margin: 0 auto;border-radius: 3px;border-collapse:collapse;border-spacing:0;">
        <tbody>
        <tr>
          <td style="height: 40px;line-height: 40px;text-align: center;
                    background-color: #2bb9f7;color: #fff;font-size: 16px;border-radius: 3px 3px 0 0;border-bottom: 1px solid #dfdfdf;
                    width: 740px;"
          >
            【专享】时速云两周年，充值返现金
          </td>
        </tr>
        <tr>
          <td style="padding: 40px 36px;background: #fff;border-radius: 0 0 3px 3px;color: #737373;">
            <ul style="list-style: none;margin: 0;padding: 0;font-size: 16px">
              <li style="padding:5px 0;">在小伙伴们的陪伴下，</li>
              <li style="padding:5px 0;">时速云公有云平台已上线<span style="color:#2bbaf6;padding: 0 4px;">两周年</span>(2015.6-2017.6)啦！</li>
              <li style="padding:5px 0;">为感谢大家的支持，我们开展为期三周的特惠充值活动。</li>
              <li style="padding:25px 0;">
                <div>
                  <img src="https://dn-weekly.qbox.me/100.png" alt="" style="padding:0 8px 15px 0">
                  <img src="https://dn-weekly.qbox.me/200.png" alt="" style="padding:0 8px 15px 0">
                  <img src="https://dn-weekly.qbox.me/300.png" alt="" style="padding:0 8px 15px 0">
                </div>
                <div>
                  <img src="https://dn-weekly.qbox.me/500.png" style="padding-right:8px">
                  <img src="https://dn-weekly.qbox.me/1000.png" alt="">
                </div>
              </li>
              <li style="font-size: 12px;color: black;font-weight: 600;padding-bottom: 20px">活动时间<span style="color:#2bbaf6;padding: 0 4px;">2017年6月5日-30日</span></li>
              <li style="font-size: 12px;color: black;font-weight: 600;padding-bottom: 10px">规则</li>
              <li style="height: 28px;line-height: 28px;font-size: 12px"><span style="display: inline-block;margin-right:11px;color: #ffffff;width: 18px;height: 18px;line-height:18px;text-align:center;border-radius:4px;background:#2bbaf6 ">1</span>每个账号每种额度限参与一次；</li>
              <li style="height: 28px;line-height: 28px;font-size: 12px"><span style="display: inline-block;margin-right:11px;color: #ffffff;width: 18px;height: 18px;line-height:18px;text-align:center;border-radius:4px;background:#2bbaf6 ">2</span>充值返还现金券，将在充值后<span style="color:#2bbaf6;">3个工作日</span>内到账，可在充值记录中查看；</li>
              <li style="height: 28px;line-height: 28px;font-size: 12px"><span style="display: inline-block;margin-right:11px;color: #ffffff;width: 18px;height: 18px;line-height:18px;text-align:center;border-radius:4px;background:#2bbaf6 ">3</span>如有任何疑问，请点击官网右下角工单联系；</li>
              <li style="height: 28px;line-height: 28px;font-size: 12px"><span style="display: inline-block;margin-right:11px;color: #ffffff;width: 18px;height: 18px;line-height:18px;text-align:center;border-radius:4px;background:#2bbaf6 ">4</span>时速云对本活动拥有最终解释权。</li>
              <li style="border-bottom: 1px solid #e9e9e9;padding: 30px 0"><a href="https://portal.tenxcloud.com/account/balance/payment" style="display: block;margin: 0 auto;text-decoration: none;color: #ffffff;background: #2bbaf6;width: 120px;height: 40px;line-height: 40px;text-align: center;border-radius: 4px;">立即参与</a></li>
              <li style="text-align: right;padding-top: 20px;font-size: 14px;color:black;">时速云团队</li>
              <li style="text-align: right;font-size: 14px">2017.06.05 星期一</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="margin: 16px auto 55px;color: #b4b5b9;width: 740px;font-size: 12px">
        <tbody>
        <tr style="height: 40px;">
          <td style="width: 200px;padding: 0 23px 0 35px;">
            <img src="https://dn-tenxcloud-static.qbox.me/logoBig.png" alt="TenxCloud">
          </td>
          <td style="width: 200px;">
            <span style="display: inline-block;height: 12px;padding: 5px 0;">如有任何疑问,欢迎联系时速云团队</span>
            <span style="display: inline-block;height: 12px;padding: 5px 0;">邮箱：<span style="color:#2bbaf6;padding: 0 4px;">service@tenxcloud.com</span></span>
          </td>
          <td style="text-align: right">
            <span style="display: inline-block;height: 12px;padding: 5px 0;color: #edf5f8;">如有任何疑问,欢迎联系时速云团队</span>
            <span style="display: inline-block;height: 12px;padding: 5px 0;">电话：<span style="color:#2bbaf6;padding: 0 4px;">400-626-1876</span></span>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>