<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>%subject%</title>
</head>
<body>
  <table style="font-family: 'Microsoft YaHei';background: #edf5f8;width: 100%;height: 100%">
    <tbody>
      <tr>
        <td>
          <table style="margin: 55px auto 0;width: 740px;">
            <tbody>
              <tr>
                <td style="height: 54px;text-align: center;">
                  <img src="https://dn-tenxcloud-static.qbox.me/img/logoSmall.png" alt="TenxCloud" style="display: inline-block">
                </td>
              </tr>
            </tbody>
          </table>
          <table style="width: 740px;margin: 0 auto;border-radius: 3px;border-collapse:collapse;border-spacing:0;">
            <tbody>
              <tr>
                <td style="height: 40px;line-height: 40px;text-align: center;
                    background-color: #2bb9f7;color: #fff;font-size: 16px;border-radius: 3px 3px 0 0;border-bottom: 1px solid #dfdfdf;
                    width: 740px;"
                >
                  %subject%
                </td>
              </tr>
              <tr>
                <td style="padding: 40px 36px;background: #fff;border-radius: 0 0 3px 3px;color: #737373;">
                  <table>
                    <tbody>
                      <tr>
                        <td style="color: #565656;height: 33px;">
                          亲爱的时速云用户 :
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 24px;">
                          您已解散团队 <b>%teamName%</b>，望知晓！
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 24px;">
                          <b>该团队资源与余额处理：</b>
                          <table style="margin-top: 10px;border-collapse: collapse;border: 1px solid #e3e3e3;text-align: center">
                            <tr style="height: 33px;line-height: 33px;border-bottom: 1px solid #fff">
                              <td style="border-right: 2px solid #fff;background-color: #acacac;color: #fff;width: 130px;"
                              >
                                <b>资源</b>
                              </td>
                              <td style="background-color: #f4f4f4;color: #575757;padding: 0 50px;">
                                团队内的应用、存储、数据库均被清空
                              </td>
                            </tr>
                            <tr style="height: 33px;line-height: 33px">
                              <td style="border-right: 2px solid #fff;background-color: #acacac;color: #fff;width: 130px;"
                              >
                                <b>余额</b>
                              </td>
                              <td style="background-color: #f4f4f4;color: #575757;padding: 0 50px; display: %showRefund%">
                                团队余额退回至"%teamAdminName%（创建者）"帐户<br/>
                                稍后请查收个人帐户的充值记录<br/>
                                【来源显示：时速云（注：团队解散退款）】
                              </td>
                              <td style="background-color: #f4f4f4;color: #575757;padding: 0 50px; display: %showNoRefund%">
                                该团队帐户无余额，无需退款
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 24px;">
                          <br></br>
                          时速云团队
                          <br/>
                          %date%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="margin: 16px auto 55px;color: #b4b5b9;width: 740px;">
            <tbody>
              <tr style="height: 40px;">
                <td style="width: 200px;padding: 0 23px 0 35px;">
                  <img src="https://dn-tenxcloud-static.qbox.me/logoBig.png" alt="TenxCloud">
                </td>
                <td>
                  如有任何疑问,欢迎联系时速云(
                  <span>
                    <a href="mailto:%systemEmail%" target="_blank" style="color: #2bbbfa;">%systemEmail%</a>
                  </span>)
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>