<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>【产品升级】时速云 2.0 升级通知</title>
  </head>

  <body>
    <table style="font-family: 'Microsoft YaHei';background: #edf5f8;width: 100%;height: 100%">
      <tbody>
        <tr>
          <td>
            <table style="margin: 55px auto 0;width: 740px;">
              <tbody>
                <tr>
                  <td style="height: 54px;text-align: center;">
                    <img src="https://dn-tenxcloud-static.qbox.me/img/logoSmall.png" alt="TenxCloud" style="display: inline-block">
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="width: 740px;margin: 0 auto;border-radius: 3px;border-collapse:collapse;border-spacing:0;">
              <tbody>
                <tr>
                  <td style="height: 40px;line-height: 40px;text-align: center;
                    background-color: #2bb9f7;color: #fff;font-size: 16px;border-radius: 3px 3px 0 0;border-bottom: 1px solid #dfdfdf;
                    width: 740px;">
                    【产品升级】时速云 2.0 升级通知
                  </td>
                </tr>
                <tr>
                  <td style="padding: 40px 36px;background: #fff;border-radius: 0 0 3px 3px;color: #737373;">
                    <table>
                      <tbody>
                        <tr>
                          <td style="color: #565656;height: 33px;font-size: 12px;">
                            亲爱的时速云用户 :
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px;line-height: 24px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017新年伊始，经过数月的潜心研发锤炼，全新的时速云2.0版本终于要和大家见面了。正式开放2.0之前，我们已邀请若干资深企业用户及开发者用户对新产品进行了深度的测试使用，经过了数轮的反馈体验及改良。时速云团队决定将我们的新产品于2017年1月9号正式开放！
                          </td>
                        </tr>
                        <tr style="height: 30px">
                          <td style="color: #505050;font-weight: 600;font-size: 14px;padding-top: 10px;">
                            时速云 2.0 抢鲜亮点
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">1</div>
                            <span style="font-size: 12px;">国内首个完全基于数据中心的高性能、高弹性的容器云服务</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">2</div>
                            <span style="font-size: 12px;">全新的产品功能体系，以应用为中心，打造极致的 [应用] ▪ [服务] ▪ [容器] 体验</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">3</div>
                            <span style="font-size: 12px;">为微服务而生的交付中心，让微服务的管理更便捷</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">4</div>
                            <span style="font-size: 12px;">别具一格的TenxFlow，实现了自动化的编译打包、镜像构建、集成测试、持续部署的All-In-One Plat-form</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">5</div>
                            <span style="font-size: 12px;">团队协作，资源共享，极速精致的UX体验</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="line-height: 24px;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">6</div>
                            <span style="font-size: 12px;">企业版 Lite 悄然上线，让私有容器云触手可及</span>
                          </td>
                        </tr>
                        <tr style="height: 30px;">
                          <td style="color: #505050;font-weight: 600;font-size: 14px;padding-top: 10px;">
                            时速云 2.0 升级计划
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px;line-height: 24px;">
                            为了给用户提供更优质的服务，将全面启用自有的高性能数据中心支撑时速云公有云服务。经过团队的慎重考虑，对于原有的北京一区、北京二区、杭州区，我们将陆续把应用迁移到新的数据中心，待迁移完成后将停止上述三个区域的服务。北美区采用In-Place Upgrade的方式，届时将直接升级至2.0。
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #d5f1fd;color: #585858;text-align: center;font-size: 12px;">原有区域</div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #2bb9f7;color:#FFFFFF;text-align: center;font-size: 12px;">升级迁移至</div>
                              <div style="width: 33%;height:33px;line-height:33px;float: left;background-color: #30d37a;color:#FFFFFF;text-align: center;font-size: 12px;">升级时间</div>
                              <div style="clear: both;"></div>
                            </div>
                            <div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #fdfdfd;color: #585858;text-align: center;font-size: 12px;">北京一区</div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #fdfdfd;color: #2bb9f7;text-align: center;font-size: 12px;">新数据中心</div>
                              <div style="width: 33%;height:33px;line-height:33px;float: left;background-color: #fdfdfd;color: #30d37a;text-align: center;font-size: 12px;">2017.01.14</div>
                            </div>
                            <div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #f6f6f6;color: #585858;text-align: center;font-size: 12px;">杭州区</div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #f6f6f6;color: #2bb9f7;text-align: center;font-size: 12px;">新数据中心</div>
                              <div style="width: 33%;height:33px;line-height:33px;float: left;background-color: #f6f6f6;color: #30d37a;text-align: center;font-size: 12px;">2017.01.14</div>
                            </div>
                            <div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #fdfdfd;color: #585858;text-align: center;font-size: 12px;">北京二区</div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #fdfdfd;color: #2bb9f7;text-align: center;font-size: 12px;">新数据中心</div>
                              <div style="width: 33%;height:33px;line-height:33px;float: left;background-color: #fdfdfd;color: #585858;text-align: center;font-size: 12px;">待定（稍后通知）</div>
                            </div>
                            <div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #f6f6f6;color: #585858;text-align: center;font-size: 12px;">北美区</div>
                              <div style="width: 33%;height:33px;line-height:33px;border-right: 1px solid #FFFFFF;float: left;background-color: #f6f6f6;color: #585858;text-align: center;font-size: 12px;">-</div>
                              <div style="width: 33%;height:33px;line-height:33px;float: left;background-color: #f6f6f6;color: #585858;text-align: center;font-size: 12px;">待定（稍后通知）</div>
                            </div>
                          </td>
                        </tr>
                        <tr style="height: 40px;">
                          <td style="color: #505050;font-weight: 600;font-size: 12px;">升级方式：</td>
                        </tr>
                        <tr>
                          <td style="color: #737373;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">1</div>
                            <span style="font-size: 12px;line-height: 24px;">推荐在官方升级日期前，用户登录 2.0 新版控制台，自行迁移。</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px;line-height: 24px;color: #737373;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">2</div>
                            <span>在官方给出的升级日前夜，时速云团队将对用户仍在旧平台运行的应用，自动完成迁移。</span>
                          </td>
                        </tr>
                        <tr style="height: 40px;">
                          <td style="color: #505050;font-weight: 600;font-size: 12px;">注意事项：</td>
                        </tr>
                        <tr>
                          <td style="color: #737373;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">1</div>
                            <span style="font-size: 12px;line-height: 24px;">升级期间，请注意备份您的重要数据，数据迁移将由平台方操作，不会对运行业务产生影响</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px;line-height: 24px;color: #737373;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">2</div>
                            <span>关于新&nbsp;▪&nbsp;老版本</span><br />
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>2017.01.09 起，启用新版本的账户注册、认证流程；</span></div>
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>原老版本用户将免费获赠一个月价值￥99的专业版；（账户迁移完成算起）</span></div>
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>原有充值费用待迁移完成后将平移至新平台，消费情况&账户余额均不受影响；</span></div>
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>若老版本用户的余额需提前平移至新平台，可通过工单向我们咨询</span></div>
                          </td>
                        </tr>
                        <tr>
                          <td style="font-size: 12px;line-height: 24px;color: #737373;">
                            <div style="width: 18px;height: 18px;border-radius: 4px;color: #FFFFFF;line-height: 18px;background-color: #2bb9f7;display: inline-block;text-align: center;font-size: 12px;">3</div>
                            <span>关于体验金（原优惠券）</span><br />
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>新注册用户，需完成账户认证才可以获赠体验金（个人账户￥5&nbsp;|&nbsp;企业账户￥50）；</span></div>
                            <div style="padding-left: 22px;"><span style="color: #2bb9f7;">▪</span>&nbsp;&nbsp;<span>原老用户，原有优惠券待完成账户迁移后将自动失效，因已发放优惠券，将不再因认证发放体验金，通过认证账户将获得更多新特性</span></div>
                          </td>
                        </tr>
                        <tr style="height: 60px;">
                          <td style="font-size: 12px;color: #8f8f8f;line-height: 18px">
                            我们将严肃对待此次2.0的重要升级。如在后续的升级过程中遇到问题，请及时与我们联系，我们将竭诚为您排忧。在海量的数据迁移过程中，如遇差错，届时还请多多理解包涵，再次感谢广大用户的支持！
                          </td>
                        </tr>
                        <tr >
                          <td>
                            <div style="height: 1px;border-bottom: 1px solid #d6d6d6;"></div>
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 30px;text-align: right;line-height: 20px">
                            <span style="color: #444444;font-size: 14px;">时速云 2.0 团队</span>
                            <br/>
                            <span style="color: #8f8f8f;font-size: 12px;">2017年1月6日</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="margin: 16px auto 55px;color: #b4b5b9;width: 740px;">
              <tbody>
                <tr style="height: 40px;">
                  <td style="width: 200px;padding: 0 23px 0 35px;">
                    <img src="https://dn-tenxcloud-static.qbox.me/logoBig.png" alt="TenxCloud">
                  </td>
                  <td>
                    如有任何疑问,欢迎联系时速云(
                    <span>
                    <a href="mailto:service@tenxcloud.com" target="_blank" style="color: #2bbbfa;">service@tenxcloud.com</a>
                  </span>)
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>