<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>${subject}</title>
</head>
<body>
  <table style="font-family: 'Microsoft YaHei';background: #edf5f8;width: 100%;height: 100%">
    <tbody>
      <tr>
        <td>
          <table style="margin: 55px auto 0;width: 740px;">
            <tbody>
              <tr>
                <td style="height: 54px;text-align: center;">
                  <img src="https://dn-tenxcloud-static.qbox.me/img/logoSmall.png" alt="TenxCloud" style="display: inline-block">
                </td>
              </tr>
            </tbody>
          </table>
          <table style="width: 740px;margin: 0 auto;border-radius: 3px;border-collapse:collapse;border-spacing:0;">
            <tbody>
              <tr>
                <td style="height: 40px;line-height: 40px;text-align: center;
                    background-color: #2bb9f7;color: #fff;font-size: 16px;border-radius: 3px 3px 0 0;border-bottom: 1px solid #dfdfdf;
                    width: 740px;"
                >
                  ${subject}
                </td>
              </tr>
              <tr>
                <td style="padding: 40px 36px;background: #fff;border-radius: 0 0 3px 3px;color: #737373;">
                  <table>
                    <tbody>
                      <tr>
                        <td style="color: #565656;height: 33px;"
                        >
                          亲爱的时速云用户 :
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 24px;">
                          请点击以下按钮确认激活：
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="${userActivationURL}" style="display: inline-block;height: 36px;line-height: 36px;
                                               border-radius: 2px;background-color: #2bb9f7;text-decoration: none;
                                               width: 127px;text-align: center;color: #fff;"
                          >
                            完成注册
                          </a>
                        </td>
                      </tr>
                      <tr style="height: 22px"></tr>
                      <tr>
                        <td>
                          或复制以下链接链接到浏览器地址栏中打开：
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 33px">
                          <a href="${userActivationURL}" style="color: #2bbbfa"
                          >
                            ${userActivationURL}
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td style="height: 24px;">
                          <br></br>
                          时速云团队
                          <br/>
                          ${date}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="margin: 16px auto 55px;color: #b4b5b9;width: 740px;">
            <tbody>
              <tr style="height: 40px;">
                <td style="width: 200px;padding: 0 23px 0 35px;">
                  <img src="https://dn-tenxcloud-static.qbox.me/logoBig.png" alt="TenxCloud">
                </td>
                <td>
                  如有任何疑问,欢迎联系时速云(
                  <span>
                    <a href="mailto:${systemEmail}" target="_blank" style="color: #2bbbfa;">${systemEmail}</a>
                  </span>)
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>