.securityPageDetail {
  padding: 20px;
  .detailTitle {
    font-size: 16px;
    border-left: 4px solid #2db7f5;
    padding-left: 8px;
    height: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
