#RechargeRecord {
  .selectSpace {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .RechargeTable {
    .ant-table-thead > tr > th {
      background-color: #fff;
      font-weight: normal;
      font-size: 14px;
    }
    .firstCol {
      padding-left: 24px;
    }
  }
}
.remindModal {
  .ant-alert-info {
    border-style: dashed;
    border-color: #82d6fb;
  }
}