#RechargeRecord {
  .lineBtn {
    font-size: 13px;
  }
  .selectSpace {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .popSelect {
    display: inline-block;
    cursor: pointer;
  }
  .popTeamSelect {
    display: inline-block;
    cursor: pointer;
  }
  svg {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    margin-top: 3px;
  }
  .RechargeTable {
    .ant-table-thead > tr > th {
      background-color: #fff;
      font-weight: normal;
      font-size: 14px;
      color: #2e2e2e !important;
    }
    .firstCol {
      padding-left: 24px;
    }
    .blueFont {
      color: #30aaf7;
    }
    .greenFont {
      color: #11b672;
    }
  }
}
.remindModal {
  .ant-modal-body {
    font-size: 14px;
    padding: 16px 30px;
    .ant-alert {
      margin-bottom: 20px;
    }
    .ant-alert-info {
      font-size: 14px;
      border-style: dashed;
      border-color: #82d6fb;
    }
  }
  .ant-btn {
    width: 80px;
    height: 36px;
    border-radius: 3px;
    font-weight: normal;
    border: none;
    &:hover {
      border: none;
    }
  }
  .ant-btn-ghost {
    background-color: #efefef;
    color: #717171;
  }
}